<div class="kmcc-centered-icon-pp">
    <figure class="kmcc-centered-icon-pp__image">
        {% if resource.icon is not empty %}
            <img src="{{ asset(resource.icon.url) }}">
        {% endif %}
    </figure>
</div>
