/* ==========================================================================
   Cupcake Navigation adjustments
   ========================================================================== */

.navigation {

}

.navigation--small {
    overflow: hidden;
}

.navigation__level--sublevel {
    left: auto;
    top: 100%;
}
