/* ==========================================================================
   Cupcake Slider adjustments
   ========================================================================== */

.slider-pp__caption--title {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    color: $green;
    text-transform: uppercase;
    @media (max-width: $screen-sm) {
        color: $white;
        font-size: 1.5em;
        text-shadow: none;
    }
}

.slider-pp__caption--text {
    display: block;
    margin: 0 auto;
    padding: 0 0 1em;
    @media (min-width: $screen-sm) {
        text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    }
    @media (min-width: $screen-md) {
        font-size: 1.5em;
        max-width: 25em;
    }
}
.slider-pp__caption {
    padding: 8% 4% 0 0;
    p {
        margin: 0 auto;
        padding: 0 0 1em;
    }
    .btn-primary {
        background: $green-dark;
    }
}


.slider-pp__thumbs--item {
    padding: 1em 2em;
    &:hover {
        .slider-pp__thumbs__title {
            color: $gray-dark;
        }
    }
    @media (max-width: 48em) {
        text-indent: -9999px;
    }
}
.slider-pp__thumbs__title {
    margin: 0 0 .2em 0;
    color: $gray-light;
    @include transition (all .3s ease-in-out);
}

.flex-active {
    .slider-pp__thumbs__title {
        color: $green;
    }
    &:hover {
        .slider-pp__thumbs__title {
            color: $green;
        }
    }
}

.flex-direction-nav a {
    z-index: 2;
    color: $green;
    &.flex-next, &.flex-prev {
        text-indent: 0;
        &:before {
            font-family: $iconfont-name;
        }
    }
    &.flex-next {
        @extend .icon-chevron-right;
    }
    &.flex-prev {
        @extend .icon-chevron-left;
    }
}

