{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block header %}
    <div class="page-header">
        <h1>{{ 'Dashboard' | trans }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% for widget in widgets %}
        {{ render_esi(url(widget.resolvedController, {'id' : id})) }}
    {% endfor %}
{% endblock %}

{% block extracss %}
    {% stylesheets
        filter="scss"
        "@KunstmaanDashboardBundle/Resources/public/scss/_dashboard.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}
