/* ==========================================================================
    image edit | cropper
   ========================================================================== */

.image-edit__crop-wrapper {
    width: 100%;
    height: 100%;

    &--hidden {
        display: none;
    }
}

.image-edit__preview {
    height: 100%;

    div {
        height: 100%;
    }
}
