/* ==========================================================================
   Lists
   ========================================================================== */

.link--gray {
    color: $gray;

    &:hover, &:focus {
        color: $green;
    }
}

.link--block {
    display: block;
}
