/* ==========================================================================
   Header
   ========================================================================== */
* {
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

.text--upper {
    text-transform: uppercase;
}
