{% set author = page.getAuthor() %}

<div class="container">
    <article class="blog-item">
        <header class="blog-item__head">
            <time class="blog-item__head__meta">
                {{ page.date | date("d/m/Y")}}
                {% if author is not empty %}
                    | <strong>{{ author.name }}</strong>
                {% endif %}
            </time>
            <h1 class="blog-item__head__title">
                {{ page.title }}
            </h1>
        </header>

        {{ render_pageparts(page, 'main') }}
    </article>
</div>
