services:
    kunstmaan_form.menu.adaptor.forms:
        class: Kunstmaan\FormBundle\Helper\Menu\FormSubmissionsMenuAdaptor
        tags:
            -  { name: kunstmaan_admin.menu.adaptor }

    kunstmaan_form.form_mailer:
        class: Kunstmaan\FormBundle\Helper\FormMailer
        arguments: ['@mailer', '@twig', '@request_stack']
        public: true

    kunstmaan_form.form_handler:
        class: Kunstmaan\FormBundle\Helper\FormHandler
        arguments: ['@service_container']
        public: true

    kunstmaan_form.configure_sub_actions_menu_listener:
        class: Kunstmaan\FormBundle\EventListener\ConfigureActionsMenuListener
        arguments: ['@doctrine.orm.entity_manager', '@router']
        tags:
            - { name: 'kernel.event_listener', event: 'kunstmaan_node.configureSubActionMenu', method: 'onSubActionMenuConfigure' }

    kunstmaan_form.send_email_listener:
        class: Kunstmaan\FormBundle\EventListener\SendEmailListener
        arguments: ['@kunstmaan_form.form_mailer']
        tags:
            - { name: 'kernel.event_listener', event: 'kunstmaan_form.add_submission', method: 'onSubmission' }

    Kunstmaan\FormBundle\ViewDataProvider\FormPageViewDataProvider:
        arguments: ['@request_stack', '@kunstmaan_form.form_handler', '@doctrine.orm.entity_manager']
        tags:
            - { name: 'kunstmaan.node.page_view_data_provider' }
