{% set tocContent = '' %}
{% for pagepart in pageparts.main %}
    {% if pagepart.getDefaultView == "KunstmaanPagePartBundle:HeaderPagePart:view.html.twig" %}
        {% set tocContent = tocContent~'<li><a href="#'~pagepart.getTitle|url_encode~'">'~pagepart.getTitle~'</a></li>' %}
    {% endif %}
{% endfor %}


{% if tocContent %}
    <div class="toc">
        <ul>
        {{ tocContent|raw }}
        </ul>
    </div>
{% endif %}
