/* ==========================================================================
   Spacers
   ========================================================================== */

.spacer-xs {
    margin-top: $spacing-mobile-xs;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-xs;
    }
}

.spacer-sm {
    margin-top: $spacing-mobile-sm;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-sm;
    }
}

.spacer-md {
    margin-top: $spacing-mobile-md;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-md;
    }
}

.spacer-lg {
    margin-top: $spacing-mobile-lg;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-lg;
    }
}

.spacer-xl {
    margin-top: $spacing-mobile-xl;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-xl;
    }
}

.spacer-xxl {
    margin-top: $spacing-mobile-xxl;

    @media (min-width: $break-md) {
        margin-top: $spacing-desktop-xxl;
    }
}
