parameters:
#    kunstmaan_voting_list.example.class: Kunstmaan\VotingBundle\Example

services:
#    kunstmaan_voting_list.example:
#        class: %kunstmaan_voting_list.example.class%
#        arguments: [@service_id, 'plain_value', %parameter%]

    kunstmaan_voting.listener.vote:
        class: Kunstmaan\VotingBundle\EventListener\AbstractVoteListener
        arguments: ['@doctrine.orm.entity_manager', '%kuma_voting.actions%']
        abstract: true

    kunstmaan_voting.helper.vote:
        class: Kunstmaan\VotingBundle\Helper\AbstractVotingHelper
        arguments: ['@doctrine.orm.entity_manager']
        abstract: true

    ## UP VOTE

    kunstmaan_voting.upvote:
        class: Kunstmaan\VotingBundle\EventListener\UpDown\UpVoteEventListener
        parent: 'kunstmaan_voting.listener.vote'
        tags:
            - { name: kernel.event_listener, event: kunstmaan_voting.upVote, method: onUpVote }

    kunstmaan_voting.helper.upvote:
        class: Kunstmaan\VotingBundle\Helper\UpDown\UpVoteHelper
        parent: 'kunstmaan_voting.helper.vote'

    ## Down VOTE

    kunstmaan_voting.downvote:
        class: Kunstmaan\VotingBundle\EventListener\UpDown\DownVoteEventListener
        parent: 'kunstmaan_voting.listener.vote'
        tags:
            - { name: kernel.event_listener, event: kunstmaan_voting.downVote, method: onDownVote }

    kunstmaan_voting.helper.downvote:
        class: Kunstmaan\VotingBundle\Helper\UpDown\DownVoteHelper
        parent: 'kunstmaan_voting.helper.vote'

    ## FACEBOOK LIKE

    kunstmaan_voting.facebooklike:
        class: Kunstmaan\VotingBundle\EventListener\Facebook\FacebookLikeEventListener
        parent: 'kunstmaan_voting.listener.vote'
        tags:
            - { name: kernel.event_listener, event: kunstmaan_voting.facebookLike, method: onFacebookLike }

    kunstmaan_voting.helper.facebook.like:
        class: Kunstmaan\VotingBundle\Helper\Facebook\FacebookLikeHelper
        parent: 'kunstmaan_voting.helper.vote'

    ## FACEBOOK SEND

    kunstmaan_voting.facebooksend:
        class: Kunstmaan\VotingBundle\EventListener\Facebook\FacebookSendEventListener
        parent: 'kunstmaan_voting.listener.vote'
        tags:
            - { name: kernel.event_listener, event: kunstmaan_voting.facebookSend, method: onFacebookSend }

    kunstmaan_voting.helper.facebook.send:
        class: Kunstmaan\VotingBundle\Helper\Facebook\FacebookSendHelper
        parent: 'kunstmaan_voting.helper.vote'

    ## LINKEDIN SHARE

    kunstmaan_voting.linkedinshare:
        class: Kunstmaan\VotingBundle\EventListener\LinkedIn\LinkedInShareEventListener
        parent: 'kunstmaan_voting.listener.vote'
        tags:
            - { name: kernel.event_listener, event: kunstmaan_voting.linkedInShare, method: onLinkedInShare }

    kunstmaan_voting.helper.linkedin.share:
        class: Kunstmaan\VotingBundle\Helper\LinkedIn\LinkedInShareHelper
        parent: 'kunstmaan_voting.helper.vote'

    # SERVICES
    kunstmaan_voting.services.repository_resolver:
        class: Kunstmaan\VotingBundle\Services\RepositoryResolver
        arguments: ['@doctrine.orm.entity_manager']

    Kunstmaan\VotingBundle\Controller\VotingController:
        arguments: [ '@event_dispatcher' ]
        tags: [ 'controller.service_arguments' ]
