<div class="kds-spacing">
    <div class="kds-spacing__spacing" style="width: {{ this.size }}; height: {{ this.size }};">
    </div>
    <div class="kds-spacing__description">
        <h5 class="kds-spacing__description__title">{{ this.name }}</h5>
        <small class="kds-spacing__description__value">{{ this.size }}</small>
    </div>
</div>
