/* ==========================================================================
   Mixins - Control label
   ========================================================================== */

@mixin control-label-active {
    font-weight: 400;
    color: $theme-color;
}
