/* ==========================================================================
   Mixins - Control label
   ========================================================================== */

@mixin control-label-active {
    transition: all 0.2s ease;

    top: -1.2rem;

    font-size: 0.75rem;
    font-weight: 400;
    color: $theme-color;
}



