/* ==========================================================================
   Mixins - Iconfont reset
   ========================================================================== */

@mixin iconfont-reset {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $iconfont-name;
    speak: none;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
}
