/* ==========================================================================
   Pagination

   This file is exclusively intended for setting up variables
   Never add styles directly to this file

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */


$paginationBackground:                #fff;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          #f5f5f5;
