/* ==========================================================================
   Tooltips and popovers

   This file is exclusively intended for setting up variables
   Never add styles directly to this file

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */


$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);
