{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}
    {{ adminlist_widget(adminlist, app.request.attributes.get('_route')) }}
    {# TODO add export link here #}
	{#}Export: <a href="{{ path('KunstmaanWesttoerAppBundle_admin_posts_export', {'_format': 'csv'}) }}">csv</a>{#}
{% endblock %}