{% extends '@KunstmaanAdmin/Default/layout.html.twig' %}

{% block content %}

    <table class="table">

    {% for key, value in fields %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ adminlistconfigurator.getStringValue(entity, key) }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
