parameters:
#    kunstmaan_admin.example.class: Kunstmaan\AdminBundle\Example
    admin_menu.menubuilder.class: Kunstmaan\AdminBundle\Helper\Menu\MenuBuilder

services:
    admin_menu.menubuilder:
        class: %admin_menu.menubuilder.class%
        arguments: ["@translator", "@service_container"]
        
    admin_menu.adaptor.settings:
        class: Kunstmaan\AdminBundle\Helper\Menu\SettingsMenuAdaptor
        tags:
            -  { name: admin_menu.adaptor }
        
    admin_menu.adaptor.modules:
        class: Kunstmaan\AdminBundle\Helper\Menu\ModulesMenuAdaptor
        tags:
            -  { name: admin_menu.adaptor }

    admin_menu.twig.extension:
        class: Kunstmaan\AdminBundle\Helper\Menu\MenuTwigExtension
        arguments: ["@doctrine.orm.entity_manager", "@admin_menu.menubuilder"]
        tags:
            -  { name: twig.extension }
        
    kunstmaan_admin.permissionadmin:
        class: Kunstmaan\AdminBundle\Permission\PermissionAdmin

    permissionsadmin.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\Extension\AdminPermissionsTwigExtension
        tags:
            -  { name: twig.extension }
            
    localeswitcher.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\Extension\LocaleSwitcherTwigExtension
        tags:
            -  { name: twig.extension }
            
    form.type.urlchooser:
        class: Kunstmaan\AdminBundle\Form\Type\URLChooserType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type, alias: urlchooser }
            
    kunstmaan_admin.handler.log:
        class: Kunstmaan\AdminBundle\Modules\LogHandler
        arguments: ["@service_container"]
        tags:
            - { name: log_handler }

    kunstmaan_login_listener:
        class: Kunstmaan\AdminBundle\Modules\LoginListener
        arguments: ["@security.context", "@doctrine"]
        tags:
            - { name: kernel.event_listener, event: security.interactive_login }
            
    kunstmaan_logout_listener:
        class: Kunstmaan\AdminBundle\Modules\LogoutListener
        arguments:  ["@security.context", "@doctrine"]
        tags:
            - { name: 'monolog.logger', channel: 'security' }
            
    kunstmaan.twig.locale:
        class: Kunstmaan\AdminBundle\Twig\Extension\DateByLocaleExtension
        tags:
            - { name: twig.extension }
    kunstmaan.twig.formtools:
        class: Kunstmaan\AdminBundle\Twig\Extension\FormToolsExtension
        tags:
            - { name: twig.extension }
            
    security.acl.permission.map:
        class: Kunstmaan\AdminBundle\Component\Security\Acl\Permission\PermissionMap
        
    security.acl.object_identity_retrieval_strategy:
        class: Kunstmaan\AdminBundle\Component\Security\Acl\Domain\ObjectIdentityRetrievalStrategy
        arguments: ["@doctrine.orm.entity_manager"]

    kunstmaan.acl.helper:
        class: Kunstmaan\AdminBundle\Util\Helper\AclHelper
        arguments: ["@doctrine.orm.entity_manager", "@security.context"]

    kunstmaan.acl.native.helper:
        class: Kunstmaan\AdminBundle\Util\Helper\AclNativeHelper
        arguments: ["@doctrine.orm.entity_manager", "@security.context"]

    kunstmaan.guest.security.authentication.listener:
        class: Kunstmaan\AdminBundle\Component\Security\Http\Firewall\GuestUserListener
        arguments: ["@security.context", "user_provider", "provider_key", "@logger"]
        tags:
            - { name: 'monolog.logger', channel: 'security' }
        
    kunstmaan.guest.security.authentication.provider:
        class: Kunstmaan\AdminBundle\Component\Security\Authentication\Provider\GuestUserProvider
        arguments: [""]