/* ==========================================================================
   App Filter
   ========================================================================== */

.app__filter {
    margin-bottom: 2rem;
}

.app__filter__content {
    border: 1px solid $gray-lighter;
    border-top: 0;
}

.app__filter__toggle {

}

.app__filter__line {

}
