/* ==========================================================================
   Media Thumbnail
   ========================================================================== */

/* General
   ========================================================================== */
.media-thumbnail {
    position: relative;

    display: block;
    overflow: hidden;
    min-height: 20rem;

    &:hover {
        text-decoration: none;

        .media-thumbnail__helper {
            opacity: 1;
        }
    }
}



/* Image
   ========================================================================== */
.media-thumbnail__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}



/* Caption
   ========================================================================== */
.media-thumbnail__caption {
    position: relative;
    width: 100%;
    overflow: hidden;

    font-size: 1.2rem;
    color: $gray-light;

    &:after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 5%;
        height: 100%;

        background: linear-gradient(to right, rgba(255, 255, 255, 0) ,rgba(255, 255, 255, 1) 100%);
    }
}



/* Helper
   ========================================================================== */
.media-thumbnail__helper {
    position: absolute;
    bottom: .5rem;
    right: .5rem;

    font-size: 1.2rem;
    color: $blue;
    opacity: 0;

    transition: opacity .3s ease;
}












