/* ==========================================================================
    cropper image
   ========================================================================== */

.media-cropper {
    padding: 15px;
    min-height: 80vh;

    @media (min-width: $screen-sm) {
        display: flex;
    }
}

.media-cropper__preview,
.media-cropper__focus-wrapper {
    width: 100%;

    @media (min-width: $screen-sm) {
        width: calc(100% - 300px);
    }
}

.media-cropper__preview {

    div {
        height: 100%;
    }

    &--hidden {
        display: none;
    }
}

.media-cropper__focus-wrapper {
    display: none;

    &--visible {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.media-cropper__focus-holder {
    position: relative;
    display: inline-block;
}

.media-cropper__focus-grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.media-cropper__focus-item {
    position: relative;

    margin: 0;

    border-right: 1px dashed $white;
    border-bottom: 1px dashed $white;

    &:nth-child(3n) {
        border-right: none;
    }

    &:nth-child(n+7) {
        border-bottom: none;
    }

    + .media-cropper__focus-item {
        margin: 0;
    }
}

.media-cropper__focus-item__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;

    color: $white;
    font-size: 12px;

    background: rgba($black, .5);

    &:hover,
    &:active,
    &:focus {
        background: transparent;
    }
}

.media-cropper__focus-item__choice {
    position: static !important;

    margin: 0 0 10px 0 !important;
    display: block;
}

.media-cropper__focus-media {
    img {
        min-width: 260px;
    }
}

.media-cropper__meta {
    width: 100%;
    margin-top: 20px;


    @media (min-width: $screen-xs) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: $screen-sm) {
        flex: 0 0 300px;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 0;
    }
}

.media-cropper__meta__item {

    &--submit {

        .btn {
            display: block;
            width: 100%;
        }
    }

    @media (min-width: $screen-xs) {
        width: 50%;
        padding: 10px;

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-child(2) {
            padding-right: 0;
        }

        &--submit {
            padding: 0;
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    @media (min-width: $screen-sm) {
        width: 100%;
        padding: 0;
    }
}

.media-cropper__meta__key,
.media-cropper__meta__value {
    display: inline-block;
    margin: 0;
}

.media-cropper__meta__key {
    margin-right: 5px;

    &:after {
        content: ':';
    }
}

.media-cropper__meta__list__row + .media-cropper__meta__list__row {
    margin-top: 5px;
    padding-top: 5px;

    border-top: 1px solid $gray-ultralight;
}
