/* ==========================================================================
   Media Thumbnail
   ========================================================================== */

/* General
   ========================================================================== */
.media-thumbnail {
    display: block;
    overflow: hidden;
}



/* Image
   ========================================================================== */
.media-thumbnail {
    display: block;
    max-width: 100%;
}
