/* ==========================================================================
   Page Actions
   ========================================================================== */

/* Main tabs
   ========================================================================== */
.page-main-tabs{

    .error-label {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
        margin-left: .25rem;

        background: $red;
        color: $white;

        font-size: 1.11rem;
        line-height: 1.65;
        text-align: center;
        font-weight: bold;

        border-radius: $default-border-radius;
    }

    @media (min-width: $screen-xs-min) {
        margin: 2rem 0 0;
    }
}

/* Main actions
   ========================================================================== */
.page-main-actions {
    margin: 1rem 0;

    text-align: right;

    .btn {
        padding: .6rem 1rem;
    }

    @media (min-width: $screen-xs-min) {
        float: right;
        margin: -1rem 0 1rem;

        &.page-main-actions--no-tabs {
            float: none;
        }
    }

    @media (min-width: $screen-sm-min) {
        &.page-main-actions--inside-extra-actions-header {
            margin: 0;
        }

        .btn {
            padding: .6rem 2rem;
        }
    }
}



/* Main actions - Top
   ========================================================================== */
.page-main-actions--top {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: $navbar-height;

    margin: 0;
    padding: .4em 1em;
    background: #f7f7f7;
    border-bottom: 1px solid $gray-lighter;

    transition: transform .3s ease;

    @media (max-width: $screen-md) {
        display: none;
    }
}


.page-main-actions--top--show {
    transform: translateY($navbar-height);
}




/* Sub actions
   ========================================================================== */
.page-sub-actions {
    margin: -2rem 0 2.2rem;

    text-align: right;

    a:not(:first-child) {
        margin-left: 1rem;
    }

    @media (min-width: $screen-xs-min) {
        margin: -2.2rem 0 2.2rem;
    }
}


.page-sub-actions--has-buttons {

    @media (min-width: $screen-xs-min) {
        margin: -3.8rem 0 3.8rem;
    }
}
