/* ==========================================================================
   Page Actions
   ========================================================================== */

/* Main actions
   ========================================================================== */
.page-main-actions {
    text-align: right;
}



/* Main actions - Top
   ========================================================================== */
.page-main-actions--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}




/* Sub actions
   ========================================================================== */
.page-sub-actions {

}
