/* ==========================================================================
   Page Part Container
   ========================================================================== */

/* General
   ========================================================================== */
// .pp-container {

// }


/* Add
   ========================================================================== */
.pp-container__add {
    margin: 1rem 0 0;

    text-align: right;

    &:first-child {
        margin-bottom: 1rem;
    }
}

.pp-container__add__select {
    display: inline-block;
    max-width: 20rem;
}
