/* ==========================================================================
   Page Part Container
   ========================================================================== */

/* General
   ========================================================================== */
.pp-container {

}


/* Add
   ========================================================================== */
.pp-container__add {
    text-align: right;
    margin: 1rem 0;
}

.pp-container__add__select {
    display: inline-block;
    max-width: 20rem;
}
