/* ==========================================================================
   Page Part
   ========================================================================== */

/* General
   ========================================================================== */
.pp {
    background: $white;
    border: 1px solid $gray-lighter;
}



/* Header
   ========================================================================== */
.pp__header {
    background: #f7f7f7;
}



/* View
   ========================================================================== */
.pp__view {
    padding: 1em;
}
