/* ==========================================================================
   Sortable
   ========================================================================== */


/* Body
   ========================================================================== */
.sortable-active {

    .pp-container__add {
        opacity: 0;
    }
}



/* Container
   ========================================================================== */
.sortable-container {
    transition: transform .3s ease;
}



/* Item
   ========================================================================== */
// General
.sortable-item {

}

// Ghost
.sortable-item--ghost {
    background: $gray-ultralight;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);

    .pp, .pp-container__add {
        opacity: 0;
    }
}
