/* ==========================================================================
   URL Chooser
   ========================================================================== */

/* General
   ========================================================================== */
.url-chooser {
    position: relative;
}


/* Shared
   ========================================================================== */
.url-chooser__tree, .url-chooser__link-select {

    @media (min-width: $screen-sm) {
        float: left;
        width: 50%;
    }
}


/* Tree
   ========================================================================== */
.url-chooser__tree {
    padding-top: 2em !important;
}


/* Link Select
   ========================================================================== */
.url-chooser__link-select {
    padding-top: 1em;
}
