/* ==========================================================================
   Articles
   ========================================================================== */

.main-article--summary {
    padding: 1em 0;
    margin: 1em 0;
    border-bottom: 1px solid $gray-light;
    &:last-child, &:last-of-type {
        border-bottom: none;
    }
}

.main-article__meta {
    color: $gray;
}

.main-article__title {
    margin-top: .5em;
}

.main-article__readmore {
    margin-top: 1em;
}
