/* ==========================================================================
   Doormat
   ========================================================================== */

.doormat__title {
    text-transform: uppercase;
    color: $white;
    margin-bottom: 1.5em;
}

.doormat__link {
    line-height: 200%;
    @include transition(all .15s ease-in-out);
}
