/* ==========================================================================
   Site logo
   ========================================================================== */

.site-logo {
    display: block;
    height: $navigation-height;
    line-height: $navigation-height;
}
