/* ==========================================================================
   Site logo
   ========================================================================== */

.social-link, .socialite-instance {
    display: inline-block;
    margin-left: 1em;
    @include transition(color .2s ease-in-out);
    &:hover {
        text-decoration: none;
    }
}

.social-link__icon {
    font-size: 1.5em;
}
