/* ==========================================================================
   Splash
   ========================================================================== */

/* General
   ========================================================================== */
.splash {
    line-height: 160%;
}
.splash__container {
    position: relative;
    .language-nav {
        position: absolute;
        top: 0;
        right: ($grid-gutter-width / 2);
    }
}

/* Title
   ========================================================================== */
.splash__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 120%;
    @media (max-width: $screen-sm) {
        &, &:first-child {
            margin-top: 1em;
            font-size: 1.5em;
            line-height: 140%;
        }
    }
}


/* Splash states
   ========================================================================== */
.splash--border-bottom {
    border-bottom: .8em solid $gray-light;
}
.splash--border-top {
    border-top: .8em solid $gray-light;
}

.splash--green {
    background-color: $green;
    border-color: $gray-dark;
    .splash__title {
        color: $white;
    }
}
.splash--blue {
    background-color: $blue;
    border-color: $blue-dark;
    .splash__title {
        color: $white;
    }
}

.splash--gray-dark {
    background-color: $gray-dark;
    border-color: $green;
    .splash__title {
        color: $white;
    }
}
