/* ==========================================================================
   Splash
   ========================================================================== */

/* General
   ========================================================================== */
.splash {
    line-height: 160%;
    border-bottom: .8em solid $gray-dark;
}


/* Title
   ========================================================================== */
.splash__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 120%;
}


/* Splash states
   ========================================================================== */
.splash--green {
    background-color: $green;
    .splash__title {
        color: $white;
    }

}
