/* ==========================================================================
   Main content
   ========================================================================== */

/* General
   ========================================================================== */
.sg-content {
    position: relative;

    padding: 100px 20px 50px;
    overflow: hidden;

    @media (min-width: $screen-md-min) {
        padding: 20px 50px 20px 410px;
    }
}
