/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/*
!bin/fullreload
!bin/travis_*
/composer.phar
.idea
web/generated-js
web/generated-css
web/uploads
.DS_Store
web/frontend
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
node_modules/
web/vendor/
.sass-cache/
web/css
web/Kunstmaan*BundleAssets/
