phpunit.xml
composer.lock
composer.phar
autoload.php
/vendor/
node_modules/
npm-debug.log
*~
*test.db
**/Tests/unit/app/cache
**/Tests/unit/app/logs
**/Tests/unit/app2/cache
**/Tests/unit/app2/logs
.vscode
src/Kunstmaan/GeneratorBundle/Resources/SensioGeneratorBundle/skeleton/layout/groundcontrol/dist
.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
