{
    "plugins": [
        "stylelint-order"
    ],
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "max-empty-lines": 2,
        "comment-empty-line-before": null,
        "color-named": "never",
        "number-leading-zero": "never",
        "length-zero-no-unit": true,
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-no-duplicate-properties": true,
        "declaration-empty-line-before": null,
        "selector-list-comma-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "at-rule-empty-line-before": null,
        "selector-pseudo-element-colon-notation": "single",
        "color-hex-case": "upper",
        "color-hex-length": "long",
        "block-no-empty": null,
        "rule-empty-line-before": [
            "always-multi-line", {
                ignore: ["after-comment"]
            }
        ],
        "max-nesting-depth": 3,
        "order/declaration-block-property-groups-structure": [
            {
                "emptyLineBefore": "always",
                "properties": [
                    "include",
                    "extend"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "content"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "float",
                    "position",
                    "top",
                    "right",
                    "bottom",
                    "left",
                    "z-index"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "display",
                    "flex",
                    "justify-content",
                    "width",
                    "height",
                    "max-width",
                    "max-height",
                    "min-height",
                    "min-width",
                    "padding",
                    "margin",
                    "overflow",
                    "transform"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "background"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "border",
                    "outline"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "color",
                    "font",
                    "line-height",
                    "text",
                    "white-space",
                    "word"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "list-style"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "transition",
                    "will-change",
                    "perspective"
                ]
            }
        ]
    }
}
