includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1
    paths:
        -  src
    scanFiles:
        - .build/stubs/RoleInterface.php

    excludes_analyse:
        - src/Kunstmaan/*/Tests/*
        - src/Kunstmaan/*/vendor/*
        - src/Kunstmaan/BehatBundle
        - src/Kunstmaan/GeneratorBundle/Resources/SensioGeneratorBundle
        - src/Kunstmaan/CacheBundle # Temporary excluded for full rework
        # Excluded deprecated classes/files
        - src/Kunstmaan/AdminBundle/Composer/ScriptHandler.php
        - src/Kunstmaan/AdminBundle/EventListener/ConsoleExceptionListener.php
        - src/Kunstmaan/TranslatorBundle/Command/MigrationsDiffCommand.php
        - src/Kunstmaan/TranslatorBundle/Service/Command/DiffCommand.php
        - src/Kunstmaan/*/Event/*.php # Ignore the event classes until we get rid of the BC layer. The BC layer causes a weird phpstan error.

    ignoreErrors:
        - '#Constructor of class Kunstmaan\\MediaBundle\\AdminList\\MediaAdminListConfigurator has an unused parameter \$mediaManager\.#' # Will be fixed in separate PR
