includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1
    paths:
        -  src
    scanDirectories:
        - .build/stubs

    excludePaths:
        - src/Kunstmaan/*/Tests/*
        - src/Kunstmaan/*/vendor/*
        - src/Kunstmaan/BehatBundle
        - src/Kunstmaan/GeneratorBundle/Resources/SensioGeneratorBundle
        - src/Kunstmaan/CookieBundle/Resources/skeleton
        - src/Kunstmaan/CacheBundle # Temporary excluded for full rework
        - src/Kunstmaan/FixturesBundle # Temporary excluded for full rework
        # Excluded deprecated classes/files
        - src/Kunstmaan/AdminBundle/Composer/ScriptHandler.php
        - src/Kunstmaan/AdminBundle/EventListener/ConsoleExceptionListener.php
        - src/Kunstmaan/GeneratorBundle/Helper/Sf4AppBundle.php # BC layer
        - src/Kunstmaan/TranslatorBundle/Command/MigrationsDiffCommand.php
        - src/Kunstmaan/TranslatorBundle/Service/Command/DiffCommand.php
        - src/Kunstmaan/*/Event/*.php # Ignore the event classes until we get rid of the BC layer. The BC layer causes a weird phpstan error.
        - src/Kunstmaan/GeneratorBundle/Helper/Sf4AppBundle.php # BC layer

    ignoreErrors:
        - '#Constructor of class Kunstmaan\\MediaBundle\\AdminList\\MediaAdminListConfigurator has an unused parameter \$mediaManager\.#' # Will be fixed in separate PR

        # Incorrect return types. Needs to be deprecated and removed in separate PR's
        - '#Method Kunstmaan\\AdminBundle\\Form\\UserType\:\:setCanEditAllFields\(\) should return bool but return statement is missing\.#'
        - '#Method Kunstmaan\\TranslatorBundle\\Service\\Command\\Exporter\\ExportCommandHandler\:\:executeExportCommand\(\) should return int but return statement is missing\.#'
        - '#Method Kunstmaan\\NodeSearchBundle\\PagerFanta\\Adapter\\SearcherRequestAdapter\:\:processResponse\(\) should return array\|Elastica\\ResultSet but return statement is missing\.#'
        - '#Method Kunstmaan\\NodeSearchBundle\\Configuration\\NodePagesConfiguration\:\:(addPermissions|addSearchType)\(\) should return array but return statement is missing\.#'
        - '#Method Kunstmaan\\DashboardBundle\\Repository\\AnalyticsSegmentRepository\:\:deleteSegment\(\) should return bool\|Kunstmaan\\DashboardBundle\\Entity\\AnalyticsOverview but return statement is missing\.#'
