<h2>{{ type.name }}</h2>

{% for cookie in type.cookies %}
    {% if cookie_in_domain(cookie)  %}
        <h3>{{ cookie.name }}</h3>
        <p>{{ cookie.description | replace_url | raw }}</p>
    {% endif %}
{% endfor %}
