/* ==========================================================================
   Structures - Sections
   ========================================================================== */

.section {

    & + & {
        margin-top: 50px;
    }
}

.section__title {
    margin-top: 0;
    padding-bottom: 10px;

    border-bottom: 2px solid $grey;

    color: $black;
    font-family: $primary-font;
}
