/* ==========================================================================
   General

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

