/* ==========================================================================
   Colors
   ========================================================================== */

$accent-color: #2997ce;

$grey--light: #bdc3c7;
$ddd : #dddddd;
