/* ==========================================================================
   Cookie consent

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */

//General
$cookie-bar-position-bottom: 0;
$cookie-bar-position-top: auto;
$cookie-bar-position-left: auto;
$cookie-bar-position-right: auto;
$cookie-bar-color: rgba(86,86,86,0.95);
$cookie-bar-text-align: center;
$cookie-bar-width: 100%;
$cookie-bar-padding: 10px 0 0 0;
$cookie-bar-font-color: #fff;
$cookie-bar-font-size: 13px;

//Policy link
$cookie-bar-policy-link-color: #fff;
$cookie-bar-policy-link-text-decoration: underline;

//Button
$cookie-bar-button-margin: 0 0 0 5px;
