/* ==========================================================================
   Config for Cupcake

   Never add styles directly to this file - set up imports and vars
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

// Which components would you like to use?
$use-cookie-consent:    true;
$use-full-img-bg:       false;
$use-navigation:        true;
$use-iconfont:          false;
$use-slider:            true;

@import "components-config/cookie-consent";
@import "components-config/full-img-bg";
@import "components-config/navigation";
@import "components-config/iconfont";
@import "components-config/slider";

// Which overrides would you like to use?
$use-bootstrap-overrides:    false;
