{% if item.online %}
    <i class="fa fa-check-square-o"></i>
    <span class="text--muted">
        {{ 'kuma_menu.menu_item.adminlist.online'|trans }}
    </span>
{% else %}
    <i class="fa fa-square-o"></i>
    <span class="text--muted">
        {{ 'kuma_menu.menu_item.adminlist.offline'|trans }}
    </span>
{% endif %}
