/* ==========================================================================
   Slider

   Never add styles directly to this file - set up variables
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

/* Icon Fonts
   ========================================================================== */

$slider-icon-font:              '../vendor/flexslider/fonts' !default;

/* Custom Navigation
   ========================================================================== */

$slider-nav-background:             rgba(black, .85) !default;
$slider-nav-color:                  white !default;
$slider-nav-padding:                1.5em !default;
