<div class="share-pp">
    <div class="container container--full-width">
        <div class="social-share">
            <div class="social-share__title">Share title</div>
            <ul class="social-share__list">
                <li>
                    <div class="social-share__icon social-share__icon--facebook">
                        <svg width="9px" height="18px" viewBox="0 0 9 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-41.000000, -117.000000)">
                                <g id="Social" sketch:type="MSLayerGroup" transform="translate(41.000000, 117.000000)">
                                    <path d="M2.02867133,17.860735 L5.92951049,17.860735 L5.92951049,8.85377176 L8.65090909,8.85377176 L8.94125874,5.83907157 L5.92951049,5.83907157 L5.92951049,4.12147002 C5.92951049,3.41044487 6.08475524,3.12920696 6.82993007,3.12920696 L8.94125874,3.12920696 L8.94125874,0 L6.24,0 C3.33734266,0 2.02867133,1.17833656 2.02867133,3.43481625 L2.02867133,5.83907157 L0,5.83907157 L0,8.89206963 L2.02867133,8.89206963 L2.02867133,17.860735" id="Facebook" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="social-share__icon social-share__icon--linkedin">
                        <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-70.000000, -117.000000)">
                                <g id="Social" sketch:type="MSLayerGroup" transform="translate(41.000000, 117.000000)">
                                    <g id="Linkedin" transform="translate(29.000000, 0.000000)" sketch:type="MSShapeGroup">
                                        <path d="M0.624852071,6.23216783 L4.36639053,6.23216783 L4.36639053,18.1370629 L0.624852071,18.1370629 L0.624852071,6.23216783 Z" id="Fill-1"></path>
                                        <path d="M2.47763314,4.67319347 C3.69988166,4.67319347 4.69065089,3.68951049 4.69065089,2.47645688 C4.69065089,1.26340326 3.69988166,0.28018648 2.47763314,0.28018648 C1.25585799,0.28018648 0.26556213,1.26340326 0.26556213,2.47645688 C0.26556213,3.68951049 1.25585799,4.67319347 2.47763314,4.67319347" id="Fill-2"></path>
                                        <path d="M10.3474556,11.8881119 C10.3474556,10.213986 11.1304142,9.21724942 12.6276923,9.21724942 C14.003787,9.21724942 14.6650888,10.1738928 14.6650888,11.8881119 L14.6650888,18.1370629 L18.3886391,18.1370629 L18.3886391,10.5990676 C18.3886391,7.41025641 16.5538462,5.86899767 13.9905325,5.86899767 C11.4272189,5.86899767 10.3474556,7.83589744 10.3474556,7.83589744 L10.3474556,6.23216783 L6.75881657,6.23216783 L6.75881657,18.1370629 L10.3474556,18.1370629 C10.347929,18.1370629 10.3474556,13.7216783 10.3474556,11.8881119" id="Fill-3"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="social-share__icon social-share__icon--twitter">
                        <svg width="23px" height="18px" viewBox="0 0 23 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-109.000000, -117.000000)">
                                <g id="Social" sketch:type="MSLayerGroup" transform="translate(41.000000, 117.000000)">
                                    <path d="M68,15.6807487 C70.0302198,16.9475936 72.4417582,17.6871658 75.0324176,17.6871658 C83.5505495,17.6871658 88.3620879,10.6850267 88.0725275,4.40481283 C88.9686813,3.77540107 89.7467033,2.98877005 90.3615385,2.09358289 C89.5384615,2.4486631 88.6543956,2.68877005 87.7263736,2.79625668 C88.6736264,2.24438503 89.4010989,1.36898396 89.7434066,0.326203209 C88.8571429,0.837967914 87.8752747,1.20962567 86.8302198,1.40962567 C85.993956,0.54171123 84.8016484,0 83.4818681,0 C80.5208791,0 78.343956,2.68930481 79.0126374,5.48235294 C75.1994505,5.29625668 71.8192308,3.51871658 69.5571429,0.817112299 C68.3549451,2.82406417 68.9335165,5.44973262 70.9769231,6.77807487 C70.2247253,6.75508021 69.517033,6.5540107 68.8983516,6.2197861 C68.8489011,8.28877005 70.3714286,10.2229947 72.578022,10.6545455 C71.9324176,10.8256684 71.2252747,10.8647059 70.5065934,10.731016 C71.0901099,12.5048128 72.7846154,13.7951872 74.7917582,13.8315508 C72.8631868,15.3032086 70.4340659,15.959893 68,15.6807487" id="Twitter" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </li>
                <li>

                    <div class="social-share__icon social-share__icon--github">
                        <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-151.000000, -117.000000)">
                                <path d="M160.999125,117 C155.753845,117 151.5,121.131378 151.5,126.228048 C151.5,130.305044 154.221784,133.763438 157.996823,134.983647 C158.472129,135.06862 158.645339,134.783678 158.645339,134.538956 C158.645339,134.320293 158.637174,133.739645 158.632509,132.969792 C155.99004,133.527213 155.432503,131.732587 155.432503,131.732587 C155.000353,130.666462 154.377498,130.382652 154.377498,130.382652 C153.514948,129.810502 154.442816,129.821832 154.442816,129.821832 C155.396344,129.886978 155.897894,130.772961 155.897894,130.772961 C156.745281,132.182943 158.121627,131.77564 158.662835,131.539416 C158.749148,130.943473 158.994674,130.536737 159.265861,130.306177 C157.156435,130.073351 154.938534,129.281405 154.938534,125.745403 C154.938534,124.738191 155.308865,123.913955 155.916557,123.269295 C155.818579,123.035903 155.492572,122.097236 156.009868,120.827176 C156.009868,120.827176 156.8071,120.579055 158.622011,121.773206 C159.379585,121.568139 160.192563,121.466171 161.000292,121.462206 C161.807437,121.466171 162.619832,121.568139 163.378572,121.773206 C165.192317,120.579055 165.988382,120.827176 165.988382,120.827176 C166.506845,122.097236 166.180837,123.035903 166.083443,123.269295 C166.692302,123.913955 167.059716,124.738191 167.059716,125.745403 C167.059716,129.290469 164.838316,130.070519 162.722475,130.298813 C163.063062,130.583755 163.366908,131.146841 163.366908,132.007899 C163.366908,133.241138 163.355244,134.236453 163.355244,134.538956 C163.355244,134.785944 163.526704,135.073152 164.008426,134.983081 C167.780549,133.760039 170.5,130.303911 170.5,126.228048 C170.5,121.131378 166.246155,117 160.999125,117" id="github"  sketch:type="MSShapeGroup"></path>
                                <g id="Social" sketch:type="MSLayerGroup" transform="translate(41.000000, 117.000000)"></g>
                            </g>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
