/* ==========================================================================
   Pageparts - Totop pp
   ========================================================================== */

.totop-pp {
    margin: 3rem 0;

}

/*doc
---
title: totop-pp
name: 09_totop-pp
category: Pageparts
---

```html_example
<p class="totop-pp">
    <a href="#">Top</a>
</p>
```

*/
