/* ==========================================================================
   Pageparts - Video pp
   ========================================================================== */

/* General
   ========================================================================== */
.video-pp {
    margin: 3rem 0;
}



/* videolink
   ========================================================================== */

/*doc
---
title: video-pp
name: 10_video-pp
category: Pageparts
---

```html_example
<div class="video-pp">
    <div class="videolink">
        <a href="//www.youtube.com/embed/WPx-Oe2WrUE" target="_blank" class="js-videolink-play-link videolink__video-link" data-video-provider="youtube" data-video-id="WPx-Oe2WrUE" data-make-fluid="true">
            <img src="http://placehold.it/1450x820" alt="Some text here" class="videolink__video-link__image">
        </a>
        <div class="js-videolink-container videolink__video-container"></div>
    </div>
    <div class="caption">Some text here</div>
</div>
```

*/
