parameters:
    kunstmaan_utilities.slugifier.class: 'Kunstmaan\UtilitiesBundle\Helper\Slugifier'
    kunstmaan_utilities.shell.class: 'Kunstmaan\UtilitiesBundle\Helper\Shell\Shell'
    kunstmaan_utilities.cipher.class: 'Kunstmaan\UtilitiesBundle\Helper\Cipher\UrlSafeCipher'
    kunstmaan_utilities.cipher.secret: ''

services:
    kunstmaan_utilities.shell:
        class: "%kunstmaan_utilities.shell.class%"

    kunstmaan_utilities.cipher:
        class: "%kunstmaan_utilities.cipher.class%"
        arguments: ["%kunstmaan_utilities.cipher.secret%"]

    kunstmaan_utilities.slugifier:
        class: "%kunstmaan_utilities.slugifier.class%"

    kunstmaan_utilities.twig.extension:
        class: Kunstmaan\UtilitiesBundle\Twig\UtilitiesTwigExtension
        arguments: [ "@kunstmaan_utilities.slugifier" ]
        tags:
            - { name: twig.extension }


