<div class="row-fluid">
    {% set children = nodemenu.current.node.children %}
    {% if nodemenu.current.node.children|length > 0 %}
    <div class="span3">
        {% set activeSubnode = nodemenu.getActiveForDepth(2) %}
        {% include '~~~BUNDLE~~~:Layout:submenu.html.twig' with {'items': activeSubnode.children} %}
    </div>
    <div class="span9">
        {% else %}
    <div class="span12">
        {% endif %}
        {{ render_pageparts(page, 'main') }}
    </div>
</div>