<div class="container">

    {{ render_pageparts(page, 'main') }}

    <% if demosite %>
    <div class="submenu">
        {% include '<% if not isV4 %><%= bundle.name %>:<% endif %>Layout<% if not isV4 %>:<% else %>/<% endif %>submenu.html.twig' with {'page': page} %}
    </div>
    <% endif %>
</div>
