<div class="container">
    <div class="row">
        <div class="col-md-12">

            {% set children = nodemenu.current.node.children %}
            {% if nodemenu.current.node.children|length > 0 %}
                <div class="submenu">
                    {% set activeSubnode = nodemenu.getActiveForDepth(2) %}
                    {% include '<%= bundle.name %>:Layout:submenu.html.twig' with {'items': activeSubnode.children} %}
                </div>
            {% endif %}

            {# Pageparts #}
            <h3>Button pagepart</h3>
            <div class="button-pp button-pp--left">
                <a href="#" class="btn btn--primary">Primary button</a>
            </div>
            <div class="button-pp button-pp--center">
                <a href="#" class="btn btn--secondary">Primary button</a>
            </div>
            <div class="button-pp button-pp--right">
                <a href="#" class="btn">Primary button</a>
            </div>
            <div class="button-pp button-pp--block">
                <a href="#" class="btn btn--primary">Primary button</a>
            </div>

            {{ render_pageparts(page, 'main') }}

        </div>
    </div>
</div>
