/* ==========================================================================
   Footer - Main footer
   ========================================================================== */

/* General
   ========================================================================== */
.main-footer {
    padding: .5em 0;
}

{% if demosite %}
/* Footer navigation
   ========================================================================== */
.footer-nav {
    margin: 2rem 0;

    @media(max-width: $screen-xs-max) {
        text-align: center;
    }
}

.footer-nav__title {
    margin: 0 0 1rem 0;

    font-size: .75rem;
    text-transform: uppercase;
}

.footer-nav__title__link {
    color: $black;
    font-weight: 600;

    &:hover, &:focus, &:active {
        color: $black;
    }
}

.footer-nav__list {

}

.footer-nav__list__item {
    margin-bottom: .4rem;

    font-size: .9rem;
    line-height: 150%;
}

.footer-nav__list__link {
    color: $gray;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}
{% endif %}
