/* ==========================================================================
   Footer - Main footer
   ========================================================================== */

/* General
   ========================================================================== */
.main-footer {
    padding-top: .5em;
    padding-bottom: .5em;
}

{% if demosite %}
/* Footer navigation
   ========================================================================== */
.footer-nav {
    margin: 32px 0;

    @media (max-width: $screen-xs-max) {
        text-align: center;
    }
}

.footer-nav__title {
    margin: 0 0 16px;

    font-size: .85em;
    text-transform: uppercase;
}

.footer-nav__title__link {
    color: $black;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
        color: $black;
    }
}

.footer-nav__item {
    display: block;
    margin-bottom: 6px;

    color: $grey;
    line-height: 1.5;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.footer-nav__item--active {
    color: $link-color--hover;
}

.footer-nav--demosite {
    .footer-nav__title {
        color: $black;
        font-weight: 600;
    }

    p {
        color: $grey;
        line-height: 1.5;
    }
}

{% endif %}
