/* ==========================================================================
   Footer - Newsletter
   ========================================================================== */

// THEME
.newsletter {
    padding: 2rem 0 2.5rem;
}

.newsletter__content {
    @extend .container;
    width: auto;
    max-width: 750px;
}
.newsletter__title {
    color: $white;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.newsletter__text {
    @extend .container;
    margin: $default-margin 0;

    p {
        color: $white;
        max-width: 750px;
        display: inline-block;
        margin: 0;
    }
}


/* Form
   ========================================================================== */
.newsletter__form {
    @extend .container;
}
.newsletter__form__input {
    width: 100%;
    display: block;

    // cf. button-pp
    font-size: .8rem;
    color: $black;

    padding: .65rem 1rem;
    background-color: $white;
    border: 1px solid $hr-color;
    @include box-shadow;

    @media(min-width: $screen-sm-min) {
        width: 340px;
        max-width: 100%;
        display: inline-block;
    }
}
.newsletter__form__btn {
    display: block;
    margin-top: .5rem;
    width: 100%;

    @media(min-width: $screen-sm-min) {
        display: inline-block;
        margin-left: .5rem;
        margin-top: 0;
        width: auto;
    }
}
