/* ==========================================================================
   Footer - Newsletter
   ========================================================================== */

// THEME
.newsletter {
    background-color: $theme-color;
    padding: 2.5rem;
}
.newsletter__title {
    color: $white;
    font-size: 2rem;
    margin-top: 0;
}
.newsletter__text p {
    color: $white;
    max-width: 750px;
    display: inline-block;
}


/* Form
   ========================================================================== */
.newsletter__form {
    display: inline-block;
}
.newsletter__form__input {
    width: 340px;

    // cf. button-pp
    font-size: .8rem;
    color: $black;

    display: inline-block;
    padding: .65rem 1rem;
    background-color: $white;
    border: 1px solid $hr-color;
    @include box-shadow;
}
.newsletter__form__btn {
    display: inline-block;
    margin-left: .65rem;
}
