/* ==========================================================================
   Footer - Subfooter
   ========================================================================== */

.subfooter {
}
.subfooter__inner {
    @include clearfix;

    border-top: 1px solid $hr-color;
    padding: 1rem 0;
}

.subfooter__info {
    font-size: .75rem;
    margin: 0;
    text-align: center;

    @media(min-width: $screen-xs-min) {
        float: left;
    }
}
.subfooter__info__link {
    color: $text-color;
    display: inline-block;
    &:hover, &:focus, &:active {
        color: $text-color;
    }
}

.subfooter__credentials {
    font-size: .75rem;
    margin: 0;
    text-align: center;

    @media(min-width: $screen-xs-min) {
        float: right;
    }
}
.subfooter__credentials__link {
    display: inline-block;
    vertical-align: text-top;
    margin-left: .2rem;
}
.subfooter__credentials__img {
    display: block;
}
