/* ==========================================================================
   Dashboard Chart List
   ========================================================================== */

.dashboard-chart-list {
    @include clearfix;

    margin: 0;
    padding: 0;

    text-align: center;

    list-style: none;
}

.dashboard-chart-list__item {
    @include clearfix;

    display: block;
    padding: 1.5rem;

    text-align: left;

    @media (min-width: 60rem) {
        display: inline-block;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    @media (min-width: $screen-desk) {
        padding: 1.5rem 2rem;
    }

    @media (min-width: $screen-desk-wide) {
        padding: 1.5rem 2.5rem;
    }
}

.dashboard-chart-list__icon {
    float: left;

    margin: 0 1rem 0 0;
}

.dashboard-chart-list__data {
    float: left;

    padding: 0;
    margin-top: .3rem;

    color: #6d6d6d;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.dashboard-chart-list__data__number {
    display: block;

    font-size: 2.6rem;
    line-height: 2rem;
}
