/* ==========================================================================
   Dashboard Icons
   ========================================================================== */

/* States
   ========================================================================== */
.dash-icon--big {
    font-size: 2rem;
}

.dash-icon--circle {
    display: inline-block;

    width: 4rem;
    height: 4rem;

    line-height: 4rem;
    text-align: center;
    color: #fff;

    border-radius: 100%;

    &.dash-icon--stopwatch {
        padding-left: .2rem;
    }
}

.dash-icon--circle--green {
    background: lighten($green, 20%);
}
.dash-icon--circle--blue {
    background: lighten($blue, 10%);
}
.dash-icon--circle--purple {
    background: lighten($purple, 20%);
}
.dash-icon--circle--orange {
    background: lighten($orange, 20%);
}
.dash-icon--circle--red {
    background: lighten($red, 20%);
}
.dash-icon--circle--grey {
    background: $grey;
}
