/* ==========================================================================
   Dashboard Tabs
   ========================================================================== */

.dashboard-tabs {
    padding-right: 10rem;
}

.dashboard {
    position: relative;
}

.segment-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
