/* ==========================================================================
   Legacy browsers
   ========================================================================== */

// IE8
.ie8 {

    // tabs: no calc, no last-child
    .db-tabs__item {
        &:first-child {
            margin-left: 0;
        }
    }

    // chart: polyfill sets a fixed height with overflow hidden which cuts off the chart
    .dashboard-chart {
        > div {
            height: auto !important;
            overflow: visible !important;
        }
    }

    // Newrelic iframes: not supported in IE8
    .newrelic-iframes {
        display: none;
    }
}
