/* =============================================================================
  MIXINS
  ========================================================================== */

@mixin place-image($width_pi, $height_pi){
    display: block;
    text-indent: -9999px;
    width: $width_pi;
    height: $height_pi;
}

@mixin grad-top-bottom($color1, $color2){
    background-color: $color1;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background-image: -webkit-linear-gradient(top, $color1, $color2);
    background-image:    -moz-linear-gradient(top, $color1, $color2);
    background-image:     -ms-linear-gradient(top, $color1, $color2);
    background-image:      -o-linear-gradient(top, $color1, $color2);
    background-image:         linear-gradient(top, $color1, $color2);
}

@mixin single_transition($property, $duration, $ease){
    -webkit-transition: $property $duration $ease;
       -moz-transition: $property $duration $ease;
         -o-transition: $property $duration $ease;
            transition: $property $duration $ease;
}

@mixin clearfix {
    &:after {
        content:"";
        display:table;
        clear:both;
    }
}
