/* =============================================================================
  VARS
  ========================================================================== */

//Colors
$text-color:            #333;
$text-color-light:      #666;
$text-color-lighter:    #999;

$bg-light:  #f5f5f5;
$hr-color:  #dddddd;

$grey: #ccc;

$blue: #8ac9e1;
$blue-ultra-light: #f1f3f9;

$purple: #ce77b6;
$green: #c6f5ca;
$orange: #ee9c27;
$yellow: #f7cc58;
$red: #d13f37;


//Screens
$screen-lap: 700px;
$screen-desk: 1400px;
$screen-desk-wide: 1600px;
