{% set breadcrumbitems = foldermanager.getParents(folder) %}
{% if breadcrumbitems | length > 0 %}
    <ul class="breadcrumb app__content__breadcrumb">
        {% for breadcrumbitem in breadcrumbitems %}
            {% if loop.last %}
                <li class="active">
                    {{ breadcrumbitem.name }}
                </li>
            {% else %}
                <li>
                    {% set params = { 'folderId': breadcrumbitem.id } %}
                    <a href="{{ path('KunstmaanMediaBundle_chooser_show_folder', urlParams is defined ? urlParams|merge(params) : params ) }}">
                        {{ breadcrumbitem.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
