<aside class="sidebar">      
    <div id="tree" class="tree">
    	{% for key,gals in galleries %}
    		<ul>
	    			{% for child in gals %}
	    				{% include 'KunstmaanMediaBundle:Chooser:ckeditorshownode.html.twig' %}
		            {% endfor %}
	         </ul>
    	{%  endfor %} 
 
    </div>
</aside>