{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

  {% block body %}
  <header>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'Image chooser' | trans }}</a>
        </div>
      </div>
    </div>
    </header>
    <div class="container-fluid" style="overflow:scroll;">
      <aside class="sidebar">
	      {% block sidebar %}
	      	{% include 'KunstmaanMediaBundle:Chooser:ckeditorsidebar.html.twig' %}
	      {% endblock %}
      </aside>
      <div class="content">
      	{% block breadcrumb %} {% endblock %}
        {% block content %} {% endblock %}
      </div>
    </div>
      <footer>
        <div class="container-fluid">
          <p class="pull-right"><a target="_blank" href="http://www.kunstmaan.be"><img src="{{ asset('bundles/kunstmaanadmin/img/general/kunstmaan.png') }}" width="83" height="16" alt="Kunstmaan" class="kunstmaan-logo" /></a></p>
        </div>
      </footer>
{% endblock %}