<aside class="sidebar">      
    <div id="tree">
    	{% for key,gals in galleries %}
    		<ul>
	    			{% for child in gals %}
		                {% include 'KunstmaanMediaBundle:Chooser:filechoosershownode.html.twig' %}
		            {% endfor %}
	         </ul>
    	{%  endfor %} 
 
    </div>
</aside>