{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

	{% block extrajavascript %}
		<script type="text/javascript">
		// Close the dialog
	    function closeme() {
	    	window.close()
	    }

	    // Handle click of OK button
	    function handleOK(result) {
	    	if (window.opener) {
	    	    window.opener.dialogWin.returnedValue = result;
	    		window.opener.dialogWin.returnFunc()
	    	} else {
	    		//alert("You have closed the main window.\n\nNo action will be taken on the choices in this dialog box.")
	    	}
	    	window.closeme()
	    	return false
	    }

	    // Handle click of Cancel button
	    function handleCancel() {
	    	window.closeme()
	    	return false
	    }

	    function doBodyLoad() {
	    	if (window.opener) {
	    		if (window.opener.blockEvents) {
	    			window.opener.blockEvents();
	    		}
	    	}
	    }

	    function doBodyUnload() {
	    	if (window.opener) {
	    		if (window.opener.unblockEvents) {
	    			window.opener.unblockEvents();
	    		}
	    	}
	    }
    </script>
	{% endblock %}
    
  {% block body %}
  <header>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'Image chooser' | trans }}</a>
        </div>
      </div>
    </div>
    </header>
    <div class="container-fluid">
      <aside class="sidebar">
	      {% block sidebar %}
	      	{% include 'KunstmaanMediaBundle:Chooser:imagechoosersidebar.html.twig' %}
	      {% endblock %}
      </aside>
      <div class="content">
      	{% block breadcrumb %} {% endblock %}
        {% block content %} {% endblock %}
      </div>
    </div>
      <footer>
        <div class="container-fluid">
          <p class="pull-right"><a target="_blank" href="http://www.kunstmaan.be"><img src="{{ asset('bundles/kunstmaanadmin/img/general/kunstmaan.png') }}" width="83" height="16" alt="Kunstmaan" class="kunstmaan-logo" /></a></p>
        </div>
      </footer>
  {% endblock %}