/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
// Defined in corona scss which is also included in the styleguide


/* Html & body
   ========================================================================== */
html.sg-styleguide {

    body {
        position: relative;

        overflow-x: hidden;

        background-color: $white;

        @media (min-width: $screen-sm-min) {
            background-position: bottom 1.5rem right 1.5rem;
        }
    }

    .kds-margin-sm {
        margin: 1rem 0;
    }
}
