/* ==========================================================================
   Base

   This file is exclusively intended for setting up variables
   Never add styles directly to this file

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */


/* Padding
   ========================================================================== */
$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0px 6px;   // 22px


/* Border radius
   ========================================================================== */
$baseBorderRadius:      0;
$borderRadiusLarge:     0;
$borderRadiusSmall:     0;
