/* ==========================================================================
   Pagination

   Never add styles directly to this file - set up variables
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */


$paginationBackground:                #fff;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          #f5f5f5;
