/* ==========================================================================
   Paths

   This file is exclusively intended for setting up variables
   Never add styles directly to this file

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */


/* General
   ========================================================================== */
$root:                  "/bundles/websitebundle";
$vendor:                "../../vendor";


/* Image folders
   ========================================================================== */
$backgrounds:           "#{$root}/img/backgrounds";
$buttons:               "#{$root}/img/buttons";
$dummy:                 "#{$root}/img/dummy";
$general:               "#{$root}/img/general";
$icons:                 "#{$root}/img/icons";


/* Icon folders
   ========================================================================== */
// Cupcake
$cupcake-iconfont-url:  "#{$vendor}/cupcake/icons/fonts";

// Bootstrap
$iconSpritePath:        "#{$vendor}/sass-bootstrap/img/glyphicons-halflings.png";
$iconWhiteSpritePath:   "#{$vendor}/sass-bootstrap/img/glyphicons-halflings.png";
