parameters:

services:
    nodetranslation.listener:
        class: Kunstmaan\AdminNodeBundle\Listener\NodeTranslationListener
        tags:
            - { name: doctrine.event_listener, event: onFlush, method: onFlush }
            - { name: doctrine.event_listener, event: postFlush, method: postFlush }

    admin_menu.adaptor.pages:
        class: Kunstmaan\AdminNodeBundle\Helper\Menu\PageMenuAdaptor        
        arguments: ["@doctrine.orm.entity_manager", "@security.context", "@kunstmaan.acl.helper"]
        tags:
            -  { name: admin_menu.adaptor }

    kunstmaan.shell_helper:
        class: Kunstmaan\AdminNodeBundle\Helper\ShellHelper

    admin_node.actions_menu_builder:
            class: Kunstmaan\AdminNodeBundle\Helper\Menu\ActionsMenuBuilder
            arguments: ["@knp_menu.factory", "@doctrine.orm.entity_manager", "@router", "@event_dispatcher", "@security.context"]

    admin_node.menu.sub_actions:
        class: Knp\Menu\MenuItem # the service definition requires setting the class
        factory_service: admin_node.actions_menu_builder
        factory_method: createSubActionsMenu
        arguments: ["@request"]
        scope: request # needed as we have the request as a dependency here
        tags:
            - { name: knp_menu.menu, alias: sub_actions } # The alias is what is used to retrieve the menu

    admin_node.menu.actions:
        class: Knp\Menu\MenuItem # the service definition requires setting the class
        factory_service: admin_node.actions_menu_builder
        factory_method: createActionsMenu
        arguments: ["@request"]
        scope: request # needed as we have the request as a dependency here
        tags:
            - { name: knp_menu.menu, alias: actions } # The alias is what is used to retrieve the menu

    admin_node.menu.top_actions:
        class: Knp\Menu\MenuItem # the service definition requires setting the class
        factory_service: admin_node.actions_menu_builder
        factory_method: createTopActionsMenu
        arguments: ["@request"]
        scope: request # needed as we have the request as a dependency here
        tags:
            - { name: knp_menu.menu, alias: top_actions } # The alias is what is used to retrieve the menu
