/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
// Defined in frontend scss which is also included in the styleguide


/* Html & body
   ========================================================================== */
html.sg-styleguide {

    body {
        position: relative;

        overflow-x: hidden;

        background-color: $white;
    }
}
