<div class="sf-toolbar-block kuma-toolbar-block sf-toolbar-status-{{ status|default('normal') }}">
    {% if link is defined and link %}
        <a href="{{ link }}">
    {% endif %}
    <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
    {% if link is defined and link %}
        </a>
    {% endif %}
    <div class="sf-toolbar-info"{% if overflow is defined and overflow %} style="overflow: auto;"{% endif %}>{{ text|default('') }}</div>
</div>
