{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["./node_modules/@kunstmaan/eslint-config/index.js"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["gulpfile.babel.js", "./groundcontrol/**/*.js"]}]
  }{% if demosite %},
  "globals": {
    "jQuery": true,
    "$": true,
  }{% endif %}
}
