/* ==========================================================================
   Single transition
   ========================================================================== */

@mixin single_transition($property, $duration, $ease){
    -webkit-transition: $property $duration $ease;
       -moz-transition: $property $duration $ease;
     -o-transition: $property $duration $ease;
        transition: $property $duration $ease;
}
