parameters:
    kunstmaan_multi_domain.router.class: Kunstmaan\MultiDomainBundle\Router\DomainBasedLocaleRouter

services:
    kunstmaan_multi_domain.admin_panel.sites:
        class: Kunstmaan\MultiDomainBundle\Helper\AdminPanel\SitesAdminPanelAdaptor
        tags:
            -  { name: 'kunstmaan_admin.admin_panel.adaptor', priority: 100 }

    kunstmaan_multi_domain.twig.extension:
        class: Kunstmaan\MultiDomainBundle\Twig\MultiDomainTwigExtension
        arguments: ['@kunstmaan_admin.domain_configuration']
        tags:
              -  { name: 'twig.extension' }

    kunstmaan_multi_domain.host_override_listener:
        class: Kunstmaan\MultiDomainBundle\EventListener\HostOverrideListener
        arguments: ['@translator', '@kunstmaan_admin.domain_configuration', '@kunstmaan_admin.adminroute.helper']
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }

    kunstmaan_multi_domain.host_override_cleanup:
        class: Kunstmaan\MultiDomainBundle\Helper\HostOverrideCleanupHandler

    kunstmaan_multi_domain.domain_configuration:
        class: Kunstmaan\MultiDomainBundle\Helper\DomainConfiguration
        arguments: ['@request_stack', '%kunstmaan_admin.multi_language%', '%kunstmaan_admin.default_locale%', '%kunstmaan_admin.required_locales%', '@kunstmaan_admin.adminroute.helper', '@doctrine.orm.entity_manager', '%kunstmaan_multi_domain.hosts%']
        public: true
