/* ==========================================================================
   Icon font

   Based on icomoon style.css
   ========================================================================== */

/* General
   ========================================================================== */
@font-face {
    font-family: $iconfont-name;
    src:url('#{$iconfont-path}/#{$iconfont-name}.eot?8at4kw');
    src:url('#{$iconfont-path}/#{$iconfont-name}.eot?#iefix8at4kw') format('embedded-opentype'),
        url('#{$iconfont-path}/#{$iconfont-name}.woff?8at4kw') format('woff'),
        url('#{$iconfont-path}/#{$iconfont-name}.ttf?8at4kw') format('truetype'),
        url('#{$iconfont-path}/#{$iconfont-name}.svg?8at4kw##{$iconfont-name}') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
    font-family: $iconfont-name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* Icons
   ========================================================================== */
{% if demosite %}
.icon--menu:before {
    content: "\e60d";
}

.icon--nav-location:before {
    content: "\e612";
}

.icon--nav-mail:before {
    content: "\e613";
}

.icon--nav-phone:before {
    content: "\e614";
}

.icon--search:before {
    content: "\e60c";
}

.icon--social-facebook:before {
    content: "\e608";
}

.icon--social-github:before {
    content: "\e609";
}

.icon--social-linkedin:before {
    content: "\e60a";
}

.icon--social-twitter:before {
    content: "\e60b";
}

.icon--arrow-up:before {
    content: "\e600";
}

.icon--arrow-down:before {
    content: "\e601";
}

.icon--arrow-left:before {
    content: "\e602";
}

.icon--arrow-right:before {
    content: "\e603";
}

.icon--arrow-tail-down:before {
    content: "\e604";
}

.icon--arrow-tail-left:before {
    content: "\e605";
}

.icon--arrow-tail-right:before {
    content: "\e606";
}

.icon--arrow-tail-up:before {
    content: "\e607";
}

.icon--triangle-down:before {
    content: "\e60e";
}

.icon--triangle-left:before {
    content: "\e60f";
}

.icon--triangle-right:before {
    content: "\e610";
}

.icon--triangle-up:before {
    content: "\e611";
}
{% endif %}
