/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

/* General
   ========================================================================== */
.breadcrumb {
    @media(min-width: $screen-md-min) {
        margin: 1.5rem 0 0;
    }
}


/* Item
   ========================================================================== */
.breadcrumb__item {
    display: inline-block;

    font-size: .8rem;
    font-weight: 400;

    & .search-results__breadcrumb__item--current {
        font-weight: 600;
    }
}


/* Icon
   ========================================================================== */
.breadcrumb__icon {
    margin: 0 .5rem;

    font-size: .5rem;
    vertical-align: middle;
}



/*doc
---
title: Breadcrumb
name: 02_breadcrumb
category: Structures
---

```html_example
<nav role="navigation" class="breadcrumb">
    <a href="#" class="breadcrumb__item breadcrumb__item--home">
    Home
    </a>
    <i class="icon icon--arrow-right breadcrumb__icon"></i>
    <a href="#" class="breadcrumb__item">
    Blub
    </a>
    <i class="icon icon--arrow-right breadcrumb__icon"></i>
    <span class="breadcrumb__item breadcrumb__item--current">
    Contact
    </span>
</nav>
```

*/
