/* ==========================================================================
   Cookie consent
   ========================================================================== */

.cookie-bar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    z-index: 500;

    display: none;
    width: 100%;
    padding: 1.5rem;

    border: .1rem solid rgba(86,86,86,0.95);

    background: rgba(86,86,86,0.95);

    text-align: left;
    color: $white;
    line-height: 1.7;
    font: {
        family: Helvetica, Arial, sans-serif;
        size: 1rem;
    }

    animation-name: cookieSlide;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;

    .cookie-bar__policy {
        color: $white;
        text-decoration: underline;
    }

    .cookie-bar__btn {
        position: absolute;
        right: 0;
        bottom: 0;

        margin: 1rem 0 0;
        padding: 1rem 1.5rem;

        border-radius: 0;
        border: none;

        font-size: 1rem;
        color: rgba(86,86,86,0.95);

        background: $white;
    }

    p {
        padding: 0;
        margin: 0;
        max-width: 60%;

        color: $white;
        text-align: left;

        font-size: 1rem;

        a {
            color: $white;
        }
    }

    @media(min-width: $screen-sm-min) {
        bottom: 1rem;
        left: 1rem;

        max-width: 35rem;

        p {
            max-width: 22.9rem;
        }
    }

    @media(min-width: $screen-md-min) {
        bottom: 1rem;
        left: 1rem;

        max-width: 22rem;

        p {
            max-width: 12.9rem;
        }
    }
}


.cookie-bar--visible {
    display: block;
}

@keyframes cookieSlide {
    0% {
        transform: translateY(6rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

/*doc
---
title: Cookie consent
name: 09_cookieconsent
category: Structures
---

```html_example
<div style="height: 400px; width: 100%; position: relative;">
    <div id="cookie-bar" class="cookie-bar" style="position: absolute;">
    <p>
        Deze website gebruikt <br>cookies om uw surf- <br>ervaring makkelijker te maken.
    </p>
    <button type="button" id="cookie-bar__consent-btn" class="btn btn-warning cookie-bar__btn">Doorgaan</button>
    </div>
</div>
```

*/
