/* ==========================================================================
   Structures - Demosite msg
   ========================================================================== */

.demosite-msg__wrapper {
    margin-bottom: -2.7rem;

    text-align: center;
    transform: translate3d(0,0,0);
}

.demosite-msg {
    background: $blue;

    p {
        color: $white;
    }
}

.demosite-msg__btn {
    position: relative;

    width: 4.3rem;
    height: 2.5rem;

    background: none;
    box-shadow: none;

    color: $white;
    text-align: center;
    font-size: .5rem;

    border: none;

    //animation
    // transition: all .2s ease;
    // animation: animScale 3s ease-in 5s 2;
    // transform: translate3d(0,0,0);

    &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;

        border-style: solid;
        border-width: 46px 39px 0 39px;
        border-color: $blue transparent transparent transparent;
        border-style: solid inset inset inset;

        transform:rotate(360deg);
    }

    &:hover,
    &:focus,
    &:active {
        background: none;

        color: $white;

        &:after {
            border-color: lighten($blue, 5%) transparent transparent transparent;
        }
    }
}

// animation

// @keyframes animScale {
//     0%{
//         transform: scale(1);
//     }

//     3%{
//         transform: scale(1.25);
//     }

//     10%{
//         transform: scale(1);
//     }

//     13%{
//         transform: scale(1.15);
//     }

//     20%{
//         transform: scale(1);
//     }
// }


/*doc
---
title: Demosite msg
name: 10_demositeMsg
category: Structures
---

```html_example
<div style="position:relative; height: 20rem; width: 100%;">
    <div class="demosite-msg__wrapper">
        <section id="demosite-msg" class="demosite-msg toggle-item">
            <div class="toggle-item__content">
                <p>Deze website is gemaakt met de Kunstmaan CMS Bundles.</p>
            </div>
        </section>
        <button type="button" class="js-toggle-btn toggle-button btn demosite-msg__btn" data-target="#demosite-msg" data-duration="200">
            <i class="toggle-btn__icon--show icon icon--arrow-down"></i>
            <i class="toggle-btn__icon--hide icon icon--arrow-up"></i>
        </button>
    </div>
</div>
```

*/
