/* ==========================================================================
   Header - Header Visual
   ========================================================================== */

.header-visual {
    position: relative;

    margin-bottom: 70px;

    @media (min-width: $screen-md-min) {
        height: 70vh;
        max-height: 720px;
        overflow: hidden;
    }
}

.header-visual__img {
    width: 100%;

    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;

        max-height: none;
        transform: translate3d(0, -50%, 0);
    }
}

.header-visual__content {
    margin-bottom: 40px;

    text-align: center;

    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;

        width: 100%;
        margin-bottom: 0;
        transform: translate3d(0, -50%, 0);

        text-align: left;
    }
}

.header-visual__content__inner {
}

.header-visual__title {
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;

    @media (min-width: $screen-md-min) {
        margin-top: 0;

        color: $white;
        font-size: 100px;
        font-weight: 100;
    }
}

.header-visual__text {

    @media (min-width: $screen-md-min) {
        max-width: 50%;
        margin-bottom: 45px;

        color: $white;
    }
}

.header-visual__btn {
    padding: .9em 1.5em;

    color: $brand-primary--dark;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;

    @media (min-width: $screen-md-min) {
        border: 0;
    }
}


/**
* @doc docs/header-visual.md
* @section
* @sectionof Structures
*/
