/* ==========================================================================
   Footer - Newsletter
   ========================================================================== */

/* General
   ========================================================================== */
.newsletter {
    margin-bottom: 0;
    padding: 2em 0 2.5em;
}


/* Content
   ========================================================================== */
.newsletter__content, .newsletter__text {
    @extend .container;

    @media(min-width: $screen-sm-min) {
        width: auto;
        max-width: 750px;
    }
}


/* Title
   ========================================================================== */
.newsletter__title {
    margin-top: 0;
    margin-bottom: 1.5rem;

    font-size: 2rem;
    color: $white;
}


/* Text
   ========================================================================== */
.newsletter__text {
    margin: $default-margin 0;

    p {
        display: inline-block;
        max-width: 750px;
        margin: 0;

        color: $white;
    }
}


/* Form
   ========================================================================== */
.newsletter__form {
    @extend .container;

    @media(min-width: $screen-sm-min) {
        width: auto;
        max-width: 750px;
    }
}

.newsletter__form__input {
    @include box-shadow;

    width: 100%;
    max-width: 100%;
    display: block;
    padding: .65em 1em;

    font-size: .8rem;
    color: $black;
    background-color: $white;
    border: 1px solid $hr-color;

    &.form-control {
        max-width: 100%;
    }

    @media(min-width: $screen-sm-min) {
        display: inline-block;

        &.form-control {
            max-width: 18.8rem;
        }
    }
}

.newsletter__form__btn {
    display: block;
    width: 100%;
    margin-top: .5rem;

    @media(min-width: $screen-sm-min) {
        display: inline-block;
        width: auto;
        margin-left: .5rem;
        margin-top: 0;
    }
}




/*doc
---
title: Newsletter
name: 06_newsletter
category: Structures
---

```html_example
<section class="newsletter splash splash--primary text--center">
    <div class="container-fluid">
    <div class="newsletter__content">
        <h2 class="newsletter__title">Don't miss out</h2>
        <div class="newsletter__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt similique numquam recusandae quibusdam eius repudiandae quas accusamus enim sit.</p>
        </div>
        <form action="" class="newsletter__form">
        <input type="text" class="form-control newsletter__form__input">
        <button type="submit" class="btn btn--secondary newsletter__form__btn">Subscribe</button>
        </form>
    </div>
    </div>
</section>
```

*/
