/* ==========================================================================
   Footer - Newsletter
   ========================================================================== */

/* General
   ========================================================================== */
.newsletter {
    padding: 2em 0 2.5em;
    margin-bottom: 0;
}


/* Content
   ========================================================================== */
.newsletter__content,
.newsletter__text {
    @extend .container; /* stylelint-disable-line */

    @media (min-width: $screen-sm-min) {
        width: auto;
        max-width: 750px;
    }
}


/* Title
   ========================================================================== */
.newsletter__title {
    margin-top: 0;
    margin-bottom: 15px;

    color: $white;
    font-size: 20px;
}


/* Text
   ========================================================================== */
.newsletter__text {
    margin: $default-margin 0;

    p {
        display: inline-block;
        max-width: 750px;
        margin: 0;

        color: $white;
    }
}


/* Form
   ========================================================================== */
.newsletter__form {
    @extend .container; /* stylelint-disable-line */

    @media (min-width: $screen-sm-min) {
        width: auto;
        max-width: 750px;
    }
}

.newsletter__form__input {
    @include box-shadow();

    display: block;
    width: 100%;
    max-width: 100%;
    padding: .65em 1em;

    background-color: $white;

    border: 1px solid $hr-color;

    color: $black;
    font-size: 14px;

    &.form-control {
        max-width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        display: inline-block;

        &.form-control {
            max-width: 340px;
        }
    }
}

.newsletter__form__btn {
    display: block;
    width: 100%;
    margin-top: 10px;

    font-size: 18px;

    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: auto;
        margin-left: 10px;
        margin-top: 0;
    }
}


/**
* @doc docs/newsletter.md
* @section
* @sectionof Structures
*/
