/* ==========================================================================
   Structures - Search results
   ========================================================================== */

/* General
   ========================================================================== */

.search-results__wrapper {
    padding: 2em;

    background: $grey--lighter;

    .search-results__input {
        width: calc(100% - 90px);
        margin-right: .7rem;

        max-width: 100%;

        @include box-shadow;
    }
}

/* Input field and button
   ========================================================================== */

.search-results__form-group {
    @include clearfix;
}

.search-results__input,
.search-results__button {
    float: left;
}

.search-results__button {
    min-height: 2.5rem;
    padding: 0 1.5em;
}

/* Text
   ========================================================================== */

.search-results__text {
    margin-bottom: 0;
}

/*doc
---
title: Search Results
name: 07_searchresults
category: Structures
---

```html_example
<form class="search-results__wrapper">
    <div class="search-results__form-group">
    <input type="text" name="query" id="query" placeholder="search" class="form-control search-results__input">
    <button type="submit" name="search" id="search" class="btn btn--secondary search-results__button">
        <i class="icon--search"></i>
    </button>
    </div>
    <p class="search-results__text"><strong>5 Resultaten</strong> voor <strong>lorem</strong></p>
</form>
```

*/
