/* ==========================================================================
   Structures - Splash
   ========================================================================== */

.splash {
    margin: 4rem 0;
}

.splash--primary {
    background-color: $theme-color;
}

.splash--gray-lighter {
    background-color: $grey-lighter;
}
