/* ==========================================================================
   Structures - Splash
   ========================================================================== */

.splash {
    margin: 7rem 0;
}

.splash--primary {
    background-color: $brand-primary;
}

.splash--gray-lighter {
    padding: 4rem 0;

    background-color: $grey--lighter;
}

.splash--smaller-margin {
    margin-bottom: 4rem;
}


/**
* @doc docs/splash.md
* @section
* @sectionof Structures
*/
