/* ==========================================================================
   Blocks - Submenu - THEME FILE
   ========================================================================== */

/* General
   ========================================================================== */
.submenu {
    margin: 40px 0;
}


/* Link
   ========================================================================== */
.submenu__link {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}


/* Image
   ========================================================================== */
.submenu__img {
    display: block;
}


/* Title
   ========================================================================== */
.submenu__title {
    color: $text-color;
}


/* Text
   ========================================================================== */
.submenu__text {
    color: $grey;
}


/**
* @doc docs/submenu.md
* @section
* @sectionof Structures
*/
