/* ==========================================================================
   Blocks - Submenu - THEME FILE
   ========================================================================== */

/* General
   ========================================================================== */
.submenu {
    margin: 2rem 0;
}


/* Link
   ========================================================================== */
.submenu__link {

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}


/* Image
   ========================================================================== */
.submenu__img {
    display: block;
}


/* Title
   ========================================================================== */
.submenu__title {
    color: $text-color;
}


/* Text
   ========================================================================== */
.submenu__text {
    color: $grey;
}



/*doc
---
title: Sub-menu
name: 04_submenu
category: Structures
---

```html_example
<div class="submenu__item ">
    <a href="/app_dev.php/en/services/rent" class="submenu__link ">
    <img src="http://placehold.it/360x200" alt="" class="submenu__img">
    <h2 class="submenu__title">
         Lorem ipsum dolor.
    </h2>
    <p class="submenu__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facilis ab nam quia commodi vero quod ad libero dolorum in.
    </p>
    </a>
    <div class="link-pp submenu__cta">
    <a href="#" class="link-pp__link">
        Take a look at lorem ipsum <i class="link-pp__icon"></i>
    </a>
    </div>
</div>
```

*/
