{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block title %}{{ 'media.video.new' | trans }}{% endblock%}

{% block content %}
    <h1>{{ 'media.video.addto'| trans({'%gallery%': gallery.name|trans }) | raw }}</h1>
    {% include 'KunstmaanMediaBundle:Video:form.html.twig' with { 'form': form } %}
{% endblock %}