{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanMediaBundle_media_videos') }}">Video Galleries</a> <span class="divider">/</span></li>
    <li><a href="{{ path('KunstmaanMediaBundle_gallery_show', { 'id' : gallery.id, 'slug' : gallery.slug } ) }}">{{ gallery.name }}</a> <span class="divider">/</span></li>
	<li class="active">Edit video</li>
{% endblock %}

{% block title %}Edit Video{% endblock%}

{% block content %}
    <h1>Edit video</h1>
    {% include 'KunstmaanMediaBundle:Video:editform.html.twig' with { 'form': form } %}
{% endblock %}