services:
    kunstmaan_redirect.menu.adaptor:
        class: Kunstmaan\RedirectBundle\Helper\Menu\RedirectMenuAdaptor
        tags:
            -  { name: 'kunstmaan_admin.menu.adaptor' }

    kunstmaan_redirect.repositories.redirect:
        class: Kunstmaan\RedirectBundle\Repository\RedirectRepository
        factory: ['@doctrine.orm.entity_manager', getRepository]
        arguments: ['%kunstmaan_redirect.redirect.class%']

    kunstmaan_redirect.redirectrouter:
        class: Kunstmaan\RedirectBundle\Router\RedirectRouter
        arguments: ['@kunstmaan_redirect.repositories.redirect', '@kunstmaan_admin.domain_configuration']
        tags:
            - { name: router, priority: 1 }

    kunstmaan_redirect.form.type:
        class: Kunstmaan\RedirectBundle\Form\RedirectAdminType
        arguments: ['@kunstmaan_admin.domain_configuration']
        tags:
            - { name: form.type, alias: kunstmaan_redirect_form_type }

    Kunstmaan\RedirectBundle\Controller\RedirectAdminListController:
        arguments: ['@kunstmaan_admin.domain_configuration']
        calls:
            - method: setContainer
              arguments: [ ] # Container service locator will be injected filled by the services from subscribed services
        tags: ['controller.service_arguments', 'container.service_subscriber']

