<p>Please define a custom language chooser template in config.yml</p>
<pre>
kunstmaan_language_chooser:
    autodetectlanguage: false
    showlanguagechooser: true
    languagechoosertemplate: CompanyYourBundle:Default:language-chooser.html.twig
</pre>
