/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

/* General
   ========================================================================== */
.breadcrumb {
    margin: $default-margin 0;
}


/* Item
   ========================================================================== */
.breadcrumb__item {
    display: inline-block;

    font-size: .8rem;
    font-weight: 400;
}


/* Icon
   ========================================================================== */
.breadcrumb__icon {
    margin: 0 .5rem;

    font-size: .5rem;
    vertical-align: middle;
}
