/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

/* General
   ========================================================================== */
.breadcrumb {
    margin: $default-margin 0;
}


/* List
   ========================================================================== */
.breadcrumb__list__item {
    display: inline-block;

    font-size: .8rem;
    font-weight: 400;
}

.breadcrumb__list__link {
    display: inline-block;

    font-weight: 400;
}

.breadcrumb__list__icon {
    margin: 0 .5rem;

    font-size: .5rem;
    vertical-align: middle;
}
