/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

// THEME

.breadcrumb {
    margin: $default-margin 0;
}
.breadcrumb__list {

}
.breadcrumb__list__item {
    display: inline-block;
    font-size: .8rem;
}
.breadcrumb__list__link {
    display: inline-block;
}
.breadcrumb__list__link--home {

}
.breadcrumb__list__link--active {

}
.breadcrumb__list__icon {
    font-size: .5rem;
    margin-right: 0 .5rem;
    vertical-align: middle;
}
