/* ==========================================================================
   Header - Header Visual
   ========================================================================== */

.header-visual {
    position: relative;
}

.header-visual__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.header-visual__content {
    @extend .container;
    position: relative;
    z-index: 1;
}

.header-visual__title {
    font-size: 5.625rem;
    font-weight: 100;
    color: $white;
}
.header-visual__text {
    color: $white;
}
.header-visual__btn {

}
