/* ==========================================================================
   Header - Language nav
   ========================================================================== */

  ///////////////
 //   THEME   //
///////////////

.language-nav {
    position: relative;
}

.language-nav__active-lang {

}
.language-nav__icon {
    font-size: .3rem;
    vertical-align: middle;
}

.language-nav__list {
    position: absolute;
    top: 100%;
    left: 0;
}
.language-nav__list__item {
    display: block;
}
.language-nav__list__link {
    display: block;
}
