/* ==========================================================================
   Header - Language nav
   ========================================================================== */

/* Default
   ========================================================================== */
.language-nav {
    padding: 0 1em;

    border-bottom: 1px solid $grey--dark;

    font-size: 16px;

    @media (min-width: $screen-md-min) {
        float: left;
        position: relative;
        z-index: 5;

        padding: 0 14px;

        border-bottom: 0;

        &:hover,
        &:focus {
            background: $grey--lighter;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

            transition: box-shadow .15s ease;

            .language-nav__nav {
                z-index: 6;

                height: auto;

                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
            }
        }
    }
}


/* Icon
   ========================================================================== */
.language-nav__icon {
    display: none;

    @media (min-width: $screen-md-min) {
        display: inline-block;
        padding-bottom: 1px;
        margin-left: 2px;

        font-size: .5em;
        line-height: 1;
        vertical-align: middle;
    }
}


/* Navigation
   ========================================================================== */
.language-nav__nav {
    padding: 0 0 0 1em;

    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 0;

        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;

        background: $grey--lighter;

        transition: box-shadow .15s ease;
    }
}


/* Navigation Item
   ========================================================================== */
.language-nav__item {
    display: inline-block;
    padding: 1.3em .5em;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (min-width: $screen-md-min) {
        display: block;
        padding: .5em 14px;

        color: $grey;
        font-size: 12px;
        text-align: left;
    }
}


/* Active lang
   ========================================================================== */
.language-nav__active-lang {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
