/* ==========================================================================
   Header - Language nav
   ========================================================================== */

/* Default
   ========================================================================== */
.language-nav {
    padding: 0 1em;
    border-bottom: 1px solid $grey--dark;

    @media(min-width: $screen-md-min) {
        z-index: 5;
        position: relative;

        float: left;
        padding: 0 .8rem;
        border-bottom: 0;

        &:hover, &:focus {
            background: $grey--lighter;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);

            transition: box-shadow .15s ease;

            .language-nav__nav {
                z-index: 6;
                height: auto;
                box-shadow: 0 3px 4px 0px rgba(0, 0, 0, .2);
            }
        }
    }
}


/* Icon
   ========================================================================== */
.language-nav__icon {
    display: none;

    @media(min-width: $screen-md-min) {
        display: inline-block;
        margin-left: .1rem;

        font-size: .3rem;
        line-height: 1rem;
        vertical-align: middle;
    }
}


/* Navigation
   ========================================================================== */
.language-nav__nav {
    padding: 0 0 0 1em;

    @media(min-width: $screen-md-min) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 0;

        overflow: hidden;
        padding: 0;
        background: $grey--lighter;

        transition: box-shadow .15s ease;
    }
}


/* Navigation Item
   ========================================================================== */
.language-nav__item {
    display: inline-block;
    padding: 1.3em .5em;

    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;

    &:hover, &:focus {
        text-decoration: none;
    }

    @media(min-width: $screen-md-min) {
        display: block;
        padding: .5em .8rem;

        font-size: .65rem;
        color: $grey;
        text-align: left;
    }
}


/* Active lang
   ========================================================================== */
.language-nav__active-lang {
    font-size: .65rem;
    font-weight: 400;
    text-transform: uppercase;
}
