/* ==========================================================================
   Header - Main header
   ========================================================================== */

  ///////////////
 //   THEME   //
///////////////

.main-header {
    padding: .9rem 0;
}

/* Main header logo
   ========================================================================== */
.main-header__logo {
    height: $logo-height;
}
.main-header__logo__link {
    height: $logo-height;
    display: flex;
    align-items: center;
}
.main-header__logo__img {
    display: block;
}

/* Main header nav
   ========================================================================== */
.main-header__nav {
    display: flex;
    align-items: center;
}
