/* ==========================================================================
   Header - Main header
   ========================================================================== */
.main-header {
    padding: .9rem 0;
}

// Mobile
@media(min-width: $screen-md-min) {
    .main-header--mobile {
        display: none;
    }
}
@media(max-width: $screen-sm-max) {
    .main-header--mobile {
        display: block;

        .main-header__nav {
            position: absolute;
            left: 0;
            z-index: 3;
        }
        .main-header__logo {
            position: relative;
            z-index: 2;
            width: 100%;
            text-align: center;
        }
        .searchbox-form {
            position: absolute;
            right: 0;
            z-index: 4;
        }
    }
}

// Desktop
@media(max-width: $screen-sm-max) {
    .main-header--desktop {
        display: none;
    }
}
@media(min-width: $screen-md-min) {
    .main-header--desktop {
        display: block;
    }
}

/* Main header logo
   ========================================================================== */
.main-header__logo {
    height: $logo-height;
}
.main-header__logo__link {
    height: $logo-height;
    display: flex;
    align-items: center;
}
.main-header__logo__img {
    display: block;
}

/* Main header nav
   ========================================================================== */
.main-header__nav {
    display: flex;
    align-items: center;
}
