/* ==========================================================================
   Header - Main header
   ========================================================================== */
.main-header {
    padding: .9rem 0;
}


/* Mobile
   ========================================================================== */
@media(min-width: $screen-md-min) {
    .main-header--mobile {
        display: none;
    }
}
@media(max-width: $screen-sm-max) {
    .main-header--mobile {
        display: block;
    }

    .main-header__inner {
        position: relative;
    }
    .main-header__nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        height: $mainnav-height-mobile;
    }
    .main-nav__button__icon {
        font-size: 15px;
    }
    .main-header__logo {
        position: relative;
        z-index: 2;

        width: 100%;
        height: $logo-height-mobile:;
        text-align: center;
    }
    .searchbox-form {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
    }
}


/* Desktop
   ========================================================================== */
@media(max-width: $screen-sm-max) {
    .main-header--desktop {
        display: none;
    }
}
@media(min-width: $screen-md-min) {
    .main-header--desktop {
        display: block;
    }

    .main-header__nav {
        display: flex;
        align-items: center;
    }

    .main-header__logo {
        height: $logo-height;
    }
    .main-header__logo__link {
        height: $logo-height;
        display: flex;
        align-items: center;
    }
    .main-header__logo__img {
        display: block;
    }
}

