/* ==========================================================================
   Default transitions
   ========================================================================== */

%transition-color {
    transition: color .3s ease;
}

%transition-opacity {
    transition: opacity .3s ease;
}

%transition-height {
    transition: height .3s ease;
}

%transition-border {
    transition: border .3s ease;
}

%transition-background {
    transition: background .3s ease;
}

%transition-background-and-color {
    transition: background .3s ease, color .3s ease;
}

%transition-border-color-and-color {
    transition: border-color .3s ease, color .3s ease;
}

%transition-transform {
    transition : transform .3s ease;
}

%transition-all {
    transition : all .3s ease;
}
