/* ==========================================================================
   Created by
   ========================================================================== */

.created-by {
    color: $gray-dark;
    font-size: .8em;
    line-height: 1em;
    a {
        margin-left: .5em;
    }
}
