/* ==========================================================================
   Language navigation
   ========================================================================== */

.language-nav {
    position: relative;
    width: auto;
    background: $green-dark;
    color: $white;
    text-transform: uppercase;
    &:hover {
        > .language-nav__list {
            pointer-events: auto;
            opacity: 1;
            @include transform(translateX(0));
        }
    }
    @media (min-width: $screen-md) {
        width: auto;
    }
}

.language-nav__active-lang {
    cursor: pointer;
    display: block;
    padding: .5em 0;
}

.language-nav__list {
    position: absolute;
    top: 1em;
    left: -.5em;
    opacity: 0;
    background: $white;
    pointer-events: none;
    @include transform(translateX(-2em));
    @include transition(all .2s ease);
}

.language-nav__list-item {

}

.language-nav__link {
    display: block;
    padding: .5em 1em;
    &:hover {
        background: $green-dark;
        color: $white;
        text-decoration: none;
    }
}
