/* ==========================================================================
   Language navigation
   ========================================================================== */

.language-chooser {
    padding: 10% 0 0 0;
    background: $green url('#{$backgrounds}/square_bg.png') left top repeat;
    text-align: center;
    font-size: 2em;
}

.language-chooser__header {
    margin-bottom: 2em;
}

.language-chooser__link {
    color: $white;
    &:hover {
        color: $white;
    }
}
