/* ==========================================================================
   Searchbox
   ========================================================================== */

.searchbox {
    position: relative;
}

.searchbox__input {
    float: left;
    width: 100%;
    height: 2em;
    padding: 0 2.5em 0 .5em;
    border: 1px solid $gray;
    border-right: none;
    background: $white;
    @include transition(border-color .2s ease-in-out);
    &:focus, &:active {
        outline: none;
        border-color: $green-dark;
    }
}

.searchbox__submit {
    float: left;
    width: 2em;
    height: 2em;
    margin-left: -2em;
    padding: 0;
    background: $black;
    color: $white;
    border: none;
    line-height: 100%;
    text-align: center;
    @include transition(background .2s ease-in-out);
    &:hover, &:focus {
        background: $green-dark;
    }
}

.searchbox__submit__icon {
    font-size: 1.3em;
}

.searchbox--small {
    .searchbox-box {
        position: absolute;
        top: .9em;
        right: 0;
        overflow: hidden;
        width: 2em;
        height: 2em;
        @include transition(width .2s ease-in-out);
        &:hover {
            width: 14em;
        }
    }
    .searchbox__input {
        position: absolute;
        top: 0;
        right: 2em;
        width: 12em;
        padding: 0 .5em;
    }
    .searchbox__submit {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}
