/* ==========================================================================
   Site logo
   ========================================================================== */

.site-logo {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    line-height: 3.5em;
    margin-bottom: -3.5em;
    @media (min-width: $screen-sm) {
        float: none;
        margin-bottom: 0;
    }
}

.site-logo__img {
    display: inline-block;
    width: auto;
    height: 1.5em;
     @media (min-width: $screen-sm) {
        height: 2em;
    }
}
.site-logo__img--big {
    width: auto;
    height: 4em;
}
