/* ==========================================================================
   Site logo
   ========================================================================== */

.social-link, .socialite-instance {
    display: inline-block;
    margin-left: 1em;
    @include transition(color .2s ease-in-out);
    &:hover {
        text-decoration: none;
    }
}

.social-link__icon {
    font-size: 1.5em;
}

.socialite {
    opacity: 0;
    @include transition(opacity .2s ease-in-out);
    &.socialite-loaded {
        opacity: 1;
    }
}

.socialite-container {
    height: 2em;
}
