/* ==========================================================================
   Sub-navigation
   ========================================================================== */

.sub-navigation {
    font-size: 1.2em;
}

.sub-navigation__item {
    border-top: 1px solid $gray-light;
    &:last-child {
        border-bottom: 1px solid $gray-light;
    }
}
.sub-navigation__item--active {
    .sub-navigation__link {
        background: $green;
        color: $white;
        text-decoration: none;
    }
}

.sub-navigation__link {
    position: relative;
    display: block;
    padding: 1em 1em 1em .5em;
    color: $gray;
    @include transition(all .3s ease-in-out);
    &:hover {
        background: $green-dark;
        color: $white;
        text-decoration: none;
    }
}

.sub-navigation__link__icon {
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -.4em;
}
