/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */
$black:                     #373737;
$white:                     #FFFFFF;

$grey--dark:                #808080;
$grey:                      #D8D8D8;
$grey--light:               #f3f3f3;

$red:                       #dd1144;

$primary-color--dark:       #1D2948;
$primary-color:             #009EE3;

/* Specifics
   ========================================================================== */
$text-color:                $black;
$link-color:                $primary-color;
$link-color--hover:         darken($primary-color, 15%);
