/* ==========================================================================
   Bodycopy

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Line-height
   ========================================================================== */
$line-height--base:     1.6;

$line-height--small:    1.1;
$line-height--medium:   1.2;

$line-height--headers:  1;


/* Font sizes
   ========================================================================== */
$font-size--base:               10px;
$font-size--default:            1.6rem;
$font-size--small:              1.2rem;
$font-size--big:                1.8rem;
