/* ==========================================================================
   Headings

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   sizes are defined without unit to enable the use of the rem function
   ========================================================================== */

$line-height--headers:  1.2;

$font-size-h1:          4.5rem;
$font-size-h1--small:   3.2rem;
$font-size-h2:          3.2rem;
$font-size-h3:          2.3rem;
$font-size-h4:          2.3rem;
$font-size-h5:          1.8rem;
$font-size-h6:          1.4rem;
