/* ==========================================================================
   Dashboard General
   ========================================================================== */

.db-content {
    padding: 20px 0;
    border: 1px solid $hr-color;
    border-width: 0 1px 1px;
    margin-bottom: 40px;
    @include clearfix;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.db-col {
    float: left;
    padding: 0 20px;
}
.db-col--5 {
    width: 42%;
}
.db-col--4 {
    width: 33%;
}
.db-col--3 {
    width: 25%;
}

#canvas {
    width: 100%;
}
