/* =============================================================================
  IE8
  ========================================================================== */

// LOGIN FORM
.login_form .login_control button {
    background: none;
    [class^="icon-"], [class*=" icon-"]{
        top: -22px;
        border: 1px solid #ddd;
    }
}

// NAVBAR
header .kunstmaan-logo {
    margin-top: 8px;
}
.kunstmaan-logo {
    overflow: visible;
}

