{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}


{% block content %}

<div class="page-header">
    <h1>{{ 'omnext.welcome' | trans | raw }}</h1>
</div>
    
    <div class="alert-message info">
      <p>{{ 'omnext.information' | trans | raw }}</p>
    </div>

{% endblock %}
