{% set adminmenu = get_admin_menu() %}
{% set extraclasshtml %}{% block extraclasshtml %}{% endblock %}{% endset %}

<!DOCTYPE html>
<html class="{{ extraclasshtml }}" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}{{ websitetitle | trans }}{% endblock %}</title>

    <!-- Favicons -->
    {% include "@KunstmaanAdmin/Default/_favicons.html.twig" %}

    <!-- Styles -->
    {% include "@KunstmaanAdmin/Default/_css_next.html.twig" %}

    <!-- Extra CSS -->
    {% block extracss %}{% endblock %}

    <!-- JS -->
    {% include "@KunstmaanAdmin/Default/_js_header.html.twig" %}

    {% if google_signin_enabled() %}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endif %}
</head>

<body {% block extraparamsinbody %}{% endblock %} class="app {% block extrabodyclasses %}{% endblock %}" data-file-browse-url="{% if nodebundleisactive is defined and nodebundleisactive %}{{ path('KunstmaanNodeBundle_ckselecturl') }}{% endif %}" data-image-browse-url="{% if mediabundleisactive is defined %}{{ path('KunstmaanMediaBundle_chooser', {'type': 'image'}) }}{% endif %}">

<!-- Body block -->
{% block body %}

    <!-- Nav settings -->
    {% if lowestTopChild is not defined %}
        {% set lowestTopChild = adminmenu.lowestTopChild %}
        {% if lowestTopChild %}
            {% set navigationChildren = lowestTopChild.navigationChildren %}
        {% endif %}
    {% endif %}

    {% if page is defined %}
        {%  set hideSidebar = hideSidebarInNodeEditAdmin(page) %}
    {%  else  %}
        {%  set hideSidebar = false %}
    {%  endif %}

    <!-- Main Content -->
    <main role="main" id="app__main" class="kuma-main-app-holder">
        <aside class="kuma-main-app__sidebar js-side-nav-holder">
            {% include "@KunstmaanAdmin/Default/_side_nav.html.twig" %}
        </aside>
        <div class="kuma-main-app__content-holder">
            {% block notificatons %}{% endblock %}
            <!-- Header -->
            {% block appHeader %}
                {% include "@KunstmaanAdmin/Default/app_header_next.html.twig" %}
            {% endblock %}

            <div class="kuma-main-app__content">
                {% block subNav %}
                    {% if navigationChildren is defined and navigationChildren | length > 0 %}
                        {% include "@KunstmaanAdmin/Default/_sub_nav.html.twig" %}
                    {% endif %}
                {% endblock %}
                
                <div class="kuma-main-app__main-content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>


{% endblock %}

    {% block js_footer %}
        <!-- JS -->
        {% include "@KunstmaanAdmin/Default/_js_footer.html.twig" %}
    {% endblock %}

    <!-- JS - Extra -->
    {% block extrajavascript %}{% endblock %}
</body>
</html>
