<a class="dropdown-toggle" href="{{ path(route,  attribs|merge({ '_locale': 'nl' })) }}">nl</a>
<ul class="dropdown-menu">
	<li><a href="{{ path(route,  attribs|merge({ '_locale': 'en' })) }}">en</a></li>
    <li><a href="{{ path(route,  attribs|merge({ '_locale': 'fr' })) }}">fr</a></li>
</ul>