{% set lowestTopChild = adminmenu.lowestTopChild %}
{% if lowestTopChild %}
    {% set navigationChildren = lowestTopChild.navigationChildren %}
{% endif %}

{% if lowestTopChild and navigationChildren | length > 0 %}

    <!-- Toggle Button -->
    <button type="button" id="toggle-sidebar" class="toggle-sidebar">
        <i class="icon icon-angle-left"></i>
        <i class="icon icon-angle-right"></i>
    </button>

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">

        <!-- Search -->
        <div class="search_wrp">
            <form id="treeform">
                <input type="text" id="searchVal" value="" />
                <button id="search" class="btn search"><i class="icon-search"></i></button>
            </form>
        </div>

        <!-- Tree -->
        <div class="tree clearfix" data-reorder-url="{{ path('KunstmaanNodeBundle_nodes_reorder') }}">
            {% set currentMenuItem = adminmenu.current %}
   	        <ul>
                {% if lowestTopChild.appearInSidebar %}
                    <li class="jstree-open {% if lowestTopChild.internalname == currentMenuItem.internalname %}active{% endif %}" {% if lowestTopChild.role %} rel="{{lowestTopChild.role}}" {% endif %}>
                        <a href="{{ path(lowestTopChild.route, lowestTopChild.routeparams) }}">
                            {{ lowestTopChild.internalname | trans }}
                        </a>
                        <ul>
                {% endif %}
                {% for menuitem in navigationChildren %}
                    {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
                {% endfor %}
                {% if lowestTopChild.appearInSidebar %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </aside>
{% endif %}
