{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block title %}{{ 'media.slide.new' | trans }}{% endblock%}

{% block header %}
    <div class="page-header">
        <h1>{{ 'media.slide.addto'| trans({'%gallery%': gallery.name|trans }) | raw }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% include 'KunstmaanMediaBundle:Slide:form.html.twig' with { 'form': form } %}
{% endblock %}