<div style="width:425px" id="__ss_{{ media.code }}">
    <iframe src="http://www.slideshare.net/slideshow/embed_code/{{ media.code }}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>