{{ adminlist_widget(itemlist, "KunstmaanMediaBundle_folder_show", { 'folderId': gallery.id, 'slug': gallery.slug }, { 'folderId' : gallery.id }, { 'gallery' : gallery.id }) }}

<!--<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th class="header">Actions</th>
            <th class="header ">Name</th>
            <th class="header ">Type</th>
            <th class="header ">Created At</th>
            <th class="header">Updated At</th>
        </tr>
    </thead>

    <tbody>
        {# for media in gallery.files %}
            {# include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}

            <tr>
                <td>
                    <a href="{# path('KunstmaanMediaBundle_slide_edit', { 'mediaId': media.id }) }}"><img src="{# asset('images/general/edit.png') }}" alt="edit" /></a>
                    <a href="{# path('KunstmaanMediaBundle_' ~ gallery.type ~ '_delete', { 'mediaId': media.id }) }}" data-controls-modal="sure-modal-{# media.id }}" data-backdrop="true" data keyboard="true"><img src="{# asset('images/general/delete.png') }}" alt="delete" /></a>
                </td>
                <td><a href="{# path('KunstmaanMediaBundle_' ~ gallery.type ~ '_show',  { 'mediaId' : media.id }) }}">{# media.name }}</a></td>
                <td>{# media.type }}</td>
                <td>{# media.createdat|date|escape }}</td>
                <td>{# media.updatedat|date|escape }}</td>
            </tr>
        {# else %}
            <tr>
                <td></td>
                <td>No slides yet.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {# endfor #}
    </tbody>
</table>-->