<div id="cookie-bar" class="cookie-bar">
    <p>
        {{ 'cookieconsent.description'|trans|raw }}
    </p>
    <button type="button" id="cookie-bar__consent-btn" class="btn cookie-bar__btn">{{ 'cookieconsent.confirm'|trans }}</button>
</div>
