{% extends '@KunstmaanAdminList/Default/list.html.twig' %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {{ 'deleted_pages.title' | trans }}

            <small class="app__content__header__title__small">
                {{ 'deleted_pages.additional_title'|trans }}
            </small>
        </h1>
    </div>
{% endblock %}

{% block page_header_addition %}

{% endblock %}
