{% set online = adminlist.getStringValue(row, columnName) %}
{% if online=='true' %}
    <i class="fa fa-check-square-o"></i>
    <span class="text--muted">
        {{ ' (Online)' | trans }}
    </span>
{% elseif online=='false' %}
    <i class="fa fa-square-o"></i>
    <span class="text--muted">
        {{ ' (Offline)' | trans }}
    </span>
{% else %}
    {{ online }}
{% endif %}
