{% set online = adminlist.getValue(row, columnName) %}
{% if online == false %}
    <i class="fa fa-square"></i>
    <span class="text--muted">
        {{ 'kuma_node.admin.list.offline'|trans }}
    </span>
{% elseif online == true %}
    <i class="fa fa-check-square"></i>
    <span class="text--muted">
        {{ 'kuma_node.admin.list.online'|trans }}
    </span>
{% else %}
    {{ online }}
{% endif %}
