<a href="#" class="link--text table__actions__item" data-toggle="modal" data-keyboard="true" data-target="#undo-delete-page-modal" title="{{ itemAction.labelFor(item)|trans }}">
    <i class="fa fa-{{ itemAction.iconFor(item) }}"></i>
</a>

<!-- Modal - Undo delete page -->
{% include '@KunstmaanNode/NodeAdmin/Modals/_undo_delete.html.twig' with {
    page: item,
    node: item.node
} %}
