/* =============================================================================
  VARS
  ========================================================================== */

//Custom Font
$custom-font: 'Open Sans', sans-serif;

//Colors


// Folders
$btns: "../bundles/kunstmaanadmin/img/btns/";
$css-bg: "../bundles/kunstmaanadmin/img/css-bg/";
$dummy: "../bundles/kunstmaanadmin/img/dummy/";
$general: "../bundles/kunstmaanadmin/img/general/";
$icons: "../bundles/kunstmaanadmin/img/icons/";

$fontAwesomePath:   "../bundles/kunstmaanadmin/font" !default;
