/* ==========================================================================
   Components

   Never add styles directly to this file - set up imports
   ========================================================================== */


/* Blocks
   ========================================================================== */
@import "blocks/img",
        "blocks/hr",
        "blocks/lists",
        "blocks/links",
        "blocks/buttons",
        "blocks/tables"{% if demosite %},
        "blocks/img-icon"
{% endif %};


/* Structures
   ========================================================================== */
{% if demosite %}
@import "structures/splash",
        "structures/submenu",
        "structures/blog-item",
        "structures/search-results",
        "structures/breadcrumb-nav",
        "structures/header-visual",
        "structures/newsletter",
        "structures/pagination",
        "structures/cookie-consent",
        "structures/demosite-msg";
{% else %}
// @import "structures/..";
{% endif %}


/* Header
   ========================================================================== */
@import "header/main-header"{% if demosite %},
        "header/main-nav",
        "header/site-nav",
        "header/language-nav",
        "header/contact-nav",
        "header/search-form"
{% endif %};


/* Footer
   ========================================================================== */
@import "footer/main-footer",
{% if demosite %}
        "footer/social-footer",
{% endif %}
        "footer/sub-footer";


/* Forms
   ========================================================================== */
@import "forms/form",
        "forms/form-group",
        "forms/form-control",
        "forms/form-control-label",
        "forms/form-widget",
        "forms/radio-checkbox";


/* Pageparts
   ========================================================================== */
@import "pageparts/button-pp",
        "pageparts/text-pp",
        "pageparts/introtext-pp",
        "pageparts/image-pp",
        "pageparts/link-pp",
        "pageparts/download-pp",
        "pageparts/totop-pp"{% if demosite %},
        "pageparts/service-pp",
        "pageparts/video-pp"
{% endif %};


/* Vendors
   ========================================================================== */
@import "vendors/bootstrap-components/grid";
