{% if resource.items|length > 0 %}
    <div class="usp-pp">
        <ul>
            {% for uspItem in resource.items %}
                <li>
                    <div class="image-pp">
                        <img src="{{ uspItem.icon.url }}" alt="{{ uspItem.title }}" class="img-icon">
                    </div>
                    <h5>{{ uspItem.title }}</h5>
                    {% if uspItem.description %}
                        <p>{{ uspItem.description }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
