{% extends 'KunstmaanNodeBundle:Menu:knp_menu_actions.html.twig' %}

{% block list %}
    {% import 'knp_menu.html.twig' as macros %}

    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <div {{ macros.attributes(listAttributes) }}>
            <div class="btn-group">
                {{ block('children') }}
                <a href="#" class="btn btn-default">
                    <i class="fa fa-caret-up"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
