/* ==========================================================================
   Components - Cookie modal close button
   ========================================================================== */

.kmcc-btn-close-modal {
    position: absolute;
    top: 0;
    right: 20px;

    width: 20px;
    height: 20px;

    fill: $kmcc_primary-color;

    cursor: pointer;

    @media(min-width: $kmcc_screen-lg) {
        top: 0;
        right: 5px;

        fill: $kmcc_white;
    }
}