{% if resource is defined and resource is not null %}
    {% if not resource.isNull() %}
        <a target="_blank"
           href="{{ host }}{{ form_submission_webdir }}{{ resource.fileName }}">{{ resource.fileName }}</a>
    {% endif %}
{% endif %}
