{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Folder:sidebar.html.twig' %}
{% endblock %}

{% set FolderMenu = 'media.menu.'~gallery.type~'s' %}
{% set FolderType = 'media.'~gallery.type~'.'~gallery.type~'s' %}

{% block subbreadcrumb %}
	<li class="active">{{ 'media.gallery.create' | trans }} {{ FolderType |trans }}</li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ 'media.gallery.create' | trans }} {{ FolderType |trans }}</h1>
  </div>
   {% include 'KunstmaanMediaBundle:Folder:form.html.twig' with { 'form': form } %}
{% endblock %}