{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% set FolderType = 'media.'~gallery.type~'.'~gallery.type~'s' %}
{% set subnewgallery = 'media.'~gallery.type~'.gallery.subnew' %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanMediaBundle_media_' ~ gallery.type ~ 's') }}">{{ FolderType | trans | capitalize }}</a></li>
	<li class="active">{{ subnewgallery |trans({'%gallery%' : parent.name}) }}</li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ subnewgallery |trans({'%gallery%' : parent.name}) }}</h1>
  </div>
   {% include 'KunstmaanMediaBundle:Gallery:subform.html.twig' with { 'form': subform, 'folderId' : parent.id } %}
{% endblock %}