<div class="row-fluid">
    <div class="span3">
        {{ render_pageparts(page, 'left_sidebar') }}
    </div>
    <div class="span9">
        {{ render_pageparts(page, 'main') }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{ render_pageparts(page, 'footer') }}
    </div>
</div>
