/* =============================================================================
  DEBUG
  
  Apply a class of .debug to the html element ONLY WHEN YOUR SITE IS ON DEV.
  
  Red border 		== 	something is wrong
  Yellow border 	== 	something may be wrong, you should double check.
  Green border 		== 	perfect, nice one!
  
  Credits: Inuit.css - Csswizardry  
  ========================================================================== */


// Styles
.debug [style],
.debug style{
	// Inline styles aren’t great, can this be avoided?
	outline: 5px solid yellow;
}
.debug style{
	display: block;
}

// Images
.debug img{
	// Images without alt attributes are bad!
	outline: 5px solid red;
}
.debug img[alt]{
	// Images with alt attributes are good!
	outline-color: green;
}
.debug img[alt=""]{
	// Images with empty alt attributes are okay in the right circumstances.
	outline-color: yellow;
}

// Links
.debug a{
	// Links without titles are yellow, does your link need one?
	outline: 5px solid yellow;
}
.debug a[title]{
	// Links with titles are green, title attributes can be very useful!
	outline-color: green;
}
.debug a[href="#"]{
	// Were you meant to leave that hash in there?
	outline-color: yellow;
}
.debug a[target],
.debug a[onclick],
.debug a[href*=javascript]{
	// What were you thinking?!
	outline-color: red;
}

// Classes/IDs
.debug [class=""],
.debug [id=""]{
	// Is this element meant to have an empty class/ID? */
	outline: 5px solid yellow;
}