/* =============================================================================
   NORMALIZER
   ========================================================================== */

//Universal
* {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;	  
			box-sizing: border-box;
	*behavior: url(js/libs/boxsizing.htc);
}

//Layout
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
	display: block; 
}
audio, canvas, video { 
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
}
audio:not([controls]) { 
	display: none; 
}
[hidden] { 
	display: none; 
}

//Font-reset
html { 
	font-size: $basic-fontsize;
	background: #FFF;
	-webkit-text-size-adjust: 100%; 
		-ms-text-size-adjust: 100%; 
}
html, button, input, select, textarea { 
	font-family: sans-serif; 
	color: $main-color; 
}
body { 
	margin: 0;
	min-height: 100%;
	font: 1em normal $main-font;
	line-height: 140%;
	color: $main-color;
	background: $main-background;
}

//Selection
::-moz-selection { 
	text-shadow: none;
	color: $main-select-color;
	background: $main-select-bg;
}
::selection { 
	text-shadow: none;
	color: $main-select-color;
	background: $main-select-bg;
}

//Links
a { 
	color: $link-color;
	&:focus { 
		outline: thin dotted; 
	}
	&:hover, &:focus{
		color: $link-hover-color;
		text-decoration: none;
	}
	&:hover, &:active { 
		outline: 0;
	}
}

//Typo
abbr[title] { 
	border-bottom: 1px dotted; 
}
b, strong { 
	font-weight: bold; 
}
blockquote { 
	margin: 1em 2em; 
}
dfn { 
	font-style: italic; 
}
hr { 
	display: block; 
	height: 1px; 
	border: 0; 
	border-top: 1px solid $hr-color; 
	margin: 1em 0; 
	padding: 0; 
}
ins { 
	background: #ff9; 
	color: $main-color; 
	text-decoration: none; 
}
mark { 
	background: #ff0; 
	color: $main-color; 
	font-style: italic; 
	font-weight: bold; 
}
pre, code, kbd, samp { 
	font-family: monospace, serif; 
	_font-family: 'courier new', monospace; 
	font-size: 1em;
}
pre { 
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
}
q { 
	quotes: none;
	&:before, &:after{
		content: ""; 
		content: none;
	}
}
small { 
	font-size: 85%; 
}
sub, sup { 
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.5em;
}
sub { 
	bottom: -0.25em;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}

//Lists
ul, ol { 
	margin: 0; 
	padding: 0; 
}
dd { 
	margin: 0;
}
nav ul, nav ol { 
	list-style: none; 
	list-style-image: none; 
}

//Embedded Content
img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
	vertical-align: middle; 
}
svg:not(:root) { 
	overflow: hidden;
}
figure { 
	margin: 0; 
}

//Forms
form { 
	margin: 0; 
}
fieldset { 
	border: 0; 
	margin: 0; 
	padding: 0; 
}
label { 
	cursor: pointer;
}
legend { 
	border: 0; 
	*margin-left: -7px; 
	padding: 0; 
	white-space: normal; 
}
button, input, select, textarea { 
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle;
	border-radius: 0;
}
button, input { 
	line-height: normal; 
}
button, input[type="button"], input[type="reset"], input[type="submit"] { 
	cursor: pointer; 
	-webkit-appearance: button; 
	*overflow: visible; 
}
button[disabled], input[disabled] { 
	cursor: default;
}
input[type="checkbox"], input[type="radio"] { 
	box-sizing: border-box; 
	padding: 0; 
	*width: 13px; 
	*height: 13px;
}
input[type="search"] { 
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { 
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { 
	border: 0; 
	padding: 0;
}
textarea { 
	overflow: auto; 
	vertical-align: top; 
	resize: vertical;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid { 
	background-color: #f0dddd; 
}

//Tables
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
td { 
	vertical-align: top; 
}

//Helper Classes (use @extend instead of a mixin)
.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: ""; 
		display: table; 
	}
	&:after {
		clear: both;
	}
}

//Social Buttons
.socialwidgets {
	.share {
		float: left; 
		margin-right: 8px;
	}
	.share-google {
		width: 70px;
	}
	.share-facebook-send {
		width: 140px;
	}
	.share-facebook {
		width: 80px;
	}
	.share-twitter {
		width: 97px;
	}
	.share-linkedin {
		//is flexibel
	}
}
