/* ==========================================================================
   Placeholders - List reset
   ========================================================================== */

%list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
