/* ==========================================================================
   Dashboard Chart List
   ========================================================================== */

.dashboard-goals-list {
    list-style: none;
    margin: 0;
}

.dashboard-goals-list__item {
    float: left;
    width: 25%;
    height: 250px;
    padding: 1em 2em;
}

.dashboard-goals-list__chart {
    width: 100%;
    height: 150px;
}
