/* ==========================================================================
   Dashboard Tabs
   ========================================================================== */

.dashboard-tabs {
    @include clearfix;

    position: relative;
    z-index: 10;

    display: block;
    margin: 4rem 0 -.1rem 0;
    padding: 0;

    list-style: none;
}

.dashboard-tabs__item {
    float: left;

    display: block;
    margin-right: .3rem;

    text-align: center;

    background: #fff;

    border-radius: .4rem .4rem 0 0;

    cursor: pointer;

    @include single_transition(all, .2s, ease-out);

    &:last-child {
        margin: 0;
    }
}

.dashboard-tabs__item--active {
    border: 1px solid $hr-color;
    border-bottom: none;

    .dashboard-tabs__controller {
        padding-bottom: 1.5rem;
    }
}

.dashboard-tabs__controller {
    padding: 1rem 2rem;
}

.dashboard-tabs__item__title {
    margin: 0;
    padding: 0;

    color: $text-color-lighter;
    font-size: 1.5rem;
    font-weight: normal;
}

#segment-menu {
    float:right;

    &:after {
        clear:both;
        display: block;
        content: ' ';
    }
}
