/* ==========================================================================
   Dashboard Block
   ========================================================================== */

.db-block {
    background: #fcfcfc;
    border: 1px solid $hr-color;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #fff;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

// BLOCK TITLE
.db-block__title {
    background: #f5f5f5;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid $hr-color;
    padding: 5px 15px;
    line-height: 120%;
    margin: 0 0 12px;
}
.db-block__title__stats {
    float: right;
    color: $text-color-light;
    font-weight: normal;
}

// BLOCK CONTENT
.db-block__list {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}
.db-block__list__item {
    @include clearfix;
    line-height: 120%;
    margin-bottom: 3px;
    position: relative;
}
.db-block__text {
    color: $text-color-light;
    margin-bottom: 8px;
}
.db-block__text--left {
    padding-right: 55px;
}
.db-block__stats--enlarged {
    font-size: 20px;
    color: $text-color;
}
.db-block__stats--right {
    position: absolute;
    top: 0;
    right: 0;
}


// TODO style this
#goalOverview {
    margin:0;
}

#goalOverview > li {
    display: block;
    width:18%;
    margin:5px 0%;
    margin-right:2%;
    float:left;
    background: #fcfcfc;
    border: 1px solid $hr-color;
    border-radius: 3px;
    padding:5px;
    cursor: pointer;
}

#goalOverview > li:hover {
    background: #eeeeee;
}

#goalOverview > li.active {
    background: #eeeeee;
}

#goalOverview > li > div:first-child {
    float:left;
    font-weight: bold;
}

#goalOverview > li > span {
    display: block;
    float:right;
}

// icons (icomoon icons used as base, made custom)
.db-block__list__item--icon {
    margin-bottom: 10px;
    // Decided we won't use icons after all
//    &:after {
//        content: " ";
//        background-color: $blue;
//        background-position: 50% 50%;
//        background-repeat: no-repeat;
//        width: 32px;
//        height: 32px;
//        position: absolute;
//        top: 50%;
//        right: 0;
//        margin-top: -16px;
//        border-radius: 100%;
//    }
}
//.db-block__list__item--icon-direct {
//    &:after {
//        background-image: url(#{$icons}/dashboard/direct.svg);
//        background-position: 55% 45%;
//    }
//}
//.db-block__list__item--icon-referral {
//    &:after {
//        background-image: url(#{$icons}/dashboard/link.svg);
//    }
//}
//.db-block__list__item--icon-search {
//    &:after {
//        background-image: url(#{$icons}/dashboard/search.svg);
//    }
//}
