/* ==========================================================================
   Dashboard Content
   ========================================================================== */

.dashboard__content {
    z-index: 1;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    margin-top: -1px;
    padding: 1em 2em;
    border: 1px solid $hr-color;
    border-radius: 0 0 3px 3px;
    @include clearfix;
    &, * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}

.dashboard__content--loading {
    &:before {
        content: ' ';
        position: absolute;
        top: 400px;
        left: 50%;
        display: block;
        width: 30px;
        height: 30px;
        background-color: $blue-ultra-light;
        border-radius: 3px;
        margin: 0 0 0 -15px;
        -webkit-animation: rotateplane 1.2s infinite ease-in-out; /* Safari 4+ */
           -moz-animation: rotateplane 1.2s infinite ease-in-out; /* Fx 5+ */
                animation: rotateplane 1.2s infinite ease-in-out;
    }
    .dashboard__content__item {
        opacity: 0;
    }
}

.dashboard__content__item {
    @include single_transition(opacity, .2s, ease);
}


@-webkit-keyframes rotateplane {
  0% {
        -webkit-transform: perspective(120px);
                transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
                transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
                transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
@-moz-keyframes rotateplane {
  0% {
        -moz-transform: perspective(120px);
             transform: perspective(120px);
    }
    50% {
        -moz-transform: perspective(120px) rotateY(180deg);
             transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
             transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
@keyframes rotateplane {
  0% {
        -webkit-transform: perspective(120px);
           -moz-transform: perspective(120px);
                transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
           -moz-transform: perspective(120px) rotateY(180deg);
                transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
           -moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
                transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
