/* ==========================================================================
   Dashboard Chart List
   ========================================================================== */

.dashboard-chart-list {
    list-style: none;
    margin: 0 0 4em 0;
}

.dashboard-chart-list__item {
    display: inline-block;
    padding: 1em 2em;
    &:first-child {
        padding-left: 0;
    }
}

.dashboard-chart-list__icon {
    float: left;
    margin: 0 .6em 0 0;
}

.dashboard-chart-list__data {
    float: left;
    color: #6d6d6d;
    padding: .2em 0 0 0;
}

.dashboard-chart-list__data__number {
    display: block;
}
