/* ==========================================================================
   Dashboard Tabs
   ========================================================================== */
.dashboard-tabs {
    z-index: 2;
    position: relative;
    @include clearfix;
    margin: 40px 0 0;
    list-style: none;
    width: 75%;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.dashboard-tabs__item {
    float: left;
    @include single_transition(all, .2s, ease-out);
    text-align: center;
    border: 1px solid transparent;
    padding: 10px 20px 8px;
    margin-right: 3px;
    cursor:pointer;
    &:hover, &:focus {
        background-color: #fff;
        border-color: $hr-color;
        margin-top: -5px;
        padding-bottom: 13px;
        border-radius: 3px 3px 0 0;
    }
}

.dashboard-tabs__item--active {
    background-color: #fff;
    border-color: $hr-color;
    border-bottom-color: transparent;
    margin-top: -5px;
    padding-bottom: 13px;
    border-radius: 3px 3px 0 0;
    &:hover, &:focus {
        border-bottom-color: transparent;
    }
}

.dashboard-tabs__controller {
    display: block;
}

.dashboard-tabs__item__title {
    color: $text-color-lighter;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: 0;
}



#segment-menu {
    float:right;

    &:after {
        clear:both;
        display: block;
        content: ' ';
    }

}
