/* ==========================================================================
   Dashboard Chart List
   ========================================================================== */

.dashboard-goals-list {
    list-style: none;
    margin: 0;
}

.dashboard-goals-list__chart {
    width: 100%;
    height: 150px;
}

.dashboard-goals-list__item {
    float: left;
    width: 100%;
    height: 250px;
    padding: 1em 2em;
    color: #6d6d6d;
    @media (min-width: $screen-lap) {
        width: 50%;
    }
    @media (min-width: $screen-desk) {
        width: 33.333333333%;
    }
    @media (min-width: $screen-desk-wide) {
        width: 25%;
    }
}

.dashboard-goals-list__item__title {
    font-weight: bold;
    float: left;
    line-height: 2.2em;
}

.dashboard-goals-list__item__number {
    float: right;
    padding-right: 2em;
    strong {
        font-size: 2em;
        font-weight: normal;
    }
}
