/* ==========================================================================
Dashboard
========================================================================== */
@import "vars";
@import "mixins";

@import "dashboard-typography";
@import "dashboard-icons";

@import "dashboard-tabs";
@import "dashboard-content";

@import "dashboard-charts";
@import "dashboard-chart-list";
@import "dashboard-goals-list";

@import "dashboard-legacy";
