/* ==========================================================================
   Dashboard Chart
   ========================================================================== */

.dashboard-chart {
    margin: 1em auto;
}

.dashboard-chart--donut {
    width: 260px;
    height: 260px;
}
