/* ==========================================================================
   Dashboard Icons
   ========================================================================== */


/* Icon-font
   ========================================================================== */
@font-face {
    font-family: 'dashboard';
    src:url('/bundles/kunstmaandashboard/iconfont/fonts/dashboard.eot?mmejig');
    src:url('/bundles/kunstmaandashboard/iconfont/fonts/dashboard.eot?#iefixmmejig') format('embedded-opentype'),
        url('/bundles/kunstmaandashboard/iconfont/fonts/dashboard.woff?mmejig') format('woff'),
        url('/bundles/kunstmaandashboard/iconfont/fonts/dashboard.ttf?mmejig') format('truetype'),
        url('/bundles/kunstmaandashboard/iconfont/fonts/dashboard.svg?mmejig#dashboard') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="dash-icon--"], [class*=" dash-icon--"] {
    font-family: 'dashboard';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dash-icon--copy:before {
    content: "\e601";
}
.dash-icon--stopwatch:before {
    content: "\e600";
}
.dash-icon--users:before {
    content: "\e602";
}
.dash-icon--eye:before {
    content: "\e604";
}
.dash-icon--star:before {
    content: "\e603";
}
.dash-icon--pointer:before {
    content: "\e605";
}



/* States
   ========================================================================== */
.dash-icon--big {
    font-size: 1.5em;
}

.dash-icon--circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}

.dash-icon--circle--green {
    background: lighten($green, 20%);
}
.dash-icon--circle--blue {
    background: lighten($blue, 10%);
}
.dash-icon--circle--purple {
    background: lighten($purple, 20%);
}
.dash-icon--circle--orange {
    background: lighten($orange, 20%);
}
.dash-icon--circle--red {
    background: lighten($red, 20%);
}
.dash-icon--circle--grey {
    background: $grey;
}


