/* =============================================================================
  VARS
  ========================================================================== */

//Colors
$text-color:            #333;
$text-color-light:      #666;
$text-color-lighter:    #999;

$bg-light:  #f5f5f5;
$hr-color:  #dddddd;

//$blue: #a2d3f3;
//$purple: #c6c0e9;
//$green: #c6f5ca;

$grey: #ccc;
$blue: #8AC9E1;
$purple: #CE77B6;
$green: #c6f5ca;
$orange: #EE9C27;
$yellow: #F7CC58;
$red: #D13F37;
