/* =============================================================================
  VARS
  ========================================================================== */

//Custom Font
$custom-font: 'Open Sans', sans-serif;

//Colors
$text-color:            #333333;
$text-color-light:      #666666;
$text-color-lighter:    #999999;

$bg-light:  #f5f5f5;
$hr-color:  #dddddd;

$blue:      #2997ce;
$blue-dark: #005580;

// Folders
$btns: "/bundles/kunstmaanadmin/img/btns/";
$css-bg: "/bundles/kunstmaanadmin/img/css-bg/";
$dummy: "/bundles/kunstmaanadmin/img/dummy/";
$general: "/bundles/kunstmaanadmin/img/general/";
$icons: "/bundles/kunstmaanadmin/img/icons/";

$fontAwesomePath:   "/bundles/kunstmaanadmin/font" !default;
