/* =============================================================================
  VARS
  ========================================================================== */

//Custom Font
$custom-font: 'Open Sans', sans-serif;

//Colors
$text-color:            #333333;
$text-color-light:      #666666;
$text-color-lighter:    #999999;

$bg-light:  #f5f5f5;
$hr-color:  #dddddd;

$blue: #a2d3f3;
$purple: #c6c0e9;
$green: #c6f5ca;
