<div class="clearfix">
    {{ form_errors(form) }}
    <label for="xlInput3">{{ 'media.image.image'|trans }}</label>
    <div class="input">
        {{ form_widget(form.media) }}
    </div>
    {{ form_rest(form) }}
</div>