/* ==========================================================================
   Blocks - Buttons
   ========================================================================== */

.btn, button {
    display: inline-block;
    background: none;
    border: 0;
    padding: 0;

    &:hover, &:focus, &:active {
    }
}

