/* ==========================================================================
   Blocks - Image icon
   ========================================================================== */

/* General
   ========================================================================== */
.img-icon {
    position: relative;

    width: 8px;
    height: 8px;
    margin: 0 auto;

    background: $brand-primary;

    border-radius: 100%;
}

.img-icon__img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    transform: translate3d(-50%, -50%, 0);
}
