/* ==========================================================================
   Images
   ========================================================================== */

/* Shared
   ========================================================================== */
img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

figure {
    margin: 0;

    img {
        display: block;
    }
}


/*doc
---
title: Images
name: 04_img
category: Blocks
---

```html_example
<h3>Regular</h3>
<img src="http://placehold.it/350x250">

<h3>With caption</h3>
<figure>
    <img src="http://placehold.it/350x250">
    <figcaption>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis voluptatem sed saepe debitis, impedit nesciunt quisquam ipsum molestiae quia ab.
    </figcaption>
</figure>
```
*/
