/* ==========================================================================
   Links
   ========================================================================== */

/* Shared
   ========================================================================== */
a {
    color: $link-color;
{% if demosite %}
    text-decoration: none;
{% else %}
    text-decoration: underline;
{% endif %}

    transition: color .3s ease;

    &:hover,
    &:focus {
        color: $link-color--hover;
        text-decoration: none;
    }
}


/**
 * @doc docs/links.md
 * @section
 * @sectionof Blocks
 */
