/* ==========================================================================
   Lists
   ========================================================================== */

/* Reset
   ========================================================================== */
%list-reset {
    padding: 0;
    margin: 0;

    list-style: none;
}
