/* ==========================================================================
   Lists
   ========================================================================== */

/* Reset
   ========================================================================== */
%list-reset {
    padding: 0;
    margin: 0;

    list-style: none;
}


/**
 * @section Lists
 * @sectionof Blocks
 */


/**
 * @doc docs/list-ul.md
 * @section
 * @sectionof Blocks.Lists
 */

/**
 * @doc docs/list-ol.md
 * @section
 * @sectionof Blocks.Lists
 */
