/* ==========================================================================
   Lists
   ========================================================================== */

/* Reset
   ========================================================================== */
%list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*doc
---
title: Lists
name: 05_lists
category: Blocks
---

```html_example

<h3>Unorderd list</h3>
<ul>
    <li>Unorderd list</li>
    <li>Unorderd list</li>
    <li>Unorderd list</li>
    <li>Unorderd list</li>
</ul>

<h3>Orderd list</h3>

<ol>
    <li>Orderd list</li>
    <li>Orderd list</li>
    <li>Orderd list</li>
    <li>Orderd list</li>
</ol>

```
*/
