language: php

php:
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

before_script:
    - curl -s http://getcomposer.org/installer | php
    - php composer.phar --dev install

script: phpunit --debug

notifications:
  email:
    - travis@kunstmaan.be
