parameters:
    kunstmaan_media.media_handler.remote_slide.class: 'Kunstmaan\MediaBundle\Helper\RemoteSlide\RemoteSlideHandler'
    kunstmaan_media.media_handler.remote_video.class: 'Kunstmaan\MediaBundle\Helper\RemoteVideo\RemoteVideoHandler'
    kunstmaan_media.media_handler.remote_audio.class: 'Kunstmaan\MediaBundle\Helper\RemoteAudio\RemoteAudioHandler'
    kunstmaan_media.media_handler.image.class: 'Kunstmaan\MediaBundle\Helper\Image\ImageHandler'
    kunstmaan_media.media_handler.file.class: 'Kunstmaan\MediaBundle\Helper\File\FileHandler'
    aviary_api_key: null

services:
    kunstmaan_media.media_handlers.remote_slide:
        class: "%kunstmaan_media.media_handler.remote_slide.class%"
        arguments: [1]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }

    kunstmaan_media.media_handlers.remote_video:
        class: "%kunstmaan_media.media_handler.remote_video.class%"
        arguments: [1, "%kunstmaan_media.remote_video%"]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }

    kunstmaan_media.media_handlers.remote_audio:
        class: "%kunstmaan_media.media_handler.remote_audio.class%"
        arguments: [1, "%kunstmaan_media.soundcloud_api_key%"]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }

    kunstmaan_media.media_handlers.image:
        class: "%kunstmaan_media.media_handler.image.class%"
        arguments: [1, "@kunstmaan_media.mimetype_guesser.factory", "%aviary_api_key%"]
        calls:
            - [ setMediaPath, [ "%kernel.root_dir%" ] ]
            - [ setBlacklistedExtensions, [ "%kunstmaan_media.blacklisted_extensions%" ] ]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }

    kunstmaan_media.media_handlers.file:
        class: "%kunstmaan_media.media_handler.file.class%"
        arguments: [0, "@kunstmaan_media.mimetype_guesser.factory"]
        calls:
            - [ setMediaPath, [ "%kernel.root_dir%" ] ]
            - [ setBlacklistedExtensions, [ "%kunstmaan_media.blacklisted_extensions%" ] ]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }
