parameters:
    kunstmaan_media.pdf_transformer.class: 'Kunstmaan\MediaBundle\Helper\Transformer\PdfTransformer'
    kunstmaan_media.media_handler.pdf.class: 'Kunstmaan\MediaBundle\Helper\File\PdfHandler'

services:
    kunstmaan_media.imagick:
        class: "Imagick"

    kunstmaan_media.pdf_transformer:
        class: "%kunstmaan_media.pdf_transformer.class%"
        arguments: ["@kunstmaan_media.imagick"]

    kunstmaan_media.command.createpdfpreview:
        class: Kunstmaan\MediaBundle\Command\CreatePdfPreviewCommand
        calls:
            - [setContainer, ["@service_container"] ]

    kunstmaan_media.media_handlers.pdf:
        class: "%kunstmaan_media.media_handler.pdf.class%"
        arguments: [1, "@kunstmaan_media.mimetype_guesser.factory"]
        calls:
            - [ setMediaPath, [ "%kernel.root_dir%" ] ]
            - [ setPdfTransformer, [ "@kunstmaan_media.pdf_transformer" ]]
        tags:
            -  { name: 'kunstmaan_media.media_handler' }
