{% block title page.title %}

{% block intro %}
    <div class='welcome'>
        <p><strong>I am rendering page '{{ page.title }}' !</strong></p>
    </div>
{% endblock %}
{% block content %}
    {{ render_pageparts(page, 'main') }}
{% endblock %}