parameters:
    kunstmaan_translator.menu.adaptor.class: 'Kunstmaan\TranslatorBundle\Service\Menu\TranslatorMenuAdaptor'

services:
    kunstmaan.data_collector.translator:
        class: Kunstmaan\TranslatorBundle\Component\HttpKernel\DataCollector\TranslatorDataCollector
        tags:
            - { name: data_collector, template: "KunstmaanTranslatorBundle:DataCollector:translator", id: "translator", priority: "1" }

    kunstmaan_translator.menu.adaptor:
        class: "%kunstmaan_translator.menu.adaptor.class%"
        tags:
            -  { name: 'kunstmaan_admin.menu.adaptor' }

    kunstmaan_translator.service.abstract_command_handler:
        abstract: true
        class: "Kunstmaan\TranslatorBundle\Service\Command\AbstractCommandHandler"
        calls:
            - [setManagedLocales, [%kuma_translator.managed_locales%]]
            - [setKernel, [@kernel]]

    kunstmaan_translator.service.importer.command_handler:
        parent: kunstmaan_translator.service.abstract_command_handler
        class: "Kunstmaan\TranslatorBundle\Service\Command\Importer\ImportCommandHandler"
        calls:
            - [setTranslationFileExplorer, [@kunstmaan_translator.service.file_explorer]]
            - [setImporter, [@kunstmaan_translator.service.importer.importer]]

    kunstmaan_translator.service.exporter.command_handler:
        parent: kunstmaan_translator.service.abstract_command_handler
        class: "Kunstmaan\TranslatorBundle\Service\Command\Exporter\ExportCommandHandler"
        calls:
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]
            - [setExporter, [@kunstmaan_translator.service.exporter.exporter]]

    kunstmaan_translator.service.exporter.exporter:
        class: "Kunstmaan\TranslatorBundle\Service\Command\Exporter\Exporter"

    kunstmaan_translator.service.exporter.yaml:
        class: "Kunstmaan\TranslatorBundle\Service\Command\Exporter\YamlFileExporter"
        tags:
            - { name: 'translation.exporter', alias: 'yml' }

    kunstmaan_translator.service.file_explorer:
        class: "Kunstmaan\TranslatorBundle\Service\TranslationFileExplorer"
        calls:
            - [setFileFormats, [%kuma_translator.file_formats%]]

    kunstmaan_translator.service.importer.importer:
        class: "Kunstmaan\TranslatorBundle\Service\Command\Importer\Importer"
        calls:
            - [setTranslationGroupManager, [@kunstmaan_translator.service.group_manager]] # default, maken via config var
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]

    kunstmaan_translator.service.group_manager:
        class: "Kunstmaan\TranslatorBundle\Service\TranslationGroupManager"
        calls:
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]

    kunstmaan_translator.service.translator.loader:
        class: Kunstmaan\TranslatorBundle\Service\Translator\Loader
        tags:
            - { name: 'translation.loader', alias: 'database' }
        calls:
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]

    kunstmaan_translator.service.translator.resource_cacher:
        class: Kunstmaan\TranslatorBundle\Service\Translator\ResourceCacher
        calls:
            - [setDebug, [%kuma_translator.debug%]]
            - [setCacheDir, [%kuma_translator.cache_dir%]]
            - [setLogger, [@logger]]

    kunstmaan_translator.service.translator.cache_validator:
        class: Kunstmaan\TranslatorBundle\Service\Translator\CacheValidator
        calls:
            - [setCacheDir, [%kuma_translator.cache_dir%]]
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]

    kunstmaan_translator.service.translator.translator:
        class: Kunstmaan\TranslatorBundle\Service\Translator\Translator
        arguments:
            - @service_container
            - @translator.selector
            - {}
            - { cache_dir : %kuma_translator.cache_dir%, debug: %kuma_translator.debug% }
            - [@session]
        calls:
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]
            - [setResourceCacher, [@kunstmaan_translator.service.translator.resource_cacher]]

    kunstmaan_translator.service.migrations.migrations:
        class: "Kunstmaan\TranslatorBundle\Service\Migrations\MigrationsService"
        calls:
            - [setTranslationRepository, [@kunstmaan_translator.repository.translation]]
            - [setEntityManager, [@doctrine.orm.default_entity_manager]]

    kunstmaan_translator.service.command.diff:
        class: "Kunstmaan\TranslatorBundle\Service\Command\DiffCommand"
