<button id="kmcc-accept-some-cookies" 
    class="kmcc-btn" 
    data-href="{{ path('kunstmaancookiebundle_legal_toggle_cookies') }}">

    {{ 'kuma.cookie.cookie_preferences.save' | trans }}
</button>