<a href="#" id="kmcc-close-detail" class="kmcc-btn-close-detail">
    {% include 'KunstmaanCookieBundle:Svg:CloseDetailButtonIcon.html.twig' %}
    <span class="kmcc-btn-close-detail__text">
        {{ 'kuma.cookie.sidebar.back' | trans | raw }}
    </span>
</a>