/* ==========================================================================
   Forms - Base
   ========================================================================== */

button, input[type="text"], textarea, select {
    &:focus {
        outline: none;
    }
}


/* Default
   ========================================================================== */
.form--default {

    .form-group {
        position: relative;
        margin: 2rem 0 1rem;
        width: 100%;
        max-width: 460px;
    }

    .form-control--input, .form-control--textarea, .form-control--select {
        padding: .2rem 0;
        display: block;

        border: 0;
        border-bottom: 1px solid $hr-color;
        width: 100%;
        min-height: 38px;
        font-weight: 400;

        ~ .form-bar {
            display: block;
            width: 0;
            height: 1px;
            background: $theme-color;

            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.2s ease;
        }

        &:focus {
            outline: none;
            ~ .form-bar {
                width: 100%;
                transition: all 0.075s ease;
            }
        }

        &:focus, &:valid, &.form-control--filled {
            ~ .control-label {
                font-size: 0.75rem;
                color: $theme-color;
                font-weight: 400;
                top: -1.2rem;
                transition: all 0.2s ease;
            }
        }
    }

    .form-control--textarea {
        height: 5.6rem;
    }

    .control-label {
        color: $gray;
        padding: .2rem 0; // same as form-control

        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    // Select
    .select-wrapper {
        position: relative;
    }
    .form-control--select {
        // reset
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;

        //style
        height: 38px;
    }
    .select__icon {
        position: absolute;
        top: 0;
        right: 0;

        width: 38px;
        height: 38px;
        text-align: center;
        font-size: .5rem;
        line-height: 38px;
        color: $gray;
    }

}
