/* ==========================================================================
   Forms - Base
   ========================================================================== */

button, input[type="text"], input[type="textarea"] {
    &:focus {
        outline: none;
    }
}

input[type="text"], input[type="textarea"] {

}

/* Default
   ========================================================================== */
.form--default {

    .form-group {
        position: relative;
        margin: 2rem 0 1rem;
        width: 100%;
        max-width: 460px;
    }

    .form-control--input, .form-control--textarea {
        padding: .2rem 0;
        border: 0;
        border-bottom: 1px solid $hr-color;
        width: 100%;
        font-weight: 600;

        ~ .form-bar {
            display: block;
            width: 0;
            height: 1px;
            background: $theme-color;

            position: absolute;
            bottom: -1px;
            left: 0;
            transition: all 0.2s ease;
        }

        &:focus {
            outline: none;
            ~ .form-bar {
                width: 100%;
                transition: all 0.075s ease;
            }
        }

        &:focus, &:valid {
            ~ .control-label {
                font-size: 0.75rem;
                color: $theme-color;
                font-weight: 600;
                top: -2rem;
                transition: all 0.2s ease;
            }
        }
    }

    .control-label {
        color: $gray;
        padding: .2rem 0; // same as form-control

        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

}
