/* ==========================================================================
   Forms - Base
   ========================================================================== */

button, input[type="text"], input[type="textarea"] {
    &:focus {
        outline: none;
    }
}

input[type="text"], input[type="textarea"] {

}

/* Default
   ========================================================================== */
.form--default {

    .form-group {
        position: relative;
    }

    input, textarea {
        margin: 2rem 0 1rem;
        padding: 1rem 0;
        border: 0;

        ~ .form-bar {
            display: block;
            width: 0;
            height: 1px;
            background: $theme-color;

            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.2s ease;
        }

        &:focus {
            outline: none;
            ~ .form-bar {
                width: 100%;
                transition: all 0.075s ease;
            }
        }

        &:focus, &:valid {
            ~ .control-label {
                font-size: 0.75rem;
                color: $theme-color;
                top: -2.25rem;
                transition: all 0.2s ease;
            }
        }
    }

    .control-label {
        color: $gray;
        padding: 1rem 0;

        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

}
