/* ==========================================================================
   Forms - Form control
   ========================================================================== */


/* General
   ========================================================================== */
.form-control--input, .form-control--textarea, .form-control--select {
    display: block;
    width: 100%;
    max-width: 26rem;
    min-height: 3rem;
    padding: .2em 0;

    border: 0;
    border-bottom: 1px solid $hr-color;
    font-weight: 400;

    &:focus {
        outline: none;
    }

{% if demosite %}
    &:focus, &:valid, &.form-control--filled {

        ~ .control-label {
            @include control-label-active;
        }
    }
{% endif %}
}


/* Textarea
   ========================================================================== */
.form-control--textarea {
    height: 5.6rem;
    max-width: none;
}


/* Select
   ========================================================================== */
.form-control--select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    border-radius: 0;

    height: 38px;
    position: relative;
    z-index: 2;

    opacity: 0;

    ~ .form-bar {
        margin-top: 0;
        margin-bottom: -1px;
    }

    &:focus, &:valid, &.form-control--filled {
        opacity: 1;
    }
}
