/* ==========================================================================
   Forms - Form group
   ========================================================================== */

/* General
   ========================================================================== */
.form-group {
    position: relative;

    width: 100%;
    padding: 2em 0 1em;

    &:first-child {
        padding-top: 0;
    }
}


/* Errors
   ========================================================================== */
.form-group--has-error {
    .form-bar {
        width: 100%;

        background: $red;
    }

    .help-block {
        font-size: .8rem;
        font-weight: 400;
        color: $red;
    }
}
