/* ==========================================================================
   Forms - Form control label
   ========================================================================== */


/* General
   ========================================================================== */
.form-control-label {
{% if demosite %}
    color: $grey;
    font-size: .9rem;

    pointer-events: none;
{% endif %}
}

{% if demosite %}
.form__input {
    &:active,
    &:focus,
    &.form__input--active {
        background: $white;

        & + .form__label {
            transform: translateY(-2rem);

            font-size: .9rem;
        }
    }

    &:focus {
        background: rgba($black, .1);

        & + .form__label {
            @include control-label-active;
        }
    }
}{% endif %}



/*doc
---
title: Label
name: 03_label
category: Forms
---


```html_example
<label class="form-control-label">
    Name
</label>
```
*/
