/* ==========================================================================
   Forms - Widgets
   ========================================================================== */

/* Hidden
   ========================================================================== */
.form-widget--hidden {
    display: none;
}


/* Select
   ========================================================================== */
.form-widget--select {
{% if demosite %}
    position: relative;

    max-width: 45rem;
    min-height: 4rem;
    padding: 0;

    border: 1px solid $hr-color;

    &:focus {
        border-color: $brand-primary;
        outline: none;
    }

{% endif %}
}
{% if demosite %}
.select__icon {
    position: absolute;
    top: 0;
    right: .35rem;
    z-index: -1;

    height: 4rem;
    width: 4rem;

    font-size: .7rem;
    line-height: 4rem;
    text-align: center;
    color: $grey;
}
{% endif %}

/* Choices
   ========================================================================== */
.form-widget--choices {
{% if demosite %}
    padding-top: .9rem;

{% endif %}
}

.form-widget--choices--filled {
{% if demosite %}
    ~ .form__label {
        @include control-label-active;
    }
{% endif %}
}


/* Widget - File Upload
   ========================================================================== */
.form-widget--file-upload {
{% if demosite %}
    padding-top: .5rem;

    .form-control {
        line-height: 80%;
    }

    .form__label {
        top: -1.2rem;
    }

    ~ .form__label {
        display: none;
    }
{% endif %}
}

/* Text area
   ========================================================================== */

{% if demosite %}
.form-widget--textarea {
    width: 100%;
    max-width: 45rem;
}
{% endif %}


/*doc
---
title: Form Widgets
name: 05_widgets
category: Forms
---


```html_example
<div class="form-widget--select" id="formwidget">
    <i class="icon icon--triangle-down select__icon"></i>
    <select id="formwidget-value" name="form[formwidget][formwidget-value]" required="required" class="form-control form-control--select">
        <option value="0">I want to make a website with the Kunstmaan bundles</option>
        <option value="1">I'm testing the website</option>
        <option value="2">I want to get a quote for a website built by Kunstmaan</option>
    </select>
    <span class="form-bar"></span>
</div>
```
*/
