/* ==========================================================================
   Forms - Widgets
   ========================================================================== */

/* Hidden
   ========================================================================== */
.form-widget--hidden {
    display: none;
}


/* Select
   ========================================================================== */
.form-widget--select {
{% if demosite %}
    position: relative;

    max-width: 450px;
    min-height: 40px;
    padding: 0;

    border: 1px solid $hr-color;

    &:focus {
        border-color: $brand-primary;
        outline: none;
    }
{% endif %}
}
{% if demosite %}

.select__icon {
    position: absolute;
    top: 0;
    right: 4px;
    z-index: -1;

    width: 40px;
    height: 40px;

    color: $grey;
    font-size: 7px;
    line-height: 40px;
    text-align: center;
}
{% endif %}

/* Choices
   ========================================================================== */
.form-widget--choices {
{% if demosite %}
    padding-top: 9px;
{% endif %}
}

.form-widget--choices--filled {
{% if demosite %}
    ~ .form__label {
        @include control-label-active();
    }
{% endif %}
}


/* Widget - File Upload
   ========================================================================== */
.form-widget--file-upload {
{% if demosite %}
    padding-top: 5px;

    .form-control {
        line-height: 80%;
    }

    .form__label {
        top: -12px;
    }

    ~ .form__label {
        display: none;
    }
{% endif %}
}

/* Text area
   ========================================================================== */

{% if demosite %}
.form-widget--textarea {
    width: 100%;
    max-width: 450px;
}
{% endif %}


/**
 * @doc docs/form-widget.md
 * @section
 * @sectionof Forms
 */
