/* ==========================================================================
   Forms - Form group
   ========================================================================== */

/* General
   ========================================================================== */
.form-group {
    position: relative;

    width: 100%;
    padding: 0;
    margin: 25px 0;

    &:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}


/* Errors
   ========================================================================== */
.form-group--has-error {
    .form-control {
        border-color: $brand-danger;
    }
}

.form-group__error {
    color: $brand-danger;
    font-size: .8em;
}


/**
 * @doc docs/form-group.md
 * @section
 * @sectionof Forms
 */
