/* ==========================================================================
   Forms - Form control
   ========================================================================== */

/* General
   ========================================================================== */
.form-control {
    display: block;
    width: 100%;
    max-width: 26rem;
    min-height: 2.5rem;
    padding: 0 1em;

    border: 0;

{% if demosite %}
    border-bottom: 1px solid $hr-color;
    font-weight: 400;
{% endif %}

    &:focus {
        outline: none;
    }

{% if demosite %}
    &:focus, &:valid, &.form-control--filled {

        ~ .control-label {
            @include control-label-active;
        }
    }
{% endif %}
}


/* Input
   ========================================================================== */
.form-control--input {}


/* Textarea
   ========================================================================== */
.form-control--textarea {
{% if demosite %}
    min-height: 5.6rem;
{% endif %}
    max-width: none;
}


/* Select
   ========================================================================== */
.form-control--select {
{% if demosite %}
    z-index: 2;
    position: relative;

    height: 3rem;

    border-radius: 0;
    opacity: 0;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:focus, &:valid, &.form-control--filled {
        opacity: 1;
    }
{% endif %}
}
