/* ==========================================================================
   Forms - Form control
   ========================================================================== */

/* General
   ========================================================================== */
.form-control {
    display: block;
    width: 100%;
    max-width: 46rem;
    min-height: 4.5rem;
    padding: 0 1em;

{% if demosite %}
    border: 1px solid $hr-color;

    font-weight: 400;
{% else %}
    border: 1px solid $grey;
{% endif %}

    &:focus {
        outline: none;
    }
{% if demosite %}

    &:focus,
    &.form-control--filled {
        border-color: $brand-primary;
    }
{% endif %}
}


/* Input
   ========================================================================== */
.form-control--input {}


/* Textarea
   ========================================================================== */
.form-control--textarea {
    max-width: none;
{% if demosite %}
    min-height: 10rem;
{% endif %}
    padding: 1em;
}


/* Select
   ========================================================================== */
.form-control--select {
{% if demosite %}
    position: relative;
    z-index: 2;

    width: 100%;
    height: 4rem;
    padding-right: 4rem;

    background: transparent;
    background-image: none;
    box-shadow: none;

    border: none;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: 1.25rem;

    &:focus,
    &:valid {
        opacity: 1;
    }
{% endif %}
}


/*doc
---
title: Form Control
name: 02_form-control
category: Forms
---

```html_example
<input type="text" id="fc1" name="fc1" class="form-control form-control--input">

<h3>Textarea</h3>
<textarea id="fc2" name="fc2" class="form-control form-control--textarea"></textarea>

<h3>Select</h3>
<select id="fc3" name="fc3" class="form-control form-control--select">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>

```
*/
