/* ==========================================================================
   Forms - Search
   ========================================================================== */

.searchbox-form {
    width: $search-height-mobile;
    transition: width .2s ease-in-out;
}

.searchbox {
    min-width: $search-height-mobile;

    @include clearfix;
    position: relative;
    overflow: hidden;
}

.searchbox__content {
    width: $search-height-mobile;
    max-width: 100%;
    float: right;

    position: relative;
    transition: width .2s ease-in-out;
}

.searchbox__input {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    position: relative;
    z-index: 2;
    cursor: pointer;
    border: none;

    height: $search-height-mobile;
    line-height: $search-height-mobile;
    vertical-align: top;

    padding: 0 $search-height-mobile 0 calc(#{$search-height-mobile} + 1rem);

    font-size: .8rem;
    color: $black;
}

.searchbox__back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.searchbox__submit {
    text-align: center;
    border: none;

    position: absolute;
    top: 0;
    right: 0;
    background: $white;
}
.searchbox__back, .searchbox__submit {
    width: $search-height-mobile;
    height: $search-height-mobile;
    line-height: $search-height-mobile;
}
.searchbox__submit__icon {
    color: $theme-color;
    font-size: .8rem;
}

// Active
.searchbox-form--active {
    width: 100%;

    .searchbox__content {
        width: 100%;
    }
    .searchbox__input {
        opacity: 1;
        z-index: 0;
        cursor: text;

        background: $white;
        width: 100%;
    }
}

/* Mobile
   ========================================================================== */
@media(max-width: $screen-sm-max) {
}


/* Desktop
   ========================================================================== */
@media(min-width: $screen-md-min) {

    .searchbox-form {
        width: $search-height;
        margin-right: 1rem;
    }

    .searchbox {
        min-width: $search-height;
    }

    .searchbox__content {
        width: $search-height;
        float: none;
    }

    .searchbox__input {
        width: 340px;
        display: inline-block;
        height: $search-height;
        line-height: $search-height;

        padding: .65rem 1rem;
        background-color: $gray-lighter;
        border: 1px solid $hr-color;

        padding-right: $search-height;
    }
    .searchbox__submit {
        width: $search-height;
        height: $search-height;
        line-height: $search-height - 3px;

        background: none;
    }

    // Active
    .searchbox-form--active {
        width: 340px;

        .searchbox {
            @include box-shadow;
        }
        .searchbox__content {
            width: 340px;
        }
    }

}
