/* ==========================================================================
   Forms - Search
   ========================================================================== */

// THEME
.searchbox-form {
    margin-right: 1rem;
}

.searchbox {
    min-width: calc(#{$search-height} + 1rem);
    position: relative;
    overflow: hidden;
    @include transition(overflow .1s ease-in-out .2s);
}
.searchbox--active {
    overflow: visible;

    .searchbox__content {
        width: 340px;
    }

    .searchbox__input {
        opacity: 1;
        z-index: 0;
        cursor: text;
    }
}

.searchbox__content {
    position: relative;
    max-width: 100%;
    width: $search-height;
    @include transition(width .2s ease-in-out);
}

.searchbox__input {
    opacity: 0;
    @include transition(opacity .2s ease-in-out);

    position: relative;
    z-index: 2;
    cursor: pointer;

    width: 340px;
    display: inline-block;
    height: $search-height;
    line-height: $search-height;

    // cf. button-pp
    font-size: .8rem;
    color: $black;

    padding: .65rem 1rem;
    background-color: $gray-lighter;
    border: 1px solid $hr-color;
    @include box-shadow;

    padding-right: $search-height;
}
.searchbox__submit {
    width: $search-height;
    height: $search-height;
    line-height: $search-height - 3px;
    text-align: center;

    border: none;
    background: none;

    position: absolute;
    top: 0;
    right: 0;
}
.searchbox__submit__icon {
    color: $theme-color;
    font-size: .8rem;
}
