{% extends '<% if not isV4 %><%= bundle.name %>:<% endif %>Page<% if not isV4 %>:<% else %>/<% endif %>layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Sitemap</h1>
        <ul class="sitemap">
            {% if nodemenu is defined %}
                {% for topNode in nodemenu.getTopNodes() %}
                    {% for node in topNode.getChildren() %}
                        {% include '@KunstmaanSitemap/SitemapPage/entry.html.twig' with {'entry' : node} %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
