/* ==========================================================================
   Headings

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$line-height--headers:  1.1;

$font-size-h1:          3.75rem;
$font-size-h1--smaller: 3rem;
$font-size-h2:          2.25rem;
$font-size-h3:          1.65rem;

$font-size-h4:          1rem;
$font-size-h5:          1rem;
$font-size-h6:          1rem;
