/* ==========================================================================
   Images
   ========================================================================== */

/* Shared
   ========================================================================== */
img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

figure {
    margin: 0;

    img {
        display: block;
    }
}
