/* ==========================================================================
   Links
   ========================================================================== */

/* Shared
   ========================================================================== */
a {
    transition: color .3s ease;

    color: $link-color;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: $link-color--hover;
    }
}