{# Twig vars are commented: they are loaded with AJAX, they are still here as a placeholder #}

<ul id="goalOverview{{overview.id}}" class="dashboard__content__item dashboard-goals-list" style="display:none;">
    {% for goal in overview.goals %}
        {% if goal.visits > 0 %}
            <li class="dashboard-goals-list__item" id="goal{{goal.id}}">
                <span class="dashboard-goals-list__item__title"></span>
                <span class="dashboard-goals-list__item__number"></span>
                <div class="dashboard-goals-list__chart" ></div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
