<ul class="dashboard-tabs">
    {% set i = 1 %}
    {% for overview in overviews %}
        <li class="dashboard-tabs__item" id="tab{{ overview.id }}">
            <div class="dashboard-tabs__controller" data-id="{{ overview.id }}" data-path="{{ path('KunstmaanDashboardBundle_analytics_overview_ajax', {'id':overview.id}) }}">
                <h6 class="dashboard-tabs__item__title">
                    {{ overview.title }}
                </h6>
            </div>
        </li>
        {% set i = i + 1 %}
    {% endfor %}
</ul>

