{% if token %}
<div id="dashboard" class="dashboard">

    <!-- TABS -->
    {% include 'KunstmaanDashboardBundle:GoogleAnalytics:tabs.html.twig' with {'overviews' : overviews, 'lastUpdate' : lastUpdate} %}
    <!-- end TABS -->

    <div id="data_no_overview" style="display:{% if overview.sessions == 0 %}block{% else %}none{% endif %}">{{ 'analytics.overview.unavailable' | trans}}</div>

    <!-- TAB CONTENT -->
    <section class="dashboard__content dashboard__content--loading" id="data_overview" {% if overview.sessions == 0 %}style="display:none"{% endif %}>

        <!-- CHART -->
        {% include 'KunstmaanDashboardBundle:GoogleAnalytics:chart.html.twig' %}
        <!-- end CHART -->

        {% if overview.getGoals | length > 0 %}
            {% include 'KunstmaanDashboardBundle:GoogleAnalytics:goals.html.twig' with {'overview' : overview} %}
        {% endif %}
    </section>
    <!-- end TAB CONTENT -->

    <section>
        <a href="{{ path('KunstmaanDashboardBundle_analytics_resetProfile') }}">Reset Profile</a> | <a href="{{ path('KunstmaanDashboardBundle_analytics_resetProperty') }}">Reset Property</a>
    </section>
</div>

{% else %}
    {% include 'KunstmaanDashboardBundle:GoogleAnalytics:connect.html.twig' with {'authUrl' : authUrl} %}
{% endif %}

{% block extrajavascript %}
    {% javascripts
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/chart.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/tabs.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/goals.js'
        '@KunstmaanDashboardBundle/Resources/public/js/libs/morris.js-0.4.3/morris.min.js'
        '//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'
        output='generated-js/scripts_bottom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


