{% block breadcrumbs %}{% endblock %}
{% block doormat %}{% endblock %}
{% block footer %}{% endblock %}

{% block header %}
    <header role="header">
        <div class="row-fluid">
            <div class="span8">
                <a href="/">
                    <img src="http://placehold.it/300x100&amp;text=Logo" alt="placeholder">
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <ul>
                {% for lang in languagechooser_languages %}
                    <li><a href="{{ path('_slug', { '_locale': lang }) }}">{{ 'lang_chooser.welcome'|trans({}, 'messages', lang) }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


