{% extends '<%= bundle.name %>:Page:layout.html.twig' %}

{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block social %}{% endblock %}
{% block doormat %}{% endblock %}
{% block footer %}{% endblock %}

{% block extra_body_attributes %}
    class="language-chooser"
{% endblock %}

{% block content %}
    <div class="container">
        <header role="header" class="text-center language-chooser__header">
            <img src="{{ asset('bundles/<%= bundle.name|lower|replace({"bundle": ""}) %>/img/general/demo-logo--white.svg') }}" alt="Demosite" class="site-logo__img--big"/>
        </header>
        <nav role="navigation">
            <ul class="list-reset language-chooser__list">
                {% for lang in languagechooser_languages %}
                    <li class="language-chooser__list-item">
                        <a href="{{ path('_slug', { '_locale': lang }) }}" class="language-chooser__link">
                            {{ 'lang_chooser.welcome'|trans({}, 'messages', lang) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}
