/* ==========================================================================
    Main app holder
   ========================================================================== */

$transition: .6s $snip-ease-sine-in-out;

@keyframes blockToFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.kuma-main-app-holder {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.kuma-main-app__content-holder {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
}

.kuma-main-app__content {
    padding: 90px;
}

.kuma-main-app__sidebar__header {
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    transition: background-color $transition;
}

.kuma-main-app__sidebar__title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 20px;
    margin: 0;

    color: var(--color-client-text-on-bg);

    visibility: hidden;

    transition: visibility .3s $snip-ease-sine-in-out;
    transition-delay: 0;
}

.kuma-main-app__sidebar__language-chooser {
    background-color: var(--color-greyscale-500);

    transition: background-color $transition;

    &:after {
        transition: background-color $transition, transform $transition;
    }
}


.kuma-main-app__sidebar {
    position: relative;
    z-index: var(--z-show);

    flex: 0 0 70px;

    background: var(--color-greyscale-500);
    box-shadow: 0 0 16px 0 rgba(#070C3C, .3);

    transition: flex-basis $transition;

    &:hover,
    &:focus,
    &--open {
        flex-basis: 360px;

        .kuma-main-app__sidebar__header,
        .kuma-main-app__sidebar__language-chooser {
            background-color: var(--color-client-primary);
        }

        .kuma-main-app__sidebar__language-chooser {
            color: var(--color-kuma-primary);

            &:after {
                transform: rotate3d(0, 0, 1, 90deg);

                background: var(--color-greyscale-500);
            }
        }

        .kuma-main-app__sidebar__title,
        .kuma-main-nav__item__text {
            visibility: visible;
            transition-delay: .3s;
        }

        .kuma-main-app__sidebar__user-control__logout__text {
            display: inline-block;

            animation: blockToFadeIn .6s $snip-ease-sine-in-out 1 forwards;
        }

        .kuma-main-app__sidebar__user-name {
            transform: translate3d(0, 70px, 0);

            opacity: 1;
        }

        .kuma-main-app__sidebar__user__figure {
            transform: scale3d(2, 2, 1) translate3d(0, 20px, 0);
        }
    }
}

.kuma-main-app__sidebar__user__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 30px auto 0;

    background: var(--color-greyscale-500);
    box-shadow: 2px 2px 8px 0 rgba(#070C3C, .3);

    border-radius: 50%;

    transition: transform $transition;
}

.kuma-main-app__sidebar__user__figure__icon {
    width: 24px;
    height: 24px;

    fill: var(--color-kuma-primary);
}

.kuma-main-app__sidebar__user-name {
    opacity: 0;

    text-align: center;
    font-size: 14px;

    transition: opacity $transition, transform $transition;
}

.kuma-main-app__sidebar__user-control__logout-holder {
    text-align: center;
}

.kuma-main-app__sidebar__user-control__logout {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;

    &:hover,
    &--active {
        text-decoration: none;

        .kuma-main-app__sidebar__user-control__logout__icon {
            fill: var(--color-client-primary);
        }

        .kuma-main-app__sidebar__user-control__logout__text {
            color: var(--color-client-primary);
        }
    }
}

.kuma-main-app__sidebar__user-control__logout__icon {
    display: inline-block;
    width: 20px;
    height: 20px;

    fill: var(--color-greyscale-100);

    transition: fill .3s $snip-ease-sine-in-out;

    vertical-align: middle;
}

.kuma-main-app__sidebar__user-control__logout__text {
    display: none;
    margin-left: 20px;

    font-size: 16px;
    color: var(--color-greyscale-100);
}
