/* ==========================================================================
    Main app holder
   ========================================================================== */

$transition: .6s $snip-ease-sine-in-out;

.kuma-main-app-holder {
    overflow: hidden;
    height: 100%;

    @media (min-width: $break-sm) {
        display: flex;
    }
}

.kuma-main-app__content-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    @media (min-width: $break-sm) {
        flex: 1 1 auto;
    }
}

.kuma-main-app__content {
    display: flex;
    flex: 1;
}

.kuma-main-app__main-content {
    padding: 20px 20px 20px 90px;
    flex: 1;

    @media (min-width: $break-sm) {
        padding: 90px;
    }
}

.kuma-main-app__sidebar__header {
    position: relative;

    padding: 15px;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;

    transition: background-color $transition;
}

.kuma-main-app__sidebar__title-holder {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;

    width: 100%;
    max-width: calc(100% - 70px);
    margin: 0;
    transform: translate3d(-40px, -50%, 0);

    opacity: 0;

    transition: opacity .3s $snip-ease-sine-in-out, transform .3s $snip-ease-sine-in-out;
}

.kuma-main-app__sidebar__title {
    margin: 0;
    padding: 20px;

    color: var(--color-client-text-on-bg);
}

.kuma-main-app__sidebar__logo {
    max-height: 70px;
    height: 100%;
    width: auto;
}

.kuma-main-app__sidebar__language-chooser {
    .kuma-language-nav__active-language {
        transition: background-color $transition;
    
        &:after {
            transition: background-color $transition, transform $transition;
        }
    }
}


.kuma-main-app__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-show);

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 70px;

    background: var(--color-greyscale-500);
    box-shadow: 0 0 16px 0 rgba(#070C3C, .3);

    transition: max-width $transition;

    &:hover,
    &:focus,
    &--open {
        width: 100%;
        max-width: 360px;

        .kuma-main-app__sidebar__header {
            background-color: var(--color-client-primary);
        }

        .kuma-main-app__sidebar__language-chooser .kuma-language-nav__active-language {
            color: var(--color-kuma-primary);

            &:after {
                transform: rotate3d(0, 0, 1, 90deg);

                background: var(--color-greyscale-500);
            }
        }

        .kuma-main-app__sidebar__title-holder,
        .kuma-main-nav__item__text,
        .kuma-user-nav__logout__text,
        .kuma-user-nav__keep-open-toggle {
            opacity: 1;
            transition-delay: .3s;
        }

        .kuma-main-nav__item__text,
        .kuma-user-nav__logout__text {
            transform: translate3d(0, -50%, 0);
        }

        .kuma-main-app__sidebar__title-holder {
            transform: translate3d(0, -50%, 0);
        }

        // .kuma-user-nav__logout__text {
        //     transform: translate3d(10px, -50%, 0);
        //     transition-delay: .3s;
        // }

        // .kuma-user-nav__logout__icon {
        //     transform: translate3d(-20px, 0, 0);
        // }
        

        // .kuma-user-nav-name {
        //     transform: translate3d(0, 70px, 0);

        //     opacity: 1;
        // }

        // .kuma-user-nav__figure {
        //     transform: scale3d(2, 2, 1) translate3d(0, 20px, 0);
        // }
    }

    @media (min-width: $break-sm) {
        position: relative;

        flex: 0 0 70px;
        max-width: none;

        transition: flex-basis $transition;

        &:hover,
        &:focus,
        &--open {
            flex-basis: 360px;
            max-width: none;
        }
    }
}

.kuma-main-app__sidebar__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.kuma-main-app__sidebar__cms-logo {
    display: block;
    width: 40px;
    height: auto;
}
