/* ==========================================================================
    Main app holder
   ========================================================================== */

$transition: .6s $snip-ease-sine-in-out;

.kuma-main-app-holder {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.kuma-main-app__content-holder {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.kuma-main-app__content {
    display: flex;
    flex: 1;
}

.kuma-main-app__main-content {
    padding: 90px;
    flex: 1;
}

.kuma-main-app__sidebar__header {
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;

    transition: background-color $transition;
}

.kuma-main-app__sidebar__title-holder {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;

    visibility: hidden;

    transition: visibility .3s $snip-ease-sine-in-out;
    transition-delay: 0;
}

.kuma-main-app__sidebar__title {
    margin: 0;
    padding: 20px;

    color: var(--color-client-text-on-bg);
}

.kuma-main-app__sidebar__logo {
    max-height: 70px;
    height: 100%;
    width: auto;
}

.kuma-main-app__sidebar__language-chooser {
    background-color: var(--color-greyscale-500);

    transition: background-color $transition;

    &:after {
        transition: background-color $transition, transform $transition;
    }
}


.kuma-main-app__sidebar {
    position: relative;
    z-index: var(--z-show);

    flex: 0 0 70px;
    display: flex;
    flex-direction: column;

    background: var(--color-greyscale-500);
    box-shadow: 0 0 16px 0 rgba(#070C3C, .3);

    transition: flex-basis $transition;

    &:hover,
    &--open {
        flex-basis: 360px;

        .kuma-main-app__sidebar__header,
        .kuma-main-app__sidebar__language-chooser {
            background-color: var(--color-client-primary);
        }

        .kuma-main-app__sidebar__language-chooser {
            color: var(--color-kuma-primary);

            &:after {
                transform: rotate3d(0, 0, 1, 90deg);

                background: var(--color-greyscale-500);
            }
        }

        .kuma-main-app__sidebar__title-holder,
        .kuma-main-nav__item__text,
        .kuma-user-nav__logout__text,
        .kuma-user-nav__keep-open-toggle {
            opacity: 1;
            transition-delay: .3s;
        }

        .kuma-main-nav__item__text,
        .kuma-user-nav__logout__text {
            transform: translate3d(0, -50%, 0);
        }

        // .kuma-user-nav__logout__text {
        //     transform: translate3d(10px, -50%, 0);
        //     transition-delay: .3s;
        // }

        // .kuma-user-nav__logout__icon {
        //     transform: translate3d(-20px, 0, 0);
        // }
        

        // .kuma-user-nav-name {
        //     transform: translate3d(0, 70px, 0);

        //     opacity: 1;
        // }

        // .kuma-user-nav__figure {
        //     transform: scale3d(2, 2, 1) translate3d(0, 20px, 0);
        // }
    }
}
