/* ==========================================================================
    main header
   ========================================================================== */

.kuma-main-header {
    width: 100%;
    padding: 30px 90px;

    background: var(--color-greyscale-500);
}
