/* ==========================================================================
   General
   ========================================================================== */

// Responsive image Fix
img {
    max-width: 100%;
}

// iOS Fix
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
