/* ==========================================================================
   Helpers

   Never add styles directly to this file - set up imports
   ========================================================================== */

/* Placeholders
   ========================================================================== */
@import "placeholders/link-reset",
        "placeholders/default-transitions",
        "placeholders/loading";


/* Mixins
   ========================================================================== */
@import "mixins/placeholder";


/* Animations
   ========================================================================== */
@import "animations/rotateplane",
        "animations/shake";
