parameters:
    kunstmaan_menu.menu.adaptor.class: Kunstmaan\MenuBundle\Service\MenuAdaptor
    kunstmaan_menu.menu.service.class: Kunstmaan\MenuBundle\Service\MenuService
    kunstmaan_menu.menu.twig.extension.class: Kunstmaan\MenuBundle\Twig\MenuTwigExtension
    kunstmaan_menu.menu.repository.class: Kunstmaan\MenuBundle\Repository\MenuItemRepository
    kunstmaan_menu.menu.render_service.class: Kunstmaan\MenuBundle\Service\RenderService

services:
    kunstmaan_menu.menu.adaptor:
        class: %kunstmaan_menu.menu.adaptor.class%
        arguments: ["%kunstmaan_menu.menus%"]
        tags:
            - { name: kunstmaan_admin.menu.adaptor }


    kunstmaan_menu.menu.service:
        class: %kunstmaan_menu.menu.service.class%
        arguments:
            - "%kunstmaan_menu.menus%"
            - "@kunstmaan_admin.domain_configuration"
            - "@doctrine.orm.entity_manager"

    kunstmaan_menu.menu.render_service:
        class: %kunstmaan_menu.menu.render_service.class%
        arguments:
            - "@router"

    kunstmaan_menu.menu.repository:
        class:            %kunstmaan_menu.menu.repository.class%
        factory_service:  "doctrine.orm.entity_manager"
        factory_method:   getRepository
        arguments:        ["%kunstmaan_menu.entity.menuitem.class%"]

    kunstmaan_menu.menu.twig.extension:
        class: %kunstmaan_menu.menu.twig.extension.class%
        arguments:
            - "@kunstmaan_menu.menu.repository"
            - "@kunstmaan_menu.menu.render_service"
        tags:
            - { name: twig.extension }
