parameters:
    kunstmaan_menu.menu.adaptor.class: Kunstmaan\MenuBundle\Service\MenuAdaptor
    kunstmaan_menu.menu.service.class: Kunstmaan\MenuBundle\Service\MenuService
    kunstmaan_menu.menu.twig.extension.class: Kunstmaan\MenuBundle\Twig\MenuTwigExtension

services:
    kunstmaan_menu.menu.adaptor:
        class: %kunstmaan_menu.menu.adaptor.class%
        arguments: ["%kunstmaan_menu.menus%"]
        tags:
            - { name: kunstmaan_admin.menu.adaptor }


    kunstmaan_menu.menu.service:
        class: %kunstmaan_menu.menu.service.class%
        arguments:
            - "%kunstmaan_menu.menus%"
            - "@kunstmaan_admin.domain_configuration"
            - "@doctrine.orm.entity_manager"

    kunstmaan_menu.menu.twig.extension:
        class: %kunstmaan_menu.menu.twig.extension.class%
        arguments: ["@doctrine.orm.entity_manager", "@router"]
        tags:
            - { name: twig.extension }
