{% if nodemenu is defined and nodemenu.breadCrumb|length > 1 %}
    <section class="container">
        <nav role="navigation" class="breadcrumb">
            {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
            <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}" class="breadcrumb__item breadcrumb__item--home">
                Home
            </a>
            <i class="icon icon--arrow-right breadcrumb__icon"></i>

            {% for node in nodemenu.breadCrumb %}
                {% if not loop.first %}
                    {% if loop.last %}
                        <span class="breadcrumb__item breadcrumb__item--current">
                            {{ node.title }}
                        </span>
                    {% else %}
                        <a href="{{ path('_slug', { 'url': node.slug }) }}" class="breadcrumb__item">
                            {{ node.title }}
                        </a>
                        <i class="icon icon--arrow-right breadcrumb__icon"></i>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
    </section>
{% endif %}
