{% if nodemenu is defined and nodemenu.breadCrumb|length > 1 %}

    <section class="container">
        <div class="row">
            <div class="col-md-12">

                <nav role="navigation" class="breadcrumb">
                    <ul class="list-reset breadcrumb__list">
                        <li class="breadcrumb__list__item">
                            {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
                            <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}" class="breadcrumb__list__link breadcrumb__list__link--home">
                                Home
                            </a>
                        </li>
                        {% for node in nodemenu.breadCrumb %}
                            {% if not loop.first %}
                                {% if loop.last %}
                                    <li class="breadcrumb__list__item breadcrumb__list__item--active">{{ node.title }}</li>
                                {% else %}
                                    <li class="breadcrumb__list__item">
                                        <a href="{{ path('_slug', { 'url': node.slug }) }}" class="breadcrumb__list__link">{{ node.title }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </section>

{% endif %}
