<div class="demosite-msg__wrapper js-demo-msg">
    <section id="demosite-msg" class="demosite-msg toggle-item">
        <div class="toggle-item__content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'demositemessage'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button type="button" class="js-toggle-btn toggle-button btn demosite-msg__btn" data-target="#demosite-msg" data-duration="200">
        <i class="toggle-btn__icon--show icon icon--arrow-down"></i>
        <i class="toggle-btn__icon--hide icon icon--arrow-up"></i>
    </button>
</div>
