{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}

	<h2>{{ nodetranslation.title }}</h2>
	{{ adminlist_widget(adminlist, 'KunstmaanFormBundle_formsubmissions_list', {"nodetranslationid" : nodetranslation.id}) }}

{% endblock %}