/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$black:             #333;
$white:             #fff;


$gray-darker:       #444;
$gray-dark:         #555;
$gray:              #aaa;
$gray-light:        #ddd;
$gray-lighter:      #eee;


$green-dark:        #00be8d;
$green:             #00d9a3;

$yellow-dark:       #c5cb00;
$yellow:            #e5e500;

$blue-dark:         #00a3d9;
$blue:              #00b6fb;
