/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */
$black:                 #373737;
$white:                 #FFFFFF;

{% if demosite %}
$grey--darker:          #444444;
$grey--dark:            #606060;
{% endif %}
$grey:                  #9D9D9D;
{% if demosite %}
$grey--light:           #E2E2E2;
$grey--lighter:         #F9F9F9;

$blue--dark:            #053046;
{% endif %}
$blue:                  #5CB8E6;

$red:                   #FF4600;


{% if demosite %}
/* Brand colors
 ========================================================================== */
$brand-primary:         $blue;
$brand-primary--dark:   $blue--dark;
$brand-danger:          $red;


/* Specifics
   ========================================================================== */
$text-color:            $grey--dark;
$hr-color:              $grey--light;
$link-color:            $brand-primary;
$link-color--hover:     darken($link-color, 15%);
{% else %}
/* Brand colors
  ========================================================================== */
$brand-primary:         $blue;
$brand-primary--dark:   darken($brand-primary, 15%);
$brand-danger:          $red;


/* Specifics
   ========================================================================== */
$text-color:            $black;
$hr-color:              $grey;
$link-color:            $brand-primary;
$link-color--hover:     darken($link-color, 15%);
{% endif %}


/**
 * @section Colors
 * @page Index
 */

{% if demosite %}
{% verbatim %}
/**
 * @section Greyscale
 * @sectionof Colors
 *
 * @color {#373737} Black - [Colors.Greyscale]
 * @color {#444444} Grey darker - [Colors.Greyscale]
 * @color {#606060} Grey dark - [Colors.Greyscale]
 * @color {#9D9D9D} Grey - [Colors.Greyscale]
 * @color {#E2E2E2} Grey light - [Colors.Greyscale]
 * @color {#F9F9F9} Grey lighter - [Colors.Greyscale]
 * @color {#FFFFFF} White - [Colors.Greyscale]
 */

/**
* @section Brand colors
* @sectionof Colors
*
* @color {#5CB8E6} Brand primary - [Colors.Brand colors]
* @color {#053046} Brand primary dark - [Colors.Brand colors]
* @color {#FF4600} Brand danger - [Colors.Brand colors]
*/
{% endverbatim %}
{% else %}
{% verbatim %}
/**
 * @section Greyscale
 * @sectionof Colors
 *
 * @color {#373737} Black - [Colors.Greyscale]
 * @color {#FFFFFF} White - [Colors.Greyscale]
 */

/**
* @section Brand colors
* @sectionof Colors
*
* @color {#5CB8E6} Brand primary - [Colors.Brand colors]
* @color {#053046} Brand primary dark - [Colors.Brand colors]
* @color {#FF4600} Brand danger - [Colors.Brand colors]
*/
{% endverbatim %}{% endif %}
