/* ==========================================================================
   Sizes

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Margins
   ========================================================================== */
$default-margin: 1.5rem;


{% if demosite %}
/* Navigation sizes
   ========================================================================== */
$search-height: 4.8rem;
$logo-height: $search-height;
$mainnav-height: $search-height;

$search-height-mobile: 3rem;
$logo-height-mobile: $search-height-mobile;
$mainnav-height-mobile: $search-height-mobile;

$mobile-nav-width: 26rem;
{% endif %}
