/* ==========================================================================
   Typography

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$webfont: 'Lato', $sans-serif; // 100, 300, 400, 700, 900

$bodyfont: $webfont;
$headerfont: $webfont;

$iconfont: "icomoon-front";
