{% set action = itemAction.getUrlFor(item) %}
<form method="post" action="{{ path(action['path'], action['params']) }}">
    <input type="hidden" name="token" value="{{ csrf_token('exception-resolve-item') }}"/>

    <button type="submit" class="btn-link">
        {% if item.isResolved() %}
            <i class="fa fa-toggle-on" aria-hidden="true"></i> {{ "settings.exceptions.unresolved" | trans }}
        {% else %}
            <i class="fa fa-toggle-off" aria-hidden="true"></i> {{ "settings.exceptions.resolved" | trans }}
        {% endif %}
    </button>
</form>
