<form method="post" action="{{ path(action.getUrl()["path"], action.getUrl()["params"]) }}">
    <input type="hidden" name="token" value="{{ csrf_token('exception-resolve_all') }}"/>

    <button type="submit" class="btn btn-default btn--raise-on-hover">
        {{ action.getLabel() | trans }}
    </button>
</form>
