{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'omnext.home' | trans }}</a></li>
		{% block subbreadcrumb %}
			<li class="active">{{ 'settings.title' | trans }}</li>
		{% endblock %}
	</ul>
{% endblock %}

{% block sidebar %}
    {% include "KunstmaanAdminBundle:Settings:sidebar.html.twig" %}
{% endblock %}

{% block content %}
	<div class="page-header">
	    <h1>{{ 'settings.title' | trans }}</h1>
	</div>
{% endblock %}
