{% extends 'KunstmaanAdminListBundle:Default:list.html.twig' %}

{% block extra_actions_header %}
    <div class="extra_actions_header">
        <div class="btn-group pull-right">

            <a class="btn btn-primary btn-medium" href="{{ path('KunstmaanTranslatorBundle_settings_translations_add') }}">Add translation</a>

            <a class="btn btn-primary btn-medium" href="{{ path('KunstmaanTranslatorBundle_command_clear_cache') }}">Refresh live</a>

            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Import <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('KunstmaanTranslatorBundle_command_import') }}" >Import</a></li>
                <li><a href="{{ path('KunstmaanTranslatorBundle_command_import_forced') }}" >Import forced</a></li>
            </ul>
        </div>
    </div>

{% endblock %}