/* ==========================================================================
   Headings

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   sizes are defined without unit to enable the use of the rem function
   ========================================================================== */

$line-height--headers:  1.2;

$font-size-h1:          45px;
$font-size-h1--small:   32px;
$font-size-h2:          32px;
$font-size-h3:          23px;
$font-size-h4:          23px;
$font-size-h5:          18px;
$font-size-h6:          14px;
