{{ "{% extends '" ~ bundle.getName() ~ ":Layout:layout.html.twig' %}" }}
{{ "
{% block title %} - {{ status_code }} - {{ status_text }}{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>The page you requested could not be found!</h2>
{% endblock %}
" }}
