{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert-message warning">
        <a class="close" href="{{ path('fos_user_security_login') }}">×</a>
        <strong>{{ 'form.warning' | trans }}: </strong>
        {{ 'The username or email address does not exist.' | trans }}
</div>
{% endblock %}
