{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert-message warning">
        <a class="close" href="{{ path('fos_user_security_login') }}">×</a>
        <strong>{{ 'form.warning' | trans }}: </strong>
        {{ 'resetting.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
</div>
{% endblock %}
