{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert fade in">
        <a class="close" href="{{ path('fos_user_security_login') }}">×</a>
        {{ 'We have sent you an email with a link to reset your password.' | trans }}
    </div>
{% endblock %}
