{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert alert-error">
        <strong>{{ 'form.error' | trans }}:</strong> {{ 'The password for this user has already been requested.' |trans }}
        <a class="btn alert__action" href="{{ path('fos_user_security_login') }}">
            <i class="fa fa-times"></i>
        </a>
    </div>
{% endblock fos_user_content %}
