{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert-message error">
        <a class="close" href="{{ path('fos_user_security_login') }}">×</a>
        <strong>{{ 'form.error' | trans }}: </strong>
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>
{% endblock fos_user_content %}
