{% if pagepartref is defined %}
	<script>
		$(document).ready(function() {
		    $('.urlchooser').on('click', function(ev) {
		        ev.preventDefault();
		        window.open("{{ path('KunstmaanPagePartBundle_selecturl') }}", "_blank","toolbar=0,width=400,height=500");
		    });
		});
		
		window.ImagegalleryImageChosenCallback['{{ pagepartref.id }}'] = function(url) {
		    $('.urlchooser').val(url);
		}
	</script>
{% endif %}

<a href="{{ resource.url }}">{{ resource.url }}</a>