/* ==========================================================================
   Pageparts - Link pp
   ========================================================================== */

/* General
   ========================================================================== */
.link-pp {
    margin: $default-margin 0;
{% if demosite %}

    font-size: 1.5rem;

    a {
        display: inline-block;

        color: $black;
        font-weight: 600;
    }
{% endif %}
}

{% if demosite %}
/* Link
   ========================================================================== */
.link-pp__link {
    display: inline-block;

    color: $black;
    font-weight: 600;
}


/* Icon
   ========================================================================== */
.link-pp__icon {
    @extend .icon--arrow-right;

    display: inline-block;
    margin-left: .9rem;

    font-size: .9rem;

    &:before {
        @include iconfont-reset;
    }
}
{% endif %}

/*doc
---
title: link-pp
name: 06_link-pp
category: Pageparts
---

```html_example
<p class="link-pp">
    <a href="/">
        Link text
        <i class="icon icon--arrow-right icon--small"></i>
    </a>
</p>
```

*/
