/* ==========================================================================
   Pageparts - Totop pp
   ========================================================================== */

.totop-pp {
    padding-bottom: 1rem;
    margin: 5rem 0;

    border-bottom: 1px solid $hr-color;

    font-size: 1.5rem;
    text-align: right;

    a {
        display: inline-block;

        color: $text-color;
    }
}


/**
* @doc docs/totop-pp.md
* @section
* @sectionof Pageparts
*/
