/* ==========================================================================
   Pageparts - Video pp
   ========================================================================== */

/* General
   ========================================================================== */
.video-pp {
    margin: 3rem 0;
}


.video-pp__caption {
    margin: 1rem 0 0;

    font-size: 1.4rem;
}


/*doc
---
title: video-pp
name: 10_video-pp
category: Pageparts
---

```html_example
<div class="video-pp">
    <div data-type="youtube" data-video-id="WPx-Oe2WrUE"></div>
</div>
```

*/
