/* ==========================================================================
   Date time group
   ========================================================================== */

.date-time-group {
    > div {
        display: flex;

        > .date-widget {
            flex: 1 1 60%;
        }

        > .time-widget {
            flex: 1 1 40%;
            margin-left: 24px;
        }
    }
}
