/* ==========================================================================
   Form Group
   ========================================================================== */

/* General
   ========================================================================== */
.form-group {
    @extend %clearfix;

    position: relative;

    max-width: 40rem;
}

.form-group--no-max-width {
    max-width: none;
}

.form-group--datetime {
    @media (min-width: $screen-sm-min) {

        > .form-group--date {
            width: 180px;
        }

        > .form-group--time {
            width: 130px;
        }
    }
}


/* Select 2 Fix
   ========================================================================== */

.form-group {

    .select2-container {
        width: 100% !important;
    }
}
