/* ==========================================================================
   Form Group
   ========================================================================== */

/* General
   ========================================================================== */
.form-group {
    max-width: 40rem;
}

.form-group--no-max-width {
    max-width: none;
}


/* Select 2 Fix
   ========================================================================== */
.form-group {

    .select2-container {
        width: 100% !important;
    }
}
