/* ==========================================================================
   Form Actions
   ========================================================================== */

/* General
   ========================================================================== */
.form-control {
    max-width: 40rem;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-box-shadow: none;
    box-shadow: none;
}



/* Icon in control
   ========================================================================== */
.form-group--icon-in-control {
    position: relative;
}

.form-group--icon-in-control__form-control {
    padding-left: 3rem;
}

.form-group--icon-in-control__icon {
    position: absolute;
    left: 1rem;
    top: 3.3rem;

    color: $gray-lighter;
}


/* File upload button
   ========================================================================== */
input[type=file].form-control {
    height: auto;
}

/* counter
   ========================================================================== */
.form-control__character-counter {
    padding: .5rem 0 0 0;
    display: inline-block;

    line-height: 1;
    color: $gray;

    &--warning {
        color: $warning;
    }

    @media (min-width: $screen-sm) {
        position: absolute;
        left: 40rem;
        top: calc(50% + 1rem);

        padding: .5rem;

        transform: translate3d(0, -50%, 0);
    }
}

.rich-editor + .form-control__character-counter {
    position: static;

    @media (min-width: $screen-sm) {
        position: static;
        left: 0;
        top: 0;

        padding: .5rem;

        transform: none;
    }
}
