/* ==========================================================================
   Form Actions
   ========================================================================== */

.form-properties {
    margin: 0 0 1rem;

    background: $white;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .table-bordered {
        border-top: 0;
    }
}
