/* ==========================================================================
   Form Actions
   ========================================================================== */

/* General
   ========================================================================== */
.form-control {
    max-width: 40rem;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-box-shadow: none;
    box-shadow: none;
}



/* Icon in control
   ========================================================================== */
.form-group--icon-in-control {
    position: relative;
}

.form-group--icon-in-control__form-control {
    padding-left: 3rem;
}

.form-group--icon-in-control__icon {
    position: absolute;
    left: 1rem;
    top: 3.3rem;

    color: $gray-lighter;
}


/* File upload button
   ========================================================================== */
input[type=file].form-control {
    height: auto;
}
