/* ==========================================================================
   Slug Chooser
   ========================================================================== */
.slug-chooser {
    .input-group {
        position: relative;

        display: inline-flex;
        align-items: stretch;
        width: auto;
        min-width: 40rem;
        max-width: 100%;
    }

    .form-control,
    .input-group-btn,
    .input-group-addon {
        width: auto;
    }

    .form-control {
        flex: 1 0 auto;
        width: 200px;
    }

    .input-group-addon {
        display: block;
        overflow: hidden;
        padding-top: 9px;
        padding-bottom: 8px;

        text-overflow: ellipsis;
    }
}
