/* ==========================================================================
   Rich eEdit
   ========================================================================== */

/* General
   ========================================================================== */
.wysiwyg-editor {}

/* Character count
   ========================================================================== */
.wysiwyg-editor__character-counter {
    padding: .5em 1em;

    background: var(--ck-color-toolbar-background);

    border: 1px solid var(--ck-color-toolbar-border);
    border-top: 0;

    color: $gray;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;

    &.limit-exceeded {
        color: $red;
    }

    &.limit-close {
        color: $orangy;
    }
}
