/* ==========================================================================
   Animations - Rotate Plane
   ========================================================================== */

@keyframes rotatePlane {
    0% {
        transform: perspective(120px);
    }

    50% {
        transform: perspective(120px) rotateY(180deg);
    }

    100% {
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
