{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block sidebar %}
    {% include 'KunstmaanMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'aviary.title'|trans }}</h1>
    </div>
    <div>
        <p>{{ 'aviary.nothing'|trans }}</p>
    </div>
{% endblock %}
