<div class="container">
    <% if demosite %><% endif %>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="frontend/img/icons/lamp.svg" alt="">
            {{ render_pageparts(page, 'left_column') }}
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="frontend/img/icons/user.svg" alt="">
            {{ render_pageparts(page, 'middle_column') }}
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="frontend/img/icons/layout.svg" alt="">
            {{ render_pageparts(page, 'right_column') }}
        </div>
    </div>
</div>
