<div class="row-fluid">
    <div class="span12">
        {{ render_pageparts(page, 'main') }}
    </div>
    <div class="span12">
        {% include '~~~BUNDLE~~~:Pages:HomePage/slider.html.twig' %}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{ render_pageparts(page, 'footer') }}
    </div>
</div>
