<div class="container">
    <div class="row row--padded-large">
        <div class="col-md-4 col--padded">
            {{ render_pageparts(page, 'left_column') }}
        </div>
        <div class="col-md-4 col--padded">
            {{ render_pageparts(page, 'middle_column') }}
        </div>
        <div class="col-md-4 col--padded">
            {{ render_pageparts(page, 'right_column') }}
        </div>
    </div>
</div>
