<% if demosite %>
    <header class="header-visual">
        <div class="container-fluid">
            <div class="row">
                <figure class="col-md-12">
                    <img src="/frontend/img/demosite/stocks/homepage__header.jpg" alt="header visual" class="header-visual__img">
                    <figcaption class="header-visual__content">
                        <div class="header-visual__content__inner">
                            <h1 class="header-visual__title">
                                Fixed Gear
                            </h1>
                            <p class="header-visual__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum corporis adipisci maiores nobis.
                            </p>
                            <a href="#" class="btn header-visual__btn">
                                View our projects
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">

                    {{ render_pageparts(page, 'section1') }}

                    {#
                    <h1>What we do</h1>
                    <div class="introtext-pp">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aspernatur aliquam velit doloremque! Nihil reiciendis, officia impedit hic et, ut eveniet repellat. Nesciunt voluptatem, ex?</p>
                    </div>
                    <div class="link-pp">
                        <a href="#" class="link-pp__link">More about us <i class="link-pp__icon"></i></a>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </section>

    <section class="splash splash--gray-lighter">
        <div class="container-fluid">
            <div class="row row--flex row--align-end">
                <div class="col-md-6 col-sm-6">
                    <h1>Our gear</h1>
                    <div class="text-pp">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias accusamus sint nostrum at, omnis ad quia ipsum fugit est magnam itaque error voluptates aliquam odio repellendus quis adipisci in. Alias!</p>
                    </div>
                    <div class="link-pp">
                        <a href="#" class="link-pp__link">Discover our projects <i class="link-pp__icon"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="/frontend/img/demosite/stocks/fixie1.png" alt="Bike">
                </div>
            </div>
        </div>
    </section>

    <section class="splash">
        <div class="container-fluid">
            <div class="row row--flex row--align-end row--reverse">
                <div class="col-md-6 col-sm-6">
                    <h1>Lorem ipsum</h1>
                    <div class="text-pp">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias accusamus sint nostrum at, omnis ad quia ipsum fugit est magnam itaque error voluptates aliquam odio repellendus quis adipisci in. Alias!</p>
                    </div>
                    <div class="link-pp">
                        <a href="#" class="link-pp__link">Take a look at this <i class="link-pp__icon"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="/frontend/img/demosite/stocks/fixie2.png" alt="Bike">
                </div>
            </div>
        </div>
    </section>

    <section class="splash splash--gray-lighter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>How we work</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="text-center">
                        <div class="image-pp">
                            <img src="/frontend/img/demosite/icons/lamp.svg" alt="Lamp icon" class="img-icon">
                        </div>
                        <h5>Idea</h5>
                    </div>
                    {{ render_pageparts(page, 'left_column') }}
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-center">
                        <div class="image-pp">
                            <img src="/frontend/img/demosite/icons/user.svg" alt="User icon" class="img-icon">
                        </div>
                        <h5>Prototyping</h5>
                    </div>
                    {{ render_pageparts(page, 'middle_column') }}
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-center">
                        <div class="image-pp">
                            <img src="/frontend/img/demosite/icons/layout.svg" alt="Layout icon" class="img-icon">
                        </div>
                        <h5>Design</h5>
                    </div>
                    {{ render_pageparts(page, 'right_column') }}
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>The team</h1>
                    <div class="image-pp">
                        <img src="http://placehold.it/1145x850" alt="Team Grid image">
                    </div>
                </div>
            </div>
        </div>
    </div>

<% else %>

    <div class="container">
        <header>
            <h1>
                Homepage
            </h1>
        </header>

        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
    </div>

<% endif %>
