<div class="row">
    <div class="nine columns">
        {{ render_pageparts(page, 'main') }}
    </div>
    <div class="three columns">
        {{ render_pageparts(page, 'banners') }}
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        {{ render_pageparts(page, 'footer') }}
    </div>
</div>