<section class="slider-pp">
    <div class="slider-pp__flexslider js-flexslider flexslider" data-animation="slide" data-control-nav="true" data-slideshow="slideshow" data-start-at="0">
        <ul class="slides">
            {{ render_pageparts(page, 'slider') }}
        </ul>
    </div>
    <nav class="slider--pp__thumbs js-thumbs">
        <div class="slider-pp__thumbs-wrapper">
            {% set pps = getpageparts(page, 'slider') %}
            {% for pp in pps %}
                <div class="slider-pp__thumbs--item js-thumbs--item">
                    {% if pp.title is not empty %}
                    <h4 class="slider-pp__thumbs__title">
                        {{ pp.title }}
                    </h4>
                    {% endif %}
                    {% if pp.tickText is not empty %}
                    <p class="slider-pp__thumbs__text">
                        {{ pp.tickText }}
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </nav>
</section>
