<section class="slider-pp slider-pp--bottom">
    <div class="slider-pp__flexslider js-flexslider flexslider">
        <ul class="slides">
            {{ render_pageparts(page, 'slider') }}
        </ul>
    </div>
    <nav class="slider-pp__thumbs js-thumbs">
        <div class="slider-pp__thumbs-wrapper">
            {% set pps = getpageparts(page, 'slider') %}
            {% for pp in pps %}
                <div class="slider-pp__thumbs--item js-thumbs--item">
                    <p>{% if pp.tickText is not empty %}{{ pp.tickText }}{% endif %}</p>
                </div>
            {% endfor %}
        </div>
    </nav>
</section>
