/* ==========================================================================
   Buttons
   ========================================================================== */

/* General
   ========================================================================== */
.btn--no-border {
    border: 0;
}

.btn--no-hor-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn--raised {
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);

    &:hover {
        box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
    }

    &.btn-default {
        box-shadow: 0 1px 6px rgba(0,0,0,.08),0 1px 6px rgba(0,0,0,.08);

        &:hover {
            box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
        }
    }
}

.btn--raise-on-hover {
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);

    &:hover {
        box-shadow: 0 3px 10px rgba(0,0,0,.12),0 3px 6px rgba(0,0,0,.12);
    }
}

.btn--flat-top {
    border-radius: 0 0 $border-radius-base $border-radius-base;
    border-top: 0;
}


/* Icons
   ========================================================================== */
.btn--icon-left {
    padding-left: 1rem;

    .btn__icon {
        margin-right: .5rem;
    }
}


/* Types
   ========================================================================== */
.btn-default {

    &:hover {
        background: $white;
        border-color: $gray-lighter;
    }
}

.btn-primary {

    &:hover {
        background: $green;
        border-color: $green;
    }
}



/* Icons in buttons
   ========================================================================== */
.btn__icon {
    color: $gray-light;
}
