/* ==========================================================================
   Bodycopy

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Line-height
   ========================================================================== */
{% if demosite %}
$line-height--base:     1.7;
{% else %}
$line-height--base:     1.6;
{% endif %}

$line-height--small:    1.1;
$line-height--medium:   1.2;


/* Font sizes
   ========================================================================== */
{% if demosite %}
$font-size--base:               18px;
{% else %}
$font-size--base:               100%;
{% endif %}
$font-size--small:              .75rem;
$font-size--big:                1.125rem;
