/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}


/* Html & body
   ========================================================================== */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    height: 100%;
}

body {
    min-height: 100%;

{% if demosite %}
    background-color: $brand-primary;
{% else %}
    background-color: $white;
{% endif %}
}
{% if demosite %}

.emulate-pulldown {
    background-color: $white;
}
{% endif %}
