/* ==========================================================================
   Icon font

   Based on icomoon style.css
   ========================================================================== */

/* General
   ========================================================================== */

// TODO: base64 webfonts and iconfont

@font-face {
    font-family: $iconfont;
    src:url('#{$iconfont-path}/#{$iconfont}.eot?vztw97');
    src:url('#{$iconfont-path}/#{$iconfont}.eot?#iefixvztw97') format('embedded-opentype'),
        url('#{$iconfont-path}/#{$iconfont}.woff?vztw97') format('woff'),
        url('#{$iconfont-path}/#{$iconfont}.ttf?vztw97') format('truetype'),
        url('#{$iconfont-path}/#{$iconfont}.svg?vztw97##{$iconfont}') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
    font-family: $iconfont;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* Icons
   ========================================================================== */

.icon--weather-bliksem:before {
    content: "\e619";
}

.icon--menu:before {
    content: "\e618";
}

.icon--arrow-down-light:before {
    content: "\e600";
}

.icon--arrow-down:before {
    content: "\e601";
}

.icon--arrow-left-light:before {
    content: "\e602";
}

.icon--arrow-left:before {
    content: "\e603";
}

.icon--arrow-right-light:before {
    content: "\e604";
}

.icon--arrow-right:before {
    content: "\e605";
}

.icon--arrow-up-light:before {
    content: "\e606";
}

.icon--arrow-up:before {
    content: "\e607";
}

.icon--close:before {
    content: "\e608";
}

.icon--double-arrow-down:before {
    content: "\e609";
}

.icon--download:before {
    content: "\e60a";
}

.icon--edit:before {
    content: "\e60b";
}

.icon--plus:before {
    content: "\e60c";
}

.icon--social-facebook:before {
    content: "\e60d";
}

.icon--social-linkedin:before {
    content: "\e60e";
}

.icon--social-mail:before {
    content: "\e60f";
}

.icon--social-twitter:before {
    content: "\e610";
}

.icon--weather-bewolkt:before {
    content: "\e611";
}

.icon--weather-zonnig_bewolkt:before {
    content: "\e612";
}

.icon--weather-regen:before {
    content: "\e613";
}

.icon--weather-sneeuw:before {
    content: "\e614";
}

.icon--weather-zon:before {
    content: "\e615";
}

.icon--zaalopstelling-theater:before {
    content: "\e616";
}

.icon--zaalopstelling-uvorm:before {
    content: "\e617";
}

