/* ==========================================================================
   Typography
   ========================================================================== */

html, body {
    font-size: $font-size-base;
}

* {
    font-family: $bodyfont;
    font-weight: 300;
}

p, ul, ol {
}

h1, h2, h3, h4, h5, h6 {
}

strong {
    font-weight: bold;
}

a {
    @include transition(all .2s ease-in-out);

    &:hover, &:focus, &:active {
    }
}

hr {
    border-color: $hr-color;
    margin: $default-margin 0;
}

// Text-pp --> pageparts


  ///////////////
 //   THEME   //
///////////////

h1 {
    color: $blue;
    font-size: 3rem;
    margin: 2rem 0;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}
h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
}
h2, h3, h4, h5, h6 {
    margin: 1.6rem 0;
}
