/* ==========================================================================
   Atoms - tables
   ========================================================================== */

table,
th,
td {
    border-collapse: collapse;
    border: none;

    text-align: left;
}

table {
    width: 100%;
}

th,
td {
    padding: 4px;
}

tr:not(:last-child) {
    border-bottom: 1px solid $color-greyscale-black;
}

/*
 * @doc docs/tables.md
 * @section Tables
 * @sectionof Atoms
 */
