/* ==========================================================================
   App Header
   ========================================================================== */

.app__header {
    background: $black;
}

.app__header__brand {
    display: block;

    background: $green;
    font-size: 1.5rem;
    line-height: 70px;
    color: $white;
}

.app__header__brand__link {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
