/* ==========================================================================
   App Header
   ========================================================================== */

.app__header {
    background: $black;
}

.app__header__brand {
    position: relative;
    z-index: 10;

    display: block;

    font-weight: 500;

    &, &:hover, &:focus {
        background: $green;
        color: $white;
    }

    &:after {
        content: '';

        position: absolute;
        top: 0;
        right: -1.4rem;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 2.2rem 0 2.2rem 1.4rem;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;

        //Smooth edges fix for Firefox
        -moz-transform: scale(.9999);
    }
}

.app__header__brand__img {
    max-height: 22px;
}

.app__header__brand__link {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.app__nav__container {

    @media (min-width: $screen-sm) {

        .nav > li:first-child > a {
            padding-left: 2.4rem;
        }
    }
}
