/* ==========================================================================
   App Sidebar
   ========================================================================== */

/* General
   ========================================================================== */
.app__sidebar {
    z-index: 0;
    position: absolute;

    @media (max-width: $screen-md) {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;

        padding-right: 4.5em;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md){
        width: 30rem;
    }

    &:before {
        @extend %loading;

        top: 7rem;
    }


}
.app__sidebar--tree-ready {
    &:before {
        display: none;
    }

    .app__sidebar__module {
        @include transition(opacity .3s ease);

        opacity: 1;
    }
}

.app__sidebar__module {
    opacity: 0;
}

.app__sidebar__navigation {
    width: 100%;
    overflow: auto;
}


/* Toggle
   ========================================================================== */
.app__sidebar-toggle {
    position: absolute;
    top: .5rem;
    left: 1rem;

    &:hover {
        color: $green;
    }

    &:focus {
        outline: none;
    }
}

.app__sidebar-toggle__hide-icon {
    display: none;

    @media (min-width: $screen-md) {
        display: inline-block;
    }
}

.app__sidebar-toggle__show-icon {
    display: inline-block;

    @media (min-width: $screen-md) {
        display: none;
    }
}
