/* ==========================================================================
   Login
   ========================================================================== */

/* General
   ========================================================================== */
.login {
    @include viewport-unit(min-height, 100vh);
    overflow: hidden;
}



/* Title
   ========================================================================== */
.login__title {
    margin: 8rem auto 2rem;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        margin: 14rem auto 2rem;
    }
}



/* Form
   ========================================================================== */
.login__form {
    position: relative;

    margin: 0 auto;
    width: 90%;
    max-width: 40rem;
    padding: 2em;

    background: $white;
    border-radius: $default-border-radius;
}

.login__form__forgot-pw {
    position: absolute;
    bottom: -2.2rem;
    right: 0;

    text-decoration: underline;
    font-size: 1.3rem;
}

.login__form__remember-me {
    overflow: hidden;
    margin-top: -1rem;
}

.login__form__remember-me__check {
    float: right;
    margin: 0;

    font-size: 1.3rem;
    color: $gray;

    input[type="checkbox"] {
        margin-top: 3px;
    }
}



/* Logo
   ========================================================================== */
.login__logo {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
}

/* Google Sign in
   ========================================================================== */
#app_oauth_signin {
    display: block;
    width: 100%;
    margin: 2rem 0 0;

    text-align: center;
}
