/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Default
   ========================================================================== */
$black:             #333;
$white:             #fff;

$gray-light:        #ddd;

$green:             #00B1B2;

$blue:              #2997ce;
$blue-ultralight:   #f1f3f9;


/*doc
---
title: Colors
name: 01_colors
category: General
---
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #373f49;'></i><code class='styleguide__code'>#373f49 - $black</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #fff;'></i><code class='styleguide__code'>#fff - $white</code></div>
*/
