/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Default
   ========================================================================== */
$black:             #333;
$white:             #fff;

$gray-ultralight:   #eee;

$green:             #00B1B2;
$red:               #d9534f;

$blue:              #2997ce;
$blue-ultralight:   #F6F7F9;
