/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Default
   ========================================================================== */
$black:             #373f49;
$white:             #fff;



/*doc
---
title: Colors
name: 01_colors
category: General
---
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #23252b;'></i><code class='styleguide__code'>#23252b - $black-black</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #373f49;'></i><code class='styleguide__code'>#373f49 - $black</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #fff;'></i><code class='styleguide__code'>#fff - $white</code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #6b7179;'></i><code class='styleguide__code'>#6b7179 - $grey--dark</code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #aaa;'></i><code class='styleguide__code'>#aaa - $grey</code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #e3e3e3;'></i><code class='styleguide__code'>#e3e3e3 - $grey--medium</code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #f3f3f3;'></i><code class='styleguide__code'>#f3f3f3 - $grey--light</code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #8597a2;'></i><code class='styleguide__code'>#8597a2 - $blue-grey</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #adb9bf;'></i><code class='styleguide__code'>#adb9bf - $blue-grey--light</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #001f49;'></i><code class='styleguide__code'>#001f49 - $blue--ultra-dark</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #003666;'></i><code class='styleguide__code'>#003666 - $blue--dark</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #003767;'></i><code class='styleguide__code'>#003767 - $blue</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #005197;'></i><code class='styleguide__code'>#005197 - $blue--light</code></code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #1c9280;'></i><code class='styleguide__code'>#1c9280 - $green--dark</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #1bc8a1;'></i><code class='styleguide__code'>#1bc8a1 - $green</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #2be4ae;'></i><code class='styleguide__code'>#2be4ae - $green--light</code></code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #e5271d;'></i><code class='styleguide__code'>#e5271d - $red</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #f16529;'></i><code class='styleguide__code'>#f16529 - $orange</code></code></div>
*/
