/* ==========================================================================
   Form Config

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$form-max-width: 350px;
$form-border-radius: 8px;
$form-border: 1px solid $color-greyscale-grey;
