/* ==========================================================================
   Forms - Form control error
   ========================================================================== */

.form-control-error {
    padding: 0 $spacing-mobile-sm;
    margin: $spacing-mobile-xs 0 0 0;

    color: $color-error;
    font-family: $font-family-primary;
    font-size: 18px;
}
