<a href="{{ url }}" class="{% if options['linkClass'] is defined %}{{ options['linkClass'] }}{% endif %}{% if active and options['activeClass'] is defined %} {{ options['activeClass'] }}{% endif %}" {% if menuItem['newWindow'] is defined and menuItem['newWindow']%}target="_blank"{% endif %}>{{ title }}</a>
