parameters:
    kunstmaan_node_search.node_index_update.listener.class: Kunstmaan\NodeSearchBundle\EventListener\NodeIndexUpdateEventListener

services:
    kunstmaan_node_search.node_index_update.listener:
        class: '%kunstmaan_node_search.node_index_update.listener.class%'
        arguments: ['@kunstmaan_node_search.search_configuration.node', '@doctrine.orm.default_entity_manager']
        tags:
            - { name: doctrine.event_listener, event: preUpdate,   method: preUpdate }
            - { name: kernel.event_listener, event: kunstmaan_node.postPublish,   method: onPostPublish }
            - { name: kernel.event_listener, event: kunstmaan_node.postPersist,   method: onPostPersist }
            - { name: kernel.event_listener, event: kunstmaan_node.postDelete,    method: onPostDelete }
            - { name: kernel.event_listener, event: kunstmaan_node.postUnPublish, method: onPostUnPublish }
