{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Folder:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
	<li class="active">{{ 'media.image.images' | trans | capitalize }}</li>
{% endblock %}

{% block content %}
	<a href="{{ path('KunstmaanMediaBundle_folder_create', {'type': 'image'}) }}">add folder</a>
{% endblock %}
