{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    <ul>
        <li class="header">Video galleries</li>
    </ul>
{% endblock %}

{% block subbreadcrumb %}
	<li class="active">Video</li>
{% endblock %}
