{% if resource.types is not empty %}
    <fieldset class="panel panel-default form-properties">
        <div class="panel-body">
            {% for typeName in resource.types|keys %}
                {{ form_widget(formView[typeName]) }}
            {%  endfor %}
        </div>
    </fieldset>
{% endif %}
