<div class="permissionscontainer">
{% spaceless %}
    <table class="table table-bordered table-striped">
        <thead>
           <tr>
               <th>Groupname</th>
                {% for permissionName in permissionadmin.getPossiblePermissions() %}
                    <th>{{ permissionName }}</th>
                {% endfor %}
           </tr>
        </thead>
        <tbody>
            {% for group in permissionadmin.getAllGroups() %}
	            <tr>
	                <td>
	                    {{ group.getName() }}
	                </td>
	                {% set permission = permissionadmin.getPermission(group) %}
	                {% for permissionName in permissionadmin.getPossiblePermissions() %}
		                <td>
		                    <input type="checkbox" name="permissions[{{ group.id }}][{{ permissionName }}]" {% if permission is not null and permission.hasPermission(permissionName) %}checked="checked"{% endif %} />
		                </td>
	                {% endfor %}
	            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
</div>