/* Containers
   ========================================================================== */
.kmcc-container {
    position: relative;

    max-width: $kmcc_container-width + ($kmcc_container-padding * 2);
    padding-left: $kmcc_container-padding;
    padding-right: $kmcc_container-padding;
    margin: 0 auto;

    @media (min-width: $kmcc_screen-md) {
        max-width: $kmcc_container-width + ($kmcc_container-padding--md * 2);
        padding-left: $kmcc_container-padding--md;
        padding-right: $kmcc_container-padding--md;
    }

    @media (min-width: $kmcc_screen-lg) {
        max-width: $kmcc_container-width + ($kmcc_container-padding--lg * 2);
        padding-left: $kmcc_container-padding--lg;
        padding-right: $kmcc_container-padding--lg;
    }

    > :last-child[class*='-pp'] {
        margin-bottom: 0;
    }
}

.kmcc-row {
    display: flex;
    margin: 0 -15px;

    flex-direction: column;

    @media (min-width: $kmcc_screen-sm) {
        flex: 1 1;
    }

    @media (min-width: $kmcc_screen-md) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.kmcc-col {
    max-width: none;
    margin: 0 15px;

    font-size: 15px;

    p {
        margin: 0;
        padding: 0;
    }

    @media (min-width: $kmcc_screen-md) {
        max-width: 280px;
        margin: 0 15px 25px;
    }
}
